* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
}

textarea,
input,
button,
select,
a {
  outline: none;
  border-radius: 0;
  font-weight: 500;
  font-family: "Tilda Sans", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  touch-action: manipulation;
}

html,
body {
  height: 100%;
  font-weight: 500;
  font-family: "Tilda Sans", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

h1 {
  color: $black-400;
  @include max-screen(tablet) {
    font-size: 24px;
    font-weight: 800;
    line-height: 28px;
  }
  @include min-screen(tablet-2x) {
    font-size: 48px;
    font-weight: 700;
    line-height: 50px;
  }
}

h2 {
  font-weight: 400;
  text-align: left;
  @include max-screen(tablet-2x) {
    font-size: 24px;
    line-height: 28px;
  }
  @include min-screen(laptop) {
    font-size: 30px;
    line-height: 32px;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Panton";
}

.list {
  list-style-position: inside;
  display: flex;
  flex-direction: column;
  li {
    position: relative;
    padding-left: 12px;
    &:before {
      content: "";
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background-color: $blue-600;
      position: absolute;
      left: 0;
      top: 8px;
    }
  }
}

svg {
  fill: currentColor;
  stroke: currentColor;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.render {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;

  width: 100%;
  height: 100%;

  background-color: $white;
}

.wrapper {
  margin: 0 auto;
  width: 100%;
  padding: 0 #{$container-padding};
  @include min-screen(tablet) {
    max-width: calc(#{$screen-tablet} + #{$container-padding * 2});
  }
  @include min-screen(tablet-2x) {
    max-width: calc(#{$screen-tablet-2x} + #{$container-padding * 2});
  }
  @include min-screen(laptop) {
    max-width: calc(#{$screen-laptop} + #{$container-padding * 2});
  }
  @include min-screen(desktop) {
    max-width: calc(#{$screen-desktop} + #{$container-padding * 2});
  }
}

.wide-wrapper {
  margin: 0 auto;
  @include min-screen(tablet-2x) {
    padding: 0 #{$container-padding};
  }
  @include mm-screen(tablet-2x) {
    max-width: calc(#{$screen-tablet-2x} + #{$container-padding * 2});
  }
  @include mm-screen(laptop) {
    max-width: calc(#{$screen-laptop} + #{$container-padding * 2});
  }
  @include min-screen(desktop) {
    max-width: calc(#{$screen-desktop} + #{$container-padding * 2});
  }
}

.inner-wrapper {
  margin: 0 auto;
  width: 100%;
  @include mm-screen(tablet) {
    max-width: calc(#{$screen-tablet} + #{$container-padding * 2});
  }
  @include max-screen(tablet) {
    padding: 0 #{$container-padding};
  }
  @include mm-screen(laptop) {
    max-width: calc(#{$screen-laptop} + #{$container-padding * 2});
  }
  @include min-screen(desktop) {
    max-width: calc(#{$screen-desktop} + #{$container-padding * 2});
  }
}

@media (prefers-reduced-motion: reduce) {
  * {
    transition-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
  }
}

//ya map marker
.icon-marker {
  background-color: transparent;
}