$transition-default: 0.3s;
$transition-slow: 0.8s;

$container-padding: 20px;

$screen-desktop: 1296px;
$screen-laptop: 1260px;
$screen-tablet-2x: 1024px;
$screen-tablet: 768px;

$mobile-wrapper: 320px;

$box-shadow-one: #1544821A;
$box-shadow-two: #4B6AA626;
$box-shadow-three: #14448B0D;

$bg-blue: #F4F6FA;
$bg-blue-100: #F4F6FA;
$bg-blue-200: #EEF3FB;


$white: #ffffff;
$white-100: #F2F4F8;

$black: #000000;

$black-300: #474F5A;
$black-400: #263141;
$black-500: #263238;
$black-600: #0D192B;

$cyan-400: #10A2EC;

$blue-border: #386AE040;
$blue-border-light: #2768C926;

$blue-100: #F1F4F9;
$blue-300: #0093DD;
$blue-400: #4E78DA;
$blue-500: #1F56D8;
$blue-600: #3663CB;
$blue-700: #2768C9;
$blue-800: #386AE0;



$gray-400: #A1ABB9;

$green-400: #23C1A1;
$green-500: #21A038;

$orange-300: #EF8807;
$orange-400: #FDAE38;
$orange-500: #FE9410;

$red-400: #FC4210;
$red-500: #FC4310;

$yellow-400: #FFCC00;