$transition-fast: 0.2s;
$transition-default: 0.3s;
$transition-slow: 0.8s;

$container-padding: 20px;

$screen-desktop: 1296px;
$screen-laptop: 1240px;
$screen-tablet-2x: 1024px;
$screen-tablet: 768px;

$mobile-wrapper: 320px;

$bg-blue: #F4F6FA;
$bg-blue-100: #EEF3FB;

$white: #ffffff;
$white-100: #F2F4F8;

$black: #000000;

$black-300: #474F5A;
$black-400: #263141;
$black-500: #263238;
$black-550: #194A66;
$black-600: #0D192B;

$cyan-400: #10A2EC;

$blue-50: #85D4F3;
$blue-100: #F1F4F9;
$blue-150: #E3EBF6;
$blue-200: #019EE0;
$blue-300: #0093DD;
$blue-400: #4E78DA;
$blue-500: #1F56D8;
$blue-600: #3663CB;
$blue-650: #3775BC;
$blue-700: #2768C9;
$blue-800: #386AE0;
$blue-850: #0252A2;
$blue-900: #14448B;
$blue-950: #154482;
$blue-1000: #303a4a;

$brown-700: #745C2F;

$cyan-400: #5BBEBB;

$gray-300: #D3DAE4;
$gray-400: #A1ABB9;
$gray-500: #E8E8E8;
$gray-600: #ACADAF;
$gray-700: #FFFFFFA6;
$gray-800: #64749A;
$gray-900: #4B6AA6;

$green-100: #2CC753;
$green-200: #14C405;
$green-300: #0BAB8B;
$green-400: #23C1A1;
$green-500: #21A038;
$green-600: #009A49;
$green-700: #029A55;

$lime-400: #B1D332;


$orange-200: #FAA400;
$orange-300: #EF8807;
$orange-400: #FDAE38;
$orange-500: #FE9410;
$orange-600: #DA8418;
$orange-700: #F9A030;
$orange-800: #FBAA33;

$purple-400: #B61D8E;

$red-300: #FF0000;
$red-400: #FC4210;
$red-500: #FC4310;
$red-600: #FC3F1D;
$red-700: #EF1E25;
$red-800: #DE1100;
$red-900: #CD0505;

$rose-300: #FFA8AF;
$rose-400: #DE64A1;
$rose-500: #EA4184;

$violet-400: #9999FF;

$yellow-400: #FFCC00;
$yellow-500: #FFD803;

