.main-resorts {
  padding-top: 30px;
  padding-bottom: 30px;
  overflow: hidden;
  @include screen(tablet-2x) {
    padding-top: 45px;
    padding-bottom: 45px;
    background-color: $bg-blue;
  }
  @include screen(laptop) {
    padding-top: 45px;
    padding-bottom: 45px;
    background-color: $bg-blue;
  }
  @include screen(desktop) {
    padding-top: 45px;
    padding-bottom: 45px;
    background-color: $bg-blue;
  }

  &__cards {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 5px;
    justify-items: center;
    @include screen(tablet-2x) {
      grid-template-columns: repeat(3, minmax(0, 1fr));
      gap: 24px;
    }
    @include screen(laptop) {
      grid-template-columns: repeat(3, minmax(0, 1fr));
      gap: 24px;
    }
    @include screen(desktop) {
      grid-template-columns: repeat(3, minmax(0, 1fr));
      gap: 24px;
    }
  }

  &__items {
    margin-top: 5px;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: repeat(2, minmax(0, 1fr));
    gap: 5px;
    @include screen(tablet-2x) {
      margin-top: 24px;
      grid-template-columns: repeat(4, minmax(0, 1fr));
      grid-template-rows: repeat(1, minmax(0, 1fr));
      gap: 24px;
    }
    @include screen(laptop) {
      margin-top: 24px;
      grid-template-columns: repeat(4, minmax(0, 1fr));
      grid-template-rows: repeat(1, minmax(0, 1fr));
      gap: 24px;
    }
    @include screen(desktop) {
      margin-top: 24px;
      grid-template-columns: repeat(4, minmax(0, 1fr));
      grid-template-rows: repeat(1, minmax(0, 1fr));
      gap: 24px;
    }
  }

  &__buttons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    @include screen(tablet-2x) {
      display: none;
    }
    @include screen(laptop) {
      display: none;
    }
    @include screen(desktop) {
      display: none;
    }
    a {
      width: 100%;
      @include screen(tablet) {
        width: max-content;
      }
      @include screen(tablet-2x) {
        width: max-content;
      }
      @include screen(laptop) {
        width: max-content;
      }
      @include screen(desktop) {
        width: max-content;
      }
    }
  }

  &__list {
    display: none;
    margin-top: 50px;
    max-height: 246px;
    padding-left: 10px;
    @include screen(tablet-2x) {
      display: flex;
      row-gap: 20px;
      flex-wrap: wrap;
    }
    @include screen(laptop) {
      display: flex;
      row-gap: 20px;
      flex-wrap: wrap;
    }
    @include screen(desktop) {
      display: flex;
      row-gap: 20px;
      flex-wrap: wrap;
    }
    li {
      padding-left: 20px;
      color: $blue-500;
      font-size: 18px;
      font-weight: 600;
      line-height: 18px;
      transition: color $transition-default;
      &:before {
        transition: background-color $transition-default;
      }
      &:active {
        color: $orange-500;
        &:before {
          background-color: $orange-500;
        }
      }
      @include screen(laptop) {
        &:hover {
          color: $orange-500;
          &:before {
            background-color: $orange-500;
          }
        }
      }
      @include screen(desktop) {
        &:hover {
          color: $orange-500;
          &:before {
            background-color: $orange-500;
          }
        }
      }
    }
  }
}