.main-faq {
  overflow: hidden;
  & > .wrapper {
    @include max-screen(tablet-2x) {
      max-width: 100%;
      padding: 0;
    }
    
  }
  @include screen(tablet-2x) {
    padding-top: 40px;
    padding-bottom: 20px;
    background-color: $bg-blue;
  }
  @include screen(laptop) {
    padding-top: 40px;
    padding-bottom: 20px;
    background-color: $bg-blue;
  }
  @include screen(desktop) {
    padding-top: 40px;
    padding-bottom: 20px;
    background-color: $bg-blue;
  }

  &__container {
    @include screen(tablet-2x) {
      padding: 20px;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    @include screen(laptop) {
      padding: 20px;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 30px;
    }
    @include screen(desktop) {
      padding: 20px;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 30px;
    }
  }

  &__blocks {
    @include screen(tablet-2x) {
      display: grid;
      grid-template-columns: 306px 1fr 306px;
      column-gap: 24px;
    }
    @include screen(laptop) {
      display: grid;
      grid-template-columns: 306px 1fr 306px;
      column-gap: 24px;
    }
    @include screen(desktop) {
      display: grid;
      grid-template-columns: 306px 1fr 306px;
      column-gap: 24px;
    }
  }

  &__block {
    padding: 18px 0;
    position: relative;
    display: block;
    overflow: hidden;
    @include screen(tablet-2x) {
      border-radius: 10px;
      min-height: 220px;
      padding: 0;
      box-shadow: 0px 5px 10px 0px $box-shadow-one;
    }
    @include screen(laptop) {
      border-radius: 10px;
      min-height: 220px;
      padding: 0;
      box-shadow: 0px 5px 10px 0px $box-shadow-one;
    }
    @include screen(desktop) {
      border-radius: 10px;
      min-height: 220px;
      padding: 0;
      box-shadow: 0px 5px 10px 0px $box-shadow-one;
    }
    &:before {
      position: absolute;
      content: '';
      top: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      left: -100%;
      @include screen(tablet-2x) {
        display: none;
      }
      @include screen(laptop) {
        display: none;
      }
      @include screen(desktop) {
        display: none;
      }
    }
    &:after {
      position: absolute;
      content: '';
      top: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      right: -100%;
      @include screen(tablet-2x) {
        display: none;
      }
      @include screen(laptop) {
        display: none;
      }
      @include screen(desktop) {
        display: none;
      }
    }
    & > a {
      position: absolute; 
      inset: 0;
      z-index: 1;
      @include screen(tablet-2x) {
        position: relative;
      }
      @include screen(laptop) {
        position: relative;
      }
      @include screen(desktop) {
        position: relative;
      }
    }
    & > .wrapper {
      position: relative;
      @include screen(tablet-2x) {
        max-width: 100%;
        padding: 0;
        width: 100%;
        height: 100%;
      }
      @include screen(laptop) {
        max-width: 100%;
        padding: 0;
        width: 100%;
        height: 100%;
      }
      @include screen(desktop) {
        max-width: 100%;
        padding: 0;
        width: 100%;
        height: 100%;
      }
    }
    &--cian {
      background-color: $cian-400;
      &:before,
      &:after {
        background-color: $cian-400;
      }
    }
    &--blue {
      background-color: $blue-400;
      &:before,
      &:after {
        background-color: $blue-400;
      }
    }
    &--green {
      background-color: $green-400;
      &:before,
      &:after {
        background-color: $green-400;
      }
    }
    &--cian,
    &--blue,
    &--green {
      @include screen(tablet-2x) {
        background-color: $white;
      }
      @include screen(laptop) {
        background-color: $white;
      }
      @include screen(desktop) {
        background-color: $white;
      }
    }
  }

  &__top {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include screen(tablet-2x) {
      align-items: flex-start;
    }
    @include screen(laptop) {
      align-items: flex-start;
    }
    @include screen(desktop) {
      align-items: flex-start;
    }
  }

  h3 {
    max-width: 224px;
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    text-align: left;
    color: $white;
    @include screen(tablet) {
      max-width: 500px;
      br {
        display: none;
      }
    }
    @include screen(tablet-2x) {
      color: $black-400;
      br {
        display: block;
      }
    }
    @include screen(laptop) {
      color: $black-400;
      font-size: 20px;
      line-height: 24px;
      max-width: 330px;
      br {
        display: block;
      }
    }
  }

  &__title {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &__description {
    display: none;
    position: relative;
    @include screen(tablet-2x) {
      display: block;
      font-size: 16px;
      font-weight: 500;
      line-height: 20px;
    }
    @include screen(laptop) {
      display: block;
      font-size: 16px;
      font-weight: 500;
      line-height: 20px;
    }
    @include screen(desktop) {
      display: block;
      font-size: 16px;
      font-weight: 500;
      line-height: 20px;
    }
    a {
      font-weight: 700;
      color: $blue-500;
      border-bottom: 1px solid $blue-500;
      &:active {
        color: $orange-500;
        border-color: $orange-500;
      }
      @include screen(laptop) {
        transition: color $transition-default, border-color $transition-default;
        &:hover {
          color: $orange-500;
          border-color: $orange-500;
        }
      }
      @include screen(desktop) {
        transition: color $transition-default, border-color $transition-default;
        &:hover {
          color: $orange-500;
          border-color: $orange-500;
        }
      }
    }
  }

  &__arrow {
    margin-left: 10px;
    @include screen(tablet) {
      margin-left: 0;
    }
    svg {
      stroke: $white;
      fill: transparent;
    }
    @include screen(tablet-2x) {
      margin-left: 0;
      width: 40px;
      min-width: 40px;
      height: 40px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      &:active {
        background-color: $blue-500;
        svg {
          stroke: $white;
          fill: transparent;

        }
      }
      svg {
        stroke: $black;
      }
      &--blue {
        background-color: rgba($color: $blue-300, $alpha: 0.15);
      }
      &--orange {
        background-color: rgba($color: $orange-400, $alpha: 0.15);
      }
      &--green {
        background-color: rgba($color: $green-400, $alpha: 0.15);
      }
    }
    @include screen(laptop) {
      margin-left: 0;
      width: 40px;
      min-width: 40px;
      height: 40px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: background-color $transition-default;
      &:active {
        background-color: $blue-500;
        svg {
          stroke: $white;
          fill: transparent;
        }
      }
      svg {
        stroke: $black;
        transition: stroke $transition-default;
      }
      &--blue {
        background-color: rgba($color: $blue-300, $alpha: 0.15);
      }
      &--orange {
        background-color: rgba($color: $orange-400, $alpha: 0.15);
      }
      &--green {
        background-color: rgba($color: $green-400, $alpha: 0.15);
      }
      &:hover {
        background-color: $blue-500;
        svg {
          stroke: $white;
        }
      }
    }
    @include screen(desktop) {
      width: 40px;
      min-width: 40px;
      height: 40px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: background-color $transition-default;
      &:active {
        background-color: $blue-500;
        svg {
          transition: stroke $transition-default;
          stroke: $white;
        }
      }
      svg {
        stroke: $black;
      }
      &--blue {
        background-color: rgba($color: $blue-300, $alpha: 0.15);
      }
      &--orange {
        background-color: rgba($color: $orange-400, $alpha: 0.15);
      }
      &--green {
        background-color: rgba($color: $green-400, $alpha: 0.15);
      }
      &:hover {
        background-color: $blue-500;
        svg {
          stroke: $white;
        }
      }
    }
  }

  &__icon {
    fill: transparent;
    stroke: $white;
    min-width: 32px;
    @include screen(tablet-2x) {
      display: none;
    }
    @include screen(laptop) {
      display: none;
    }
    @include screen(desktop) {
      display: none;
    }
  }

  &__bg {
    position: absolute;
    right: -20px;
    bottom: 0;
    @include screen(tablet-2x) {
      right: 0;
    }
    @include screen(laptop) {
      right: 0;
    }
    @include screen(desktop) {
      right: 0;
    }
  }

  &__list {
    gap: 4px;
    @include screen(laptop) {
      gap: 10px;
    }
    @include screen(desktop) {
      gap: 10px;
    }
  }
}