section.contacts-feedback
  .wrapper
    .contacts-feedback__wrapper
      .contacts-feedback__blocks

        .contacts-feedback__block
          .contacts-feedback__content
            h2.contacts-feedback__title Отдел бронирования
            p.contacts-feedback__text Бронирование для частных клиентов и общие вопросы
          .contacts-feedback__link
            svg(width="24" height="24" viewBox="0 0 24 24")
              use(xlink:href="#svg-mail")
            a(href="mailto:info@putevka.com") info@putevka.com
        .contacts-feedback__block
          .contacts-feedback__content
            h2.contacts-feedback__title Отдел по работе с объектами размещения
            p.contacts-feedback__text Заключение договоров, обмен документами
          .contacts-feedback__link
            svg(width="24" height="24" viewBox="0 0 24 24")
              use(xlink:href="#svg-mail")
            a(href="mailto:partner@putevka.com") partner@putevka.com
        .contacts-feedback__block
          .contacts-feedback__content
            h2.contacts-feedback__title Отдел по работе с корпоративными клиентами
            p.contacts-feedback__text Для предприятий и профсоюзов
          .contacts-feedback__link
            svg(width="24" height="24" viewBox="0 0 24 24")
              use(xlink:href="#svg-mail")
            a(href="mailto:941@putevka.com") 941@putevka.com
        .contacts-feedback__block
          .contacts-feedback__content
            h2.contacts-feedback__title Отдел бухгалтерии
          .contacts-feedback__link
            svg(width="24" height="24" viewBox="0 0 24 24")
              use(xlink:href="#svg-mail")
            a(href="mailto:900@putevka.com") 900@putevka.com
        .contacts-feedback__block.contacts-feedback__block--large
          .contacts-feedback__content
            h2.contacts-feedback__title Генеральный директор
            p.contacts-feedback__text Предложения о сотрудничестве по новым направлениям, отзывы о работе, любые другие вопросы
          .contacts-feedback__link
            svg(width="24" height="24" viewBox="0 0 24 24")
              use(xlink:href="#svg-mail")
            a(href="mailto:director@putevka.com") director@putevka.com