section.attractions-hero
  .wrapper
    .attractions-hero__wrapper
      h1.attractions-hero__title Достопри­меча­тель­ности Краснодарского края
      p.attractions-hero__text Что посмотреть в Краснодарском крае. Самые главные и интересные достопримечательности и развлечения Краснодарского края — фото и видео, описания и время работы, расположение, объекты размещения рядом. Смотреть достопримечательности <a href="#">на карте</a>.