aside.attractions-sidebar__block.attractions-sidebar__block--verified
  .attractions-sidebar__top
    svg(width="20" height="20" viewBox="0 0 20 20")
      use(xlink:href="#svg-check-double")
    span Статья проверена:
  .attractions-sidebar__photo
    img(src="/assets/images/attractions/photo.png" alt="photo-guide" loading="lazy")
  .attractions-sidebar__content
    a(href="#") Надежда Васильева
    span Профессиональный гид 