aside.attractions-sidebar__block.attractions-sidebar__block--orange
  .attractions-sidebar__title
    svg(width="18" height="18" viewBox="0 0 18 18")
      use(xlink:href="#svg-direction")
    h4 Экскурсии
  .attractions-sidebar__types
    .attractions-sidebar__type
      span По достопримечательности:
      a(href="#") 58 экскурсий
    .attractions-sidebar__type
      span По городу:
      a(href="#") 4 экскурсии