section.attractions-map
  .wrapper
    .attractions-map__wrapper
      h2 Достопримечательности Краснодарского края на карте
      .attractions-map__items
        .attractions-map__item Населенные пункты с достопримечательностями:
        .attractions-map__item Геленджик
        .attractions-map__item Анапа
        .attractions-map__item Витязево
        .attractions-map__item Сукко
        .attractions-map__item Сочи
        .attractions-map__item Туапсе
        .attractions-map__item Горячий Ключ



