section.how-to-book-inner-faq
  .wrapper
    .how-to-book-inner-faq__wrapper
      h2.how-to-book-inner-faq__title Как забронировать санаторий
      p.how-to-book-inner-faq__text Собрали для Вас ответы на все популярные вопросы по темам:
      .how-to-book-inner-faq__buttons
        button.how-to-book-inner-faq__button.active(type="button" data-id="1") Общее
        button.how-to-book-inner-faq__button(type="button" data-id="2") Оплата
        button.how-to-book-inner-faq__button(type="button" data-id="3") Документы
      .how-to-book-inner-faq__items.active(data-id="1")
        .how-to-book-inner-faq__item
          .how-to-book-inner-faq__question
            h3 Есть льготы военным, пенсионерам, инвалидам, и по скидочным купонам?
          .how-to-book-inner-faq__answer
            p Льготными путевками наша компания не занимается, но мы можем предоставить дополнительную скидку при бронировании путевки от нашей компании.
        .how-to-book-inner-faq__item
          .how-to-book-inner-faq__question
            h3 Есть льготы военным, пенсионерам, инвалидам, и по скидочным купонам?
          .how-to-book-inner-faq__answer
            p Льготными путевками наша компания не занимается, но мы можем предоставить дополнительную скидку при бронировании путевки от нашей компании.
        .how-to-book-inner-faq__item
          .how-to-book-inner-faq__question
            h3 Есть льготы военным, пенсионерам, инвалидам, и по скидочным купонам?
          .how-to-book-inner-faq__answer
            p Льготными путевками наша компания не занимается, но мы можем предоставить дополнительную скидку при бронировании путевки от нашей компании.
      .how-to-book-inner-faq__items(data-id="2")
        .how-to-book-inner-faq__item
          .how-to-book-inner-faq__question
            h3 военным
          .how-to-book-inner-faq__answer
            p Льготными путевками наша компания не занимается, но мы можем предоставить дополнительную скидку при бронировании путевки от нашей компании.
      .how-to-book-inner-faq__items(data-id="3")
        .how-to-book-inner-faq__item
          .how-to-book-inner-faq__question
            h3 инвалидам
          .how-to-book-inner-faq__answer
            p Льготными путевками наша компания не занимается, но мы можем предоставить дополнительную скидку при бронировании путевки от нашей компании.
        .how-to-book-inner-faq__item
          .how-to-book-inner-faq__question
            h3 Есть льготы военным, пенсионерам, инвалидам, и по скидочным купонам?
          .how-to-book-inner-faq__answer
            p Льготными путевками наша компания не занимается, но мы можем предоставить дополнительную скидку при бронировании путевки от нашей компании.