section.how-to-book-inner-hero
  .wrapper
    .how-to-book-inner-hero__wrapper
      h1.how-to-book-inner-hero__title Как забронировать санаторий
      p.how-to-book-inner-hero__text На сайте Путевка.ком представлены более 12000 санаториев, пансионатов и отелей. Только актуальное наличие мест и официальные цены. Вы всего в 4 шагах от следующей поездки!