section.how-to-book-inner-manual
  .wrapper
    .how-to-book-inner-manual__wrapper
      .how-to-book-inner-manual__steps
        .how-to-book-inner-manual__line
          img(src="/assets/images/how-to-book/line.svg" alt="line" loading="lazy")

        .how-to-book-inner-manual__step
          .how-to-book-inner-manual__block
            h2 Поиск и подбор путевки
            ul.how-to-book-inner-manual__list
              li.how-to-book-inner-manual__item <a href="#">Перейдите к выбору параметров поиска</a>
              li.how-to-book-inner-manual__item Укажите регион, даты отдыха и количество человек
              li.how-to-book-inner-manual__item Вы увидите список доступных для бронирования санаториев и отелей
              li.how-to-book-inner-manual__item В этом поиске можете выбрать любые параметры: профиль лечения, наличие бассейна, отсортировать по цене.
              li.how-to-book-inner-manual__item Нажмите на кнопку «Забронировать» и перейдите на страницу санатория
              li.how-to-book-inner-manual__item Выберите доступный номер и нужный тариф (программу лечения)
              li.how-to-book-inner-manual__item Нажмите Запросить бронирование и введите контактные данные. Заявка оформлена и менеджер очень скоро свяжется!
          .how-to-book-inner-manual__img
            img(src="/assets/images/how-to-book/step-1.png" alt="step-1" loading="lazy")

        .how-to-book-inner-manual__step.how-to-book-inner-manual__step--reverse
          .how-to-book-inner-manual__block
            h2 Получение документов
            .how-to-book-inner-manual__text
              p После оформления заявки на сайте за Вами будет закреплен личный менеджер. Он будет сопровождать и контролировать все вопросы по бронированию.
              p Менеджер отправить Вам все документы на электронный адрес:
            ul.how-to-book-inner-manual__list
              li.how-to-book-inner-manual__item Путевку
              li.how-to-book-inner-manual__item Договор
              li.how-to-book-inner-manual__item Счет для оплаты
            .how-to-book-inner-manual__text
              p Если нет доступа к электронной почте, мы отправим их на WhatsApp или Viber. Если нужны оригиналы документов, скажите это Вашему менеджеру и мы оформим отправку заказным письмом.
          .how-to-book-inner-manual__img
            img(src="/assets/images/how-to-book/step-2.png" alt="step-2" loading="lazy")
        
        .how-to-book-inner-manual__step
          .how-to-book-inner-manual__block
            h2 Оплата путевки
            .how-to-book-inner-manual__text
              p Вы можете оплатить любым удобным способом:
            ul.how-to-book-inner-manual__list
              li.how-to-book-inner-manual__item Картой Visa/MasterCard/МИР на сайте
              li.how-to-book-inner-manual__item <a href="#">В СберБанк. Онлайн или мобильном приложении Сбербанк</a>
              li.how-to-book-inner-manual__item Оплата по счету в отделении любого банка
            .how-to-book-inner-manual__text
              p После оплаты Вы получите электронный чек на электронную почту или в СМС в зависимости от способа оплаты. Тут добавить какой то текст
          .how-to-book-inner-manual__img
            img(src="/assets/images/how-to-book/step-3.png" alt="step-3" loading="lazy")
        
        .how-to-book-inner-manual__step.how-to-book-inner-manual__step--reverse
          .how-to-book-inner-manual__block
            h2 Заезд и заселение
            .how-to-book-inner-manual__text
              p Для заселения в санаторий понадобится:
            ul.how-to-book-inner-manual__list
              li.how-to-book-inner-manual__item Путевка (которую мы выслали Вам на электронную почту). Путевка может быть распечатана на черно-белом принтере. Если не получается распечатать путевку до заезда, то сообщите об этом своему менеджеру (мы сделаем пометку, и Вы сможете заселиться без путевки).
              li.how-to-book-inner-manual__item Паспорт (внутренний или заграничный).
              li.how-to-book-inner-manual__item Санаторно-курортная карта - нужна при заселении в санаторий (если необходимо лечение). В некоторых случаях, санаторно-курортную карту можно оформить и после заезда (уточняйте у менеджера в момент бронирования или в списке документов на странице санатория).
              li.how-to-book-inner-manual__item Для детей: Свидетельство о рождении и, если это санаторий, справка о санэпидокружении (для детей).
          .how-to-book-inner-manual__img
            img(src="/assets/images/how-to-book/step-4.png" alt="step-4" loading="lazy")
        