.main-resorts {
  overflow: hidden;
  @include max-screen(tablet) {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  @include min-screen(tablet-2x) {
    padding-top: 45px;
    padding-bottom: 45px;
    background-color: $bg-blue;
  }

  &__cards {
    margin-top: 30px;
    display: grid;
    justify-items: center;
    @include max-screen(tablet) {
      grid-template-columns: 1fr;
      gap: 5px;
    }
    @include min-screen(tablet-2x) {
      grid-template-columns: repeat(3, minmax(0, 1fr));
      gap: 24px;
    }
  }

  &__items {
    display: grid;
    @include max-screen(tablet) {
      margin-top: 5px;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      grid-template-rows: repeat(2, minmax(0, 1fr));
      gap: 5px;
    }
    @include min-screen(tablet-2x) {
      margin-top: 24px;
      grid-template-columns: repeat(4, minmax(0, 1fr));
      grid-template-rows: repeat(1, minmax(0, 1fr));
      gap: 24px;
    }
  }

  &__buttons {
    margin-top: 20px;
    @include max-screen(tablet) {
      display: flex;
      justify-content: center;
    }
    @include min-screen(tablet-2x) {
      display: none;
    }
    a {
      @include max-screen(mobile) {
        width: 100%;
      }
      @include min-screen(tablet) {
        width: max-content;
      }
    }
  }

  &__list {
    margin-top: 50px;
    max-height: 246px;
    padding-left: 10px;
    @include max-screen(tablet) {
      display: none;
    }
    @include min-screen(tablet-2x) {
      display: flex;
      row-gap: 20px;
      flex-wrap: wrap;
    }
    li {
      padding-left: 20px;
      color: $blue-500;
      font-size: 18px;
      font-weight: 600;
      line-height: 18px;
      transition: color $transition-default;
      &:before {
        transition: background-color $transition-default;
      }
      &:active {
        color: $orange-500;
        &:before {
          background-color: $orange-500;
        }
      }
      @include min-screen(laptop) {
        &:hover {
          color: $orange-500;
          &:before {
            background-color: $orange-500;
          }
        }
      }
    }
  }
}