.main-faq {
  overflow: hidden;
  @include min-screen(tablet-2x) {
    padding-top: 40px;
    padding-bottom: 20px;
    background-color: $bg-blue;
  }

  &__container {
    position: relative;
    @include min-screen(tablet-2x) {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    @include mm-screen(tablet-2x) {
      padding: 20px;
      gap: 20px
    }
    @include min-screen(laptop) {
      padding: 30px;
    }
  }

  &__blocks {
    @include min-screen(tablet-2x) {
      display: grid;
      grid-template-columns: 306px 1fr 306px;
      column-gap: 24px;
    }
  }

  &__block {
    padding: 18px 0;
    position: relative;
    display: flex;
    overflow: hidden;
    @include min-screen(tablet-2x) {
      border-radius: 10px;
      min-height: 220px;
      padding: 0;
      box-shadow: 0px 5px 10px 0px rgba($color: $blue-950, $alpha: 0.1);
    }
    & > a {
      inset: 0;
      z-index: 1;
      @include max-screen(tablet) {
        position: absolute; 
      }
      @include min-screen(tablet-2x) {
        position: relative;
      }
    }
    &--cyan {
      @include max-screen(tablet) {
        background-color: $cyan-400;
      }
    }
    &--blue {
      @include max-screen(tablet) {
        background-color: $blue-400;
      }
    }
    &--green {
      @include max-screen(tablet) {
        background-color: $green-400;
      }
    }
    &--cyan,
    &--blue,
    &--green {
      @include min-screen(tablet-2x) {
        background-color: $white;
      }
    }
  }

  &__top {
    position: relative;
    display: flex;
    justify-content: space-between;
    @include max-screen(tablet) {
      align-items: center;
    }
    @include min-screen(tablet-2x) {
      align-items: flex-start;
    }
  }

  h3 {
    font-weight: 700;
    text-align: left;
    @include max-screen(mobile-2x) {
      max-width: 224px;
    }
    @include min-screen(mobile) {
      max-width: 500px;
    }
    @include mm-screen(tablet) {
      br {
        display: none;
      }
    }
    @include max-screen(tablet) {
      color: $white;
      font-size: 16px;
      line-height: 18px;
    }
    @include min-screen(tablet-2x) {
      color: $black-400;
      br {
        display: block;
      }
    }
    @include min-screen(laptop) {
      font-size: 20px;
      line-height: 24px;
      max-width: 330px;
    }
  }

  &__title {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &__description {
    position: relative;
    @include max-screen(tablet) {
      display: none;
    }
    @include min-screen(tablet-2x) {
      display: block;
      font-size: 16px;
      font-weight: 500;
      line-height: 20px;
    }
    a {
      font-weight: 700;
      color: $blue-500;
      border-bottom: 1px solid $blue-500;
      &:active {
        color: $orange-500;
        border-color: $orange-500;
      }
      @include min-screen(laptop) {
        transition: color $transition-default, border-color $transition-default;
        &:hover {
          color: $orange-500;
          border-color: $orange-500;
        }
      }
    }
  }

  &__arrow {
    @include max-screen(mobile) {
      margin-left: 10px;
    }
    @include min-screen(tablet) {
      margin-left: 0;
    }
    svg {
      stroke: $white;
      fill: transparent;
    }
    @include min-screen(tablet-2x) {
      margin-left: 0;
      width: 40px;
      min-width: 40px;
      height: 40px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      &:active {
        background-color: $blue-500;
        svg {
          stroke: $white;
          fill: transparent;
        }
      }
      svg {
        stroke: $black;
      }
      &--blue {
        background-color: rgba($color: $blue-300, $alpha: 0.15);
      }
      &--orange {
        background-color: rgba($color: $orange-400, $alpha: 0.15);
      }
      &--green {
        background-color: rgba($color: $green-400, $alpha: 0.15);
      }
    }
    @include min-screen(laptop) {
      margin-left: 0;
      width: 40px;
      min-width: 40px;
      height: 40px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: background-color $transition-default;
      &:active {
        background-color: $blue-500;
        svg {
          stroke: $white;
          fill: transparent;
        }
      }
      svg {
        stroke: $black;
        transition: stroke $transition-default;
      }
      &--blue {
        background-color: rgba($color: $blue-300, $alpha: 0.15);
      }
      &--orange {
        background-color: rgba($color: $orange-400, $alpha: 0.15);
      }
      &--green {
        background-color: rgba($color: $green-400, $alpha: 0.15);
      }
      &:hover {
        background-color: $blue-500;
        svg {
          stroke: $white;
        }
      }
    }
    @include min-screen(desktop) {
      width: 40px;
      min-width: 40px;
      height: 40px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: background-color $transition-default;
      &:active {
        background-color: $blue-500;
        svg {
          transition: stroke $transition-default;
          stroke: $white;
        }
      }
      svg {
        stroke: $black;
      }
      &--blue {
        background-color: rgba($color: $blue-300, $alpha: 0.15);
      }
      &--orange {
        background-color: rgba($color: $orange-400, $alpha: 0.15);
      }
      &--green {
        background-color: rgba($color: $green-400, $alpha: 0.15);
      }
      &:hover {
        background-color: $blue-500;
        svg {
          stroke: $white;
        }
      }
    }
  }

  &__icon {
    fill: transparent;
    stroke: $white;
    min-width: 32px;
    @include min-screen(tablet-2x) {
      display: none;
    }
  }

  &__bg {
    position: absolute;
    bottom: 0;
    @include max-screen(tablet) {
      right: -20px;
    }
    @include min-screen(tablet-2x) {
      right: 0;
    }
  }

  &__list {
    @include max-screen(tablet-2x) {
      gap: 4px;
    }
    @include min-screen(laptop) {
      gap: 10px;
    }
  }
}