.main-promo {
  @include max-screen(tablet) {
    padding-top: 20px;
    padding-bottom: 30px;
  }
  @include min-screen(tablet-2x) {
    padding-top: 20px;
    padding-bottom: 45px;
    background-color: $bg-blue;
  }

  &__wrapper {
    position: relative;
  }

  &__block {
    display: block;
    overflow: hidden;
    position: relative;
    @include max-screen(tablet) {
      height: 230px;
      border-radius: 6px;
    }
    @include min-screen(tablet-2x) {
      border-radius: 0;
      height: 300px;
    }

    & > a {
      position: absolute;
      inset: 0;
      z-index: 1;
    }
  }

  &__bg {
    width: 100%;
    height: 100%;
    position: absolute;
    &:before {
      content: '';
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      background-color: rgba($color: $black-600, $alpha: 0.05);
    }
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  &__content,
  &__picture,
  &__button,
  &__discount {
    position: relative;
  }

  &__discount {
    max-width: max-content;
    background-color: $orange-500;
    border-radius: 6px;
    @include max-screen(tablet) {
      padding: 8.5px 16px;
    }
    @include min-screen(tablet-2x) {
      padding: 10.5px 20px;
    }
    span {
      color: $white;
      font-size: 16px;
      font-weight: 700;
      line-height: 19.2px;
      text-align: center;
    }
  }

  &__picture {
    @include max-screen(tablet) {
      height: 50px;
      width: 49px;
    }
    @include min-screen(tablet-2x) {
      width: 68px;
      height: 70px;
    }
    img {
      object-fit: contain;
      width: 100%;
      height: 100%;
    }
  }

  &__button {
    background-color: $white;
    border-radius: 7px;
    max-width: max-content;
    @include max-screen(tablet) {
      padding: 8.5px 16px;
    }
    @include min-screen(tablet-2x) {
      padding: 10.5px 20px;
    }
    span {
      color: $black-400;
      font-size: 16px;
      font-weight: 600;
      line-height: 19.2px;
      text-align: center;
    }
  }

  &__container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include max-screen(tablet) {
      padding: 30px 20px;
    }
    @include min-screen(tablet-2x) {
      padding: 30px;
    }
  }

  &__title {
    font-weight: 700;
    color: $white;
    @include max-screen(tablet-2x) {
      letter-spacing: -0.01em;
      font-size: 24px;
      line-height: 24px;
    }
    @include min-screen(laptop) {
      font-size: 30px;
      line-height: 30px;
      letter-spacing: -0.02em;
    }
    &--red {
      background-color: $red-400;
      display: inline-block;
      padding: 3px 6px;
    }
  }

  &__text {
    font-weight: 600;
    color: $white;
    @include max-screen(tablet) {
      margin-top: 10px;
      font-size: 14px;
      line-height: 18px;
    }
    @include min-screen(tablet-2x) {
      margin-top: 20px;
      font-size: 16px;
      line-height: 20px;
    }
    &--black {
      color: $black-400;
    }
  }

  &__buttons {
    margin-top: 20px;
    @include max-screen(tablet) {
      display: flex;
      justify-content: center;
    }
    @include min-screen(tablet-2x) {
      display: none;
    }
    a {
      @include max-screen(mobile) {
        width: 100%;
      }
      @include min-screen(tablet) {
        width: max-content;
      }
    }
  }

  .swiper {
    &-button {
      &-next,
      &-prev {
        display: none;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: $white;
        box-shadow: 0px 5px 15px 0px rgba($color: $gray-900, $alpha: 0.15), 0px 1px 4px 0px rgba($color: $blue-900, $alpha: 0.05);
        border-radius: 50%;
        transition: background-color $transition-default;
        svg {
          width: 10px;
          height: 16px;
          fill: transparent;
          stroke: $blue-500;
          transition: stroke $transition-default;
        }
        &:after {
          display: none;
        }
        &:active {
          background-color: $blue-500;
          svg {
            stroke: $white;
          }
        }
        @include min-screen(tablet-2x) {
          display: flex;
          align-items: center;
          justify-content: center;
        }
        @include min-screen(laptop) {
          &:hover {
            background-color: $blue-500;
            svg {
              stroke: $white;
            }
          }
        }
      }
      &-prev {
        transform: rotate(180deg);
        svg {
          margin-right: 2px;
        }
        @include max-screen(tablet-2x) {
          left: -10px;
        }
        @include min-screen(laptop) {
          left: -20px;
        }
      }
      &-next {
        svg {
          margin-left: 2px;
        }
        @include max-screen(tablet-2x) {
          right: -10px;
        }
        @include min-screen(laptop) {
          right: -20px;
        }
      }
    }
  }
}