section.attractions-city-content
  .attractions-city-content__wrapper
    h2 История
    .attractions-city-content__text
      p Большой театр был основан во второй половине XVII века как частное заведение князя Петра Урусова. Сначала он устраивал в арендуемых помещениях «воксалы» (так раньше называли развлекательные мероприятия с представлениями, фейерверками, ужинами и балами). Окрылённый их успехом, Урусов вместе с компаньоном решил возвести собственное здание для драматических представлений, а также для оперы и балета.
      p Их начинание поддержала Екатерина II. А 28 марта 1776 года она даровала компаньонам привилегию на проведение в Москве различных увеселительных мероприятий сроком на 10 лет. Этот год принято считать официальной датой основания Большого театра. Правда, назывался он тогда ещё просто — Петровский — по месторасположению на одноимённой улице.
    .attractions-city-content__picture
      .attractions-city-content__img
        img(src="/assets/images/attractions/one.png" alt="theater" loading="lazy")
      .attractions-city-content__description 1781-1786 года. Петровский театр
    h3 Пожары и новые строительства
    .attractions-city-content__text
      p Вскоре после открытия театр сгорел, а все убытки легли на плечи его содержателей. Урусов не смог выплатить свою часть обязательств и уступил права своему компаньону, англичанину Майклу Меддоксу. Последний отстроил новое здание, но вскоре влез в долги, и после истечения срока екатерининской привилегии театр перешёл государству.
      p Неудачи продолжали преследовать Петровский театр: в 1805 году он снова сгорел. Но и отстроенное здание постигла та же участь. Оно погибло во время московского пожара 1812 года. Через семь лет комиссия о строении Москвы, призванная ликвидировать последствия пожара, объявила конкурс на возведение нового театра на месте здания Меддокса. Победил проект архитектора А. А. Михайлова, который впоследствии доработал О. И. Бове. Здание, строительство которого закончилось в 1825 году, украшенное портиком с тройкой Аполлона, стояло уже на своём нынешнем месте — на Театральной площади. Для Большого театра это стал последний и окончательный адрес прописки.
      p За впечатляющие размеры и великолепие театр прозвали Большим Петровским. Он простоял целых 30 лет, пока его не постигла всё та же роковая участь — пожар. В 1856 году здание восстановили по проекту Альберта Кавоса, на счету которого реконструкция и Мариинского, и Михайловского театров в Санкт-Петербурге. В таком виде, за исключением небольших изменений во внутреннем и внешнем убранстве, Большой театр сохранился до наших дней.