section.attractions-city-hero(id="attractions-city-hero")
  .wrapper
    .attractions-city-hero__wrapper
      h1.attractions-city-hero__title Рязанский областной театр драмы
      p.attractions-city-hero__text Рязанский областной театр драмы (Рязань, Россия) — фото и видео, описания и время работы, расположение, объекты размещения рядом.