section.attractions-city-content
  .attractions-city-content__wrapper
    h2 Залы и сцены Большого театра
    .attractions-city-content__text
      p Сейчас в главном здании Большого функционируют воссозданная историческая сцена XIX века и подземный Бетховенский зал-трансформер. Помимо этого, в историческом здании можно увидеть роскошные восстановленные интерьеры фойе и Хорового зала. Кроме исторического здания, открыты два филиала театра на Большой Дмитровке (Новая сцена) и на Никольской улице (Камерная сцена имени Б. А. Покровского).
    h3 Главное фойе
    .attractions-city-content__text
      p Известное также как Белое, оно расположено на третьем этаже исторического здания. К нему ведёт большая парадная лестница XIX века с балюстрадой и алебастровыми вазами. Правда, оригинальные вазы до наших дней не сохранились, их воссоздали по документам и описаниям современников. Интересно, что зал оформлен в бело-розовых тонах. Белым его называли в советское время.
    .attractions-city-content__picture
      .attractions-city-content__img
        img(src="/assets/images/attractions/one.png" alt="theater" loading="lazy")
      .attractions-city-content__description Фото: группа ВК Большого театра, Батыр Аннадурдыев
    h3 Историческая сцена
    .attractions-city-content__text
      p Зрительный зал — это сердце Большого театра, вмещающее 1740 человек. Его пышное оформление в стиле ренессанс воссоздали по задумке Альберта Кавоса. Каждая деталь — от золочёной лепнины до алых драпировок — создаёт здесь торжественную атмосферу. Особенно впечатляет огромная старинная люстра, украшенная хрустальными подвесками. Её высота восемь метров, а весит она две тонны. Около половины хрустальных украшений воссоздали реставраторы (это около 13 тысяч элементов). Кстати, изначально люстра была свечной, электрифицировали её в 1890-х.
    .attractions-city-content__picture
      .attractions-city-content__img
        img(src="/assets/images/attractions/one.png" alt="theater" loading="lazy")
      .attractions-city-content__description Фото: сайт Большого театра.
    .attractions-city-content__text
      p Особое внимание уделили восстановлению золочёного убранства. На каждом ярусе зрительного зала — индивидуальный декор. Украшения восстанавливали из папье-маше, а затем вручную золотили каждый элемент. На восстановление всего зала ушло 4,5 килограмма сусального золота.
      p Помимо великолепных интерьеров, реставраторам удалось восстановить акустические свойства зала. Стены, пол и потолок снова отделали панелями из резонансной ели, а ткани пропитали составом, который придаёт им звукоотражающие свойства.
    h3 Бетховенский зал
    .attractions-city-content__text
      p Это новый подземный концертно-репетиционный зал и вторая сцена Большого театра, которая появилась в результате последней реконструкции. Зал располагается прямо под Театральной площадью и вмещает 330 зрителей. Он стал преемником одноимённого советского зала, который в 1920-х переоборудовали из Большого императорского фойе в камерное концертное помещение.
    .attractions-city-content__picture
      .attractions-city-content__img
        img(src="/assets/images/attractions/one.png" alt="theater" loading="lazy")
      .attractions-city-content__description Фото: группа ВК Большого театра, Батыр Аннадурдыев
    .attractions-city-content__text
      p Главной особенностью нового Бетховенского зала стало использование в пространстве механических платформ. С их помощью можно регулировать величину сцены и зрительской зоны, а также трансформировать помещение в монолитную площадку для проведения торжеств. Интерьер зала выдержан в общей стилистике театра — паркет повторяет рисунок мраморных полов в фойе, а элементы отделки напоминают состаренный мрамор.
    h3 Императорские фойе
    .attractions-city-content__text
      p Представляют собой анфиладу парадных залов — Большое и Малое императорские фойе. Они расположены рядом с Белым залом и ведут к Царской ложе. Малое фойе часто называют Круглым из-за округлой формы потолка, как у ротонды. Главная его фишка — необычная акустика. В центре комнаты отчётливо слышен любой звук, даже тихий шёпот.
      p Императорские фойе оформили в 1895 году к коронации Николая II. Стены Большого зала обтянули атласной тканью красного цвета и украсили шёлковыми панно с изображением корон и императорских инициалов, вышитых цветной шерстью. Потолок украшала золочёная лепнина. В советское время Большое императорское фойе переименовали в Бетховенский зал в честь юбилея композитора. Имперскую символику вырезали из обшивки стен, а зал стали использовать для проведения камерных концертов. После реставрации сохранившуюся обивку очистили, утраченные фрагменты воссоздали.
    .attractions-city-content__picture
      .attractions-city-content__img
        img(src="/assets/images/attractions/one.png" alt="theater" loading="lazy")
      .attractions-city-content__description Фото: группа ВК Большого театра, Батыр Аннадурдыев
    h3 Новая сцена
    .attractions-city-content__text
      p Находится в отдельном здании, построенном в начале 2000-х. Новая сцена — это филиал Большого театра, куда переехала вся труппа во время реконструкции исторического здания. Правда, появление филиала продиктовано также тем, что уже в 1960-х Большой нуждался в дополнительном количестве зрительских мест. Новая сцена решила этот вопрос.
      p Зрительный зал филиала рассчитан более чем на 800 мест, а сцена оснащена современными подъёмными механизмами. Интерьер выдержан в духе исторической сцены, но выполнен в более сдержанных и мягких цветах. Вместо фирменной красной обивки здесь использовали бело-зелёные тона. А главным украшением зрительного зала считается живописный плафон, расписанный в мастерской Зураба Церетели. Он изображает 13 танцующих фигур, повторяющих эскизы известного художника и театрального декоратора Л. С. Бакста.