section.attractions-city-content
  .attractions-city-content__wrapper
    h2 Репертуар Большого театра
    .attractions-city-content__video
      iframe(width="560" height="315" src="https://www.youtube.com/embed/_6R3BlMbfFY?si=V8c0qBhjHr6dRczS" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen)