.attractions-city-hotel
  .attractions-city-hotel__wrapper
    .attractions-city-hotel__title
      h2 Отели в Рязани
      a(href="#").attractions-city-hotel__link Все отели
    .attractions-city-hotel__items
      a.attractions-city-hotel__item(href="#") 5-звездочные отели
      a.attractions-city-hotel__item(href="#") 4-звездочные отели
      a.attractions-city-hotel__item(href="#") 3-звездочные отели
      a.attractions-city-hotel__item(href="#") Отели с бассейном
      a.attractions-city-hotel__item(href="#") Отели с завтраками
      a.attractions-city-hotel__item(href="#") Отели в центре
      a.attractions-city-hotel__item(href="#") Отели с парковкой
      a.attractions-city-hotel__item(href="#") Отели с рестораном
      a.attractions-city-hotel__item(href="#") Отели для отдыха с детьми
    +button-transparent('Все отели', '#')
    