section.attractions-city-content
  .attractions-city-content__wrapper
    h2 Архитектура
    .attractions-city-content__text
      p Приступая к восстановлению Большого театра, Кавос взял за основу проект Бове 1825 года. Он сохранил планировку, но увеличил высоту здания, а также форму и размер залов. Новый театр, как и предыдущие, возвели в стиле классицизм. Фасад украсили фронтоном с барельефами в виде парящих гениев с лирой. А наверху появилась новая скульптурная композиция — квадрига (четыре коня) Аполлона, отлитая из бронзы. Античная колесница впоследствии стала самым узнаваемым украшением и символом Большого.
    .attractions-city-content__picture
      .attractions-city-content__img
        img(src="/assets/images/attractions/one.png" alt="theater" loading="lazy")
      .attractions-city-content__description Фото: сайт Большого театра.
    .attractions-city-content__text
      p После Октябрьской революции Большой театр претерпел немало изменений. Уже в 1920-х одна из стен зрительного зала сильно осела. Чтобы предотвратить дальнейшую просадку, под полом поместили бетонную плиту. Это сильно испортило акустику. А в 1941 году в Большой попала бомба, которая разрушила фасадную стену и вестибюль. Но уже к 1943 году здание восстановили.
      p Несмотря на многочисленные ремонты, театр всё сильнее ветшал. По оценкам экспертов, к 1990-м износ здания составил около 60%. В 2005 году начались масштабные реставрационные работы, которые продолжались шесть лет. За это время построили шесть подземных этажей с новыми репетиционными и складскими помещениями. Площадь Большого театра удалось увеличить практически вдвое (до 80 тысяч м²). Восстановили и дореволюционный облик фасада — отбелили колонны, воссоздали фигуры муз в нишах и отреставрировали квадригу Аполлона.
    h3 Реставрация
    .attractions-city-content__text
      p После Октябрьской революции Большой театр претерпел немало изменений. Уже в 1920-х одна из стен зрительного зала сильно осела. Чтобы предотвратить дальнейшую просадку, под полом поместили бетонную плиту. Это сильно испортило акустику. А в 1941 году в Большой попала бомба, которая разрушила фасадную стену и вестибюль. Но уже к 1943 году здание восстановили.
      p Несмотря на многочисленные ремонты, театр всё сильнее ветшал. По оценкам экспертов, к 1990-м износ здания составил около 60%. В 2005 году начались масштабные реставрационные работы, которые продолжались шесть лет. За это время построили шесть подземных этажей с новыми репетиционными и складскими помещениями. Площадь Большого театра удалось увеличить практически вдвое (до 80 тысяч м²). Восстановили и дореволюционный облик фасада — отбелили колонны, воссоздали фигуры муз в нишах и отреставрировали квадригу Аполлона.
    .attractions-city-content__picture
      .attractions-city-content__img
        img(src="/assets/images/attractions/one.png" alt="theater" loading="lazy")
      .attractions-city-content__description 1925 год. Празднование 100-летнего юбилея
    .attractions-city-content__text
      p Больше всего внутри впечатляют воссозданные интерьеры. Фойе, Хоровой и зрительный залы теперь максимально точно повторяют оформление XIX века. Исследователи подробно изучили старинные технологии строительства и отделки, поэтому во время реставрации использовали аутентичные материалы. Например, воссоздали ручной способ золочения и даже технологию изготовления ткани для обивки зрительного зала.