.attractions-city-main
  .wrapper
    .attractions-city-main__wrapper
      .attractions-city-main__blocks
        include ../attractions-city/attractions-city-about
        include ../attractions/attractions-information
        include ../attractions-city/attractions-city-content
        include ../attractions-city/attractions-city-hotel
      .attractions-city-main__sidebar
        include ../attractions/attractions-sidebar