.attractions-city-main
  .wrapper
    .attractions-city-main__wrapper
      .attractions-city-main__blocks
        include ../attractions-city/attractions-city-about
        include ../attractions/attractions-information
        include ../attractions-city/attractions-city-content
        include ../attractions-city/attractions-city-hotel
        include ../attractions-city/attractions-city-content-2
        +attractions-sanatorium(
          {
            title: 'Санатории в Рязани',
            className: 'attractions-sanatorium--three',
            sliderName: 'attractions-sanatorium__slider--three'
          }
        )
        include ../attractions-city/attractions-city-content-3
        +attractions-excursion(
          {
            title: 'Экскурсии в Рязани',
            className: 'attractions-excursion--three',
            sliderName: 'attractions-excursion__slider--three'
          }
        )
        include ../attractions-city/attractions-city-content-4
        include ../attractions-city/attractions-city-content-5
        include ../attractions-city/attractions-city-content-6
        include ../attractions-city/attractions-city-content-7
        include ../attractions-city/attractions-city-content-8
      .attractions-city-main__sidebar
        include ../attractions/attractions-sidebar-orange
        include ../attractions/attractions-sidebar-verified
        include ../attractions/attractions-sidebar-default