section.attractions-city-content
  .attractions-city-content__wrapper
    h2 Репертуар Большого театра
    .attractions-city-content__text
      p С момента основания на сцене тогда ещё Петровского театра ставили преимущественно драматические произведения, первые русские комедийные оперы и, конечно, знаменитые произведения итальянских и французских композиторов XVIII века.
      p В первой половине XIX века на сцене Большого ставили такие легендарные отечественные оперы, как «Жизнь за царя» (в советское время её переименовали в «Иван Сусанин»), «Руслан и Людмила» М. И. Глинки. Однако в репертуаре преобладали зарубежные произведения. Например, «Дон Жуан», «Свадьба Фигаро» В.-А. Моцарта и «Севильский цирюльник» Д.-А. Россини.
      p На рубеже XIX — начала ХХ века начался расцвет Большого театра. В репертуаре по-прежнему оставались шедевры выдающихся европейских композиторов, но главенствующее место заняли русские опера и балет. На Исторической сцене начали ставить оперы «Садко» Н. А. Римского-Корсакова и «Борис Годунов» М. П. Мусоргского, а также балеты П. И. Чайковского «Лебединое озеро» и «Щелкунчик». После Октябрьской революции репертуар Большого пополнился такими шедеврами, как «Любовь к трём апельсинам» С. С. Прокофьева, «Пламя Парижа» Б. В. Асафьева и «Красный мак» Р. М. Глиэра. Многие из этих произведений ставят до сих пор.
      p Сейчас репертуар Большого театра — это классические произведения оперы и балета, а также современные постановки и новые прочтения легендарных сюжетов.