section.attractions-city-hero(id="attractions-city-hero")
  .wrapper
    .attractions-city-hero__wrapper
      button.attractions-city-hero__share(type="button") 
        span Поделиться
        svg(width="18" height="18" viewBox="0 0 18 18")
          use(xlink:href="#svg-share-up")

      h1.attractions-city-hero__title Рязанский областной театр драмы
      p.attractions-city-hero__text Рязанский областной театр драмы (Рязань, Россия) — фото и видео, описания и время работы, расположение, объекты размещения рядом.