section.attractions-city-content
  .attractions-city-content__wrapper
    h2 Музей Большого театра
    .attractions-city-content__text
      p Ведёт свою историю с начала XX века. В его архивах хранится 200 тысяч предметов. Это материалы, связанные с историей театра и постановками, старинные афиши и программки, костюмы XVIII-ХХ веков и даже личные вещи артистов и композиторов. Правда, увидеть всё это великолепие разом не получится. Из коллекций, хранящихся в фондах Большого, музейные сотрудники формируют небольшие тематические выставки. Они размещаются в экспозиционном и Хоровом залах. Кстати, после реставрации историческое оформление последнего тоже восстановили. Теперь, как и в середине XIX века, потолок Хорового зала украшают росписи в технике гризайль и изображения путти.
    .attractions-city-content__picture
      .attractions-city-content__img
        img(src="/assets/images/attractions/one.png" alt="theater" loading="lazy")
      .attractions-city-content__description Фото: группа ВК Большого театра, Батыр Аннадурдыев