.attractions-sidebar {
  &__block {
    background-color: $white;
    border-radius: 10px;
    box-shadow: 0px 4px 25px 0px rgba($color: $gray-750, $alpha: 0.12);
    border: 2px solid transparent;
    @include max-screen(tablet) {
      padding: 20px;
    }
    @include min-screen(tablet-2x) {
      padding: 30px;
    }
    &--orange {
      position: relative;
      top: auto;
      border-color: rgba($color: $orange-500, $alpha: 0.5);
      @include max-screen(tablet-2x) {
        margin-top: 20px;
        display: none;
        padding-bottom: 24px;
      }
      @include min-screen(laptop) {
        display: block;
      }
    }
    &--default {
      position: sticky;
      top: 20px;
      @include max-screen(tablet-2x) {
        display: block;
        width: 300px;
        position: fixed;
        z-index: 2902;
        right: 0;
        transform: translateX(100%);
        border-radius: 0;
        top: 0;
        padding: 20px;
        transition: transform $transition-slow;
        height: 100dvh;
      }
      &.active {
        transform: translateX(0);
      }
    }
    &--verified {
      padding: 20px;
      justify-content: start;
      align-items: center;
      column-gap: 16px;
      @include max-screen(tablet-2x) {
        display: none;
        margin-top: 20px;
      }
      @include min-screen(laptop) {
        display: grid;
        row-gap: 20px;
      }
      @include min-screen(desktop) {
        padding: 24px;
      }
    }
    h4 {
      color: $orange-500;
      @include max-screen(tablet) {
        font-size: 18px;
        font-weight: 700;
        line-height: 20px;
      }
      @include min-screen(tablet-2x) {
        font-size: 24px;
        font-weight: 600;
        line-height: 24px;
      }
    }
    h5 {
      font-family: 'Tilda Sans';
      font-size: 16px;
      font-weight: 700;
      line-height: 24px;
      color: $gray-400;
    }
  }

  &__top {
    display: flex;
    align-items: center;
    @include max-screen(tablet-2x) {
      grid-column: 2 / span 1;
      gap: 6px;
    }
    @include min-screen(laptop) {
      gap: 10px;
      grid-column: 1 / span 7;

      padding-bottom: 16px;
      border-bottom: 2px dashed rgba($color: $green-400, $alpha: 0.25);
    }
    svg {
      stroke: transparent;
      fill: transparent;
      @include max-screen(tablet-2x) {
        width: 18px;
        height: 18px;
      }
    }
    span {
      font-weight: 600;
      color: $green-300;
      @include max-screen(tablet-2x) {
        font-size: 14px;
        line-height: 18px;
      }
      @include min-screen(laptop) {
        font-size: 16px;
        line-height: 20px;
      }
    }
  }

  &__photo {
    border-radius: 100px;
    overflow: hidden;
    @include max-screen(tablet-2x) {
      grid-column: 1 / span 1;
      grid-row: 1 / span 2;
      min-width: 60px;
      min-height: 60px;
      width: 60px;
      height: 60px;
    }
    @include min-screen(laptop) {
      grid-row: 2 / span 1;
      grid-column: 1 / span 1;
      width: 50px;
      height: 50px;
      min-width: 50px;
      min-height: 50px;
    }
    img {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 2px;
    @include max-screen(tablet-2x) {
      grid-column: 2 / span 1;
      margin-top: 6px;
    }
    @include min-screen(laptop) {
      grid-row: 2 / span 1;
      grid-column: 2 / span 4;
      gap: 6px;
    }
    a {
      font-size: 16px;
      font-weight: 700;
      line-height: 18px;
      text-align: left;
      color: $blue-500;
      max-width: max-content;
      &:active {
        color: $orange-500;
      }
      @include min-screen(laptop) {
        transition: color $transition-default;
        &:hover {
          color: $orange-500;
        }
      }
    }
    span {
      font-size: 14px;
      font-weight: 400;
      line-height: 16px;
      color: rgba($color: $black-300, $alpha: 0.75);
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    display: flex;
    gap: 10px;
    align-items: center;

    svg {
      stroke: transparent;
      fill: $orange-500;
      @include max-screen(tablet) {
        width: 20px;
        height: 20px;
      }
      @include min-screen(tablet-2x) {
        width: 24px;
        height: 24px;
      }
    }
  }

  &__types {
    display: flex;
    flex-direction: column;
    gap: 20px;
    @include max-screen(tablet) {
      margin-top: 20px;
    }
    @include min-screen(tablet-2x) {
      margin-top: 30px;
    }
  }

  &__type {
    display: flex;
    flex-direction: column;
    gap: 4px;
    span {
      font-size: 16px;
      font-weight: 400;
      line-height: 20px;
      color: $black-300;
    }
    a {
      font-size: 16px;
      font-weight: 700;
      line-height: 18px;
      color: $blue-500;
      max-width: max-content;
      &:active {
        color: $orange-500;
      }
      @include min-screen(laptop) {
        transition: color $transition-default;
        &:hover {
          color: $orange-500;
        }
      }
    }
  }

  &__main {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    @include max-screen(tablet-2x) {
      gap: 10px;
      height: calc(100dvh - 88px);
      overflow-y: auto;
    }
    @include min-screen(laptop) {
      gap: 24px;
      height: calc(100dvh - 128px);
      overflow-y: auto;
    }
  }

  &__links {
    display: flex;
    flex-direction: column;
    @include min-screen(laptop) {
      gap: 16px;
    }
  }

  &__link {
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    color: $blue-500;
    border-bottom: 1px dashed transparent;
    @include max-screen(tablet-2x) {
      padding: 6px 0 8px;
    }
    @include min-screen(laptop) {
      max-width: max-content;
    }
    &--bold {
      font-weight: 600;
      @include max-screen(tablet-2x) {
        padding: 11px 0;
      }
    }
    @include min-screen(laptop) {
      transition: border-color $transition-default;
      &:hover {
        border-color: rgba($color: $blue-500, $alpha: 0.5);
      }
    }
  }

  &__close {
    @include min-screen(laptop) {
      display: none;
    }
    svg {
      stroke: $gray-400;
    }
  }
}