.attractions-information {
  background-color: $blue-700;
  position: relative;
  @include max-screen(mobile-2x) {
    padding: 24px 6px;
  }
  @include mm-screen(mobile) {
    padding: 24px 20px;
  }
  @include mm-screen(tablet) {
    padding: 24px 20px;
  }
  @include max-screen(tablet) {
    margin: 30px 0;
  }
  @include min-screen(tablet-2x) {
    margin: 40px 0;
    padding: 24px;
  }

  &__title {
    color: $white;
    @include max-screen(tablet) {
      font-size: 18px;
      font-weight: 700;
      line-height: 20px;
    }
    @include min-screen(tablet-2x) {
      font-size: 24px;
      line-height: 24px;
      font-weight: 600;
    }
    br {
      @include min-screen(tablet-2x) {
        display: none;
      }
    }
  }

  &__links {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    @include max-screen(tablet) {
      row-gap: 8px;
      column-gap: 6px;
    }
    @include min-screen(tablet-2x) {
      gap: 10px;
    }
  }

  &__bg {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
  }

  &__link {
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: $white;
    border-radius: 4px;
    @include max-screen(tablet) {
      padding: 8px 5px;
    }
    @include min-screen(tablet-2x) {
      padding: 8px 10px;
    }
    &:active {
      span {
        color: $orange-500;
      }
    }
    @include min-screen(laptop) {
      span {
        transition: color $transition-default;
      }
      &:hover {
        span {
          color: $orange-500;
        }
      }
    }
    span {
      color: $blue-500;
      line-height: 20px;
      font-weight: 600;
      @include max-screen(tablet) {
        font-size: 14px;
      }
      @include min-screen(tablet-2x) {
        font-size: 16px;
      }
    }
    svg {
      stroke: transparent;
    }
    &--green {
      svg {
        fill: $green-300;
      }
    }
    &--blue {
      svg {
        fill: $blue-400;
      }
    }
    &--orange {
      svg {
        fill: $orange-500;
      }
    }
  }
}