.attractions-types {
  background-color: $bg-blue;
  @include max-screen(tablet) {
    padding: 20px 0 50px;
  }
  @include min-screen(tablet-2x) {
    padding: 50px 0 60px;
  }

  &__cards {
    display: grid;
    @include max-screen(tablet) {
      gap: 20px;
      grid-template-columns: repeat(1, minmax(0, 1fr));
    }
    @include min-screen(tablet-2x) {
      gap: 24px;
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
  }
}