.attractions-hero {
  @include max-screen(tablet) {
    padding-bottom: 40px;
  }
  @include min-screen(tablet-2x) {
    padding-bottom: 60px;
  }

  &__text {
    color: rgba($color: $black-300, $alpha: 0.75);
    @include max-screen(tablet) {
      margin-top: 20px;
      font-size: 16px;
      line-height: 20px;
    }
    @include min-screen(tablet-2x) {
      margin-top: 30px;
      font-size: 18px;
      line-height: 24px;
    }
    a {
      &:active {
        color: $orange-500;
        border-color: transparent;
      }
      @include max-screen(tablet) {
        color: $blue-500;
        border-bottom: 1px dashed rgba($color: $blue-500, $alpha: 0.5);
      }
      @include min-screen(tablet-2x) {
        color: rgba($color: $black-300, $alpha: 1.0);
        border-bottom: 1px dashed rgba($color: $black-300, $alpha: 0.5);
      }
      @include min-screen(laptop) {
        transition: color $transition-default, border-color $transition-default;
        &:hover {
          color: $orange-500;
          border-color: transparent;
        }
      }
    }
  }
}