extends ../layouts/master

block title
  title Путевка | О нас

block basicSeo
  meta(content="Это странца О нас" name="description")
  meta(content="Страница, О нас" name="keywords")

block manifestBrowserconfigFiles
  link(href="../manifest.json" rel="manifest" crossorigin)
  meta(content="../browserconfig.xml" name="msapplication-config")

block content
  main
    include ../components/about/about-video
    include ../components/about/about-types
    include ../components/about/about-team
    include ../components/about/about-history