extends ../layouts/master

block title
  title Путевка | Достопримечательности

block basicSeo
  meta(content="Это странца Достопримечательности" name="description")
  meta(content="Страница, Достопримечательности" name="keywords")

block manifestBrowserconfigFiles
  link(href="../manifest.json" rel="manifest" crossorigin)
  meta(content="../browserconfig.xml" name="msapplication-config")

block content
  main
    +breadcrumbs(
      [
        {
          href: '/',
          title: 'Рязанская область',
        },
        {
          href: '/',
          title: 'Рязань',
        },
        {
          href: '/',
          title: 'Достопримечательности Рязани',
        },
      ],
      'Назад'
    )
    include ../components/attractions-city/attractions-city-hero
    include ../components/attractions-city/attractions-city-main