extends ../layouts/master

block title
  title Путевка | Как забронировать санаторий

block basicSeo
  meta(content="Это странца Как забронировать санаторий" name="description")
  meta(content="Страница, Как забронировать санаторий" name="keywords")

block manifestBrowserconfigFiles
  link(href="../manifest.json" rel="manifest" crossorigin)
  meta(content="../browserconfig.xml" name="msapplication-config")

block content
  main.how-to-book-inner
    +breadcrumbs(
      [
        {
          href: '/how-to-book',
          title: 'Выбрать другое направление',
        },
      ],
      'Другое направление',
      '',
      'breadcrumbs--centered breadcrumbs--last breadcrumbs--blue'
    )
    include ../components/how-to-book-inner/how-to-book-inner-hero
    include ../components/how-to-book-inner/how-to-book-inner-video
    include ../components/how-to-book-inner/how-to-book-inner-manual
    include ../components/how-to-book/how-to-book-questions
    include ../components/how-to-book-inner/how-to-book-inner-faq