extends ../layouts/master

block title
  title Путевка | Страница бронирования объекта

block basicSeo
  meta(content="Это странца Страница бронирования объекта" name="description")
  meta(content="Страница, Страница бронирования объекта" name="keywords")

block manifestBrowserconfigFiles
  link(href="../manifest.json" rel="manifest" crossorigin)
  meta(content="../browserconfig.xml" name="msapplication-config")

block content
  main.object-booking
    .wrapper
      .object-booking__head
        +breadcrumbs(
          [
            {
              href: '/object',
              title: 'Назад к санаторию «Знание»',
            },
          ],
          '',
          '',
          'breadcrumbs--last'
        )
        .object-booking__online
          .object-booking__amount Cейчас бронирует 9 человек
          svg(width="16" height="16" viewBox="0 0 16 16")
            use(xlink:href="#svg-object-users")
    .object-booking__main
      .wrapper
        h1.object-booking__title Запросить бронирование
        .object-booking__container
          include ../components/object-booking/object-booking-sidebar
          include ../components/object-booking/object-booking-main