extends ../layouts/master

block title
  title Путевка | Страница объекта - Лечение

block basicSeo
  meta(content="Это странца Страница объекта - Лечение" name="description")
  meta(content="Страница, Страница объекта - Лечение" name="keywords")

block manifestBrowserconfigFiles
  link(href="../manifest.json" rel="manifest" crossorigin)
  meta(content="../browserconfig.xml" name="msapplication-config")

block content
  main.object-treatment
    include ../components/object/object-gallery
    include ../components/object/object-hero
    .wrapper
      .object__main
        .object__wrapper
          h2.object__title Лечение <span>в санатории «Знание»</span>
          .object__container
            .object__descriptions
              include ../components/object/object-description-two
            .object__sidebar
              aside.object-sidebar
                .object-sidebar__wrapper
                  include ../components/object/object-sidebar-main
                  include ../components/object/object-sidebar-documents
          .object-treatment__block
            .object-description
              .object-description__wrapper
                h2.object__title Лечебные программы <span>в санатории «Знание»</span>
              .object__dropdowns
                include ../components/object/object-dropdown
                include ../components/object/object-dropdown
                include ../components/object/object-dropdown
                include ../components/object/object-dropdown
                include ../components/object/object-dropdown
          .object-treatment__block
            .object__blocks
              .object__block
                include ../components/object/object-transfer
          include ../components/object/object-search
          include ../components/object/object-conditions
          .object__cards
            include ../components/object/object-card
            include ../components/object/object-card-two
          include ../components/object/object-contact
          .object__reviews
            .object-description
              .object-description__wrapper
                h2.object__title 76 отзывов <span>о санатории «Знание»</span>
                include ../components/object/object-rating
                include ../components/object/object-reviews
          .object-description
            .object-description__wrapper
              include ../components/object/object-about
    include ../components/object/object-faq
    .object__slider
      include ../components/attractions/attractions-sanatorium