extends ../layouts/master

block title
  title Путевка | Страница объекта

block basicSeo
  meta(content="Это странца Страница объекта" name="description")
  meta(content="Страница, Страница объекта" name="keywords")

block manifestBrowserconfigFiles
  link(href="../manifest.json" rel="manifest" crossorigin)
  meta(content="../browserconfig.xml" name="msapplication-config")

block content
  main
    .search
      include ../components/search/search-hero
      .search__main
          .search__wrapper
            .search__sidebar
              include ../components/search/search-map-button
              include ../components/search/search-sidebar
            .search__blocks
              include ../components/search/search-keywords
              include ../components/search/search-sorting
              include ../components/search/search-cards
              include ../components/attractions/attractions-information
              include ../components/search/search-cards
              include ../components/pagination-huge


