extends ../layouts/master

block title
  title Путевка | Страница объекта

block basicSeo
  meta(content="Это странца Страница объекта" name="description")
  meta(content="Страница, Страница объекта" name="keywords")

block manifestBrowserconfigFiles
  link(href="../manifest.json" rel="manifest" crossorigin)
  meta(content="../browserconfig.xml" name="msapplication-config")

block content
  main
   .object
    .wrapper
      .object__wrapper
        .object__blocks
          include ../components/object/object-information
          include ../components/object/object-transfer
        .object__sidebar
          include ../components/object/object-sidebar
      
      include ../components/object/object-search
      include ../components/object/object-conditions
      include ../components/object/object-card
