extends ../layouts/master

block title
  title Путевка | Результаты поиска

block basicSeo
  meta(content="Это странца Результаты поиска" name="description")
  meta(content="Страница, Результаты поиска" name="keywords")

block manifestBrowserconfigFiles
  link(href="../manifest.json" rel="manifest" crossorigin)
  meta(content="../browserconfig.xml" name="msapplication-config")

block content
  main
    .search
      include ../components/search/search-hero
      include ../components/search/search-map
  
  script.
    async function initMap() {
      await ymaps3.ready;

      const {
        YMap,
        YMapDefaultSchemeLayer,
        YMapDefaultFeaturesLayer,
        YMapFeature,
        YMapMarker,
        YMapControls
      } = ymaps3;
      
      const {YMapZoomControl} = await ymaps3.import('@yandex/ymaps3-controls@0.0.1');

        const map = new YMap(document.getElementById('map-yandex'),
          {
            location: {
              center: [37.623150, 55.752507],
              zoom: 7,
            }
          },
          [
            // Add a map scheme layer
            new YMapDefaultSchemeLayer({}),
            // Add a layer of geo objects to display the line
            new YMapDefaultFeaturesLayer({})
          ]
        );

        map.addChild(
          // Here we place the control on the right
          new YMapControls({position: 'left'})
            // Add the first zoom control to the map
            .addChild(new YMapZoomControl({}))
        );

        const markerElement = document.createElement('img');
        markerElement.className = 'icon-marker';
        markerElement.src = '/assets/images/pin.png';

        map.addChild(new YMapMarker({coordinates: [37.623150, 55.752507]}, markerElement));
      }
      
    if (document.getElementById('map-yandex') !== null) {
      initMap();
    }




