mixin attractions-types-card(data)
  .attractions-types-card(class="" + data.class)
    .attractions-types-card__img
      h3.attractions-types-card__title
        a(href="#")= data.title
      .attractions-types-card__bg
        img(src="" + data.image.src alt="" + data.image.alt loading="lazy")
      if data.label
        .attractions-types-card__label
          span= data.label
      
    .attractions-types-card__content
      if data.location
        .attractions-types-card__location
          svg(width="11" height="13" viewBox="0 0 11 13")
            use(xlink:href="#svg-location")
          span= data.location
      p.attractions-types-card__text= data.text
      .attractions-types-card__buttons
        a.attractions-types-card__button.attractions-types-card__button--orange(href="#")
          span Подробнее
        a.attractions-types-card__button.attractions-types-card__button--cyan(href="#")
          svg(width="16" height="16" viewBox="0 0 16 16")
            use(xlink:href="#svg-direction")
          span Экскурсии