mixin main-about(className)
  section.main-about(class="" + className)
    .wrapper
      .main-about__wrapper
        .main-about__header
          h2 Почему клиенты выбирают «Путевка»
          +button-transparent('О компании', '#')
        .main-about__items
          .main-about__item
            svg(width="48" height="48" viewBox="0 0 48 48")
              use(xlink:href="#svg-security-check")
            h3.main-about__title Официальный туроператор
            p.main-about__text Лицензия туроператора <a href="#">PTO 014980</a> <br> Выдана Федеральным агентством по туризму.
          .main-about__item
            svg(width="48" height="48" viewBox="0 0 48 48")
              use(xlink:href="#svg-persentage")
            h3.main-about__title Бронирование без переплат
            p.main-about__text Санатории и пансионаты выставляют на Путевке официальные цены и Вы бронируете без переплат.
          .main-about__item
            svg(width="48" height="48" viewBox="0 0 48 48")
              use(xlink:href="#svg-flight")
            h3.main-about__title Полностью организуем отдых
            p.main-about__text Через наш сайт Вы можете забронировать не только путевку, но и билет (авиа, ж/д), трансфер и многое другое.
          .main-about__item
            svg(width="48" height="48" viewBox="0 0 48 48")
              use(xlink:href="#svg-backup")
            h3.main-about__title Работаем 24/7
            p.main-about__text Наши эксперты всегда на связи и подберут лучшие варианты. А также будут отвечать на любые вопросы во время отдыха.
          .main-about__item
            svg(width="48" height="48" viewBox="0 0 48 48")
              use(xlink:href="#svg-envelope")
            h3.main-about__title Без посещения турагентства
            p.main-about__text Наш сервис дает уникальную возможность получить все официальные документы (путевку и договор) по электронной почте или заказным письмом.
          .main-about__item
            svg(width="48" height="48" viewBox="0 0 48 48")
              use(xlink:href="#svg-purse")
            h3.main-about__title Удобные способы оплаты
            p.main-about__text По счету в банке, картой на сайте, в терминале, наличными в офисе – мы позаботились, чтобы оплатить путевку было быстро и легко
        .main-about__buttons
          +button-transparent('О компании Путевка .ком .ру', '#')
