mixin resort-card(data)
  .resort-card(class="" + data.className)
    .resort-card__bg
      img(src="" + data.image.src alt="" + data.image.alt loading="lazy")
    .resort-card__container
      if data.price || data.discount || data.booking
        .resort-card__top
          if data.price
            .resort-card__cost.resort-card__cost--orange
              span= data.price
          if data.discount
            .resort-card__cost.resort-card__cost--red
              span= data.discount
          if data.booking
            .resort-card__cost.resort-card__cost--green
              span= data.booking
      .resort-card__content
        a.resort-card__link(href="#") 
          h4.resort-card__title= data.title
        if data.locations.length > 0
          .resort-card__items
            each item in data.locations
              a(href="#").resort-card__item= item.title