mixin reviews-clients-card(data)
  .reviews-clients-card
    .reviews-clients-card__top
      .reviews-clients-card__link
        a(href="#")= data.link
        svg(width="12" height="12" viewBox="0 0 12 12")
          use(xlink:href="#svg-share")
      .reviews-clients-card__stars
        img(src="/assets/images/reviews/star.svg", alt="five star")
        img(src="/assets/images/reviews/star.svg", alt="five star")
        img(src="/assets/images/reviews/star.svg", alt="five star")
        img(src="/assets/images/reviews/star.svg", alt="five star")
        img(src="/assets/images/reviews/star.svg", alt="five star")
    .reviews-clients-card__info !{ data.info }
    p.reviews-clients-card__text Отдыхали с мужем в Крыму в санатории "Ай-Петри" в прошлом году, летом, это близ поселка Кореиз. Путёвку бронировали через "Путевка.ком". Менеджер оказался очень доброжелательным, молодым человеком, оперативно оформил все документы. Из плюсов: море и пл...
    .reviews-clients-card__bottom
      button.reviews-clients-card__button(type="button") Отзыв полностью