section.about-history
  .wrapper
    .about-history__wrapper
      h2.about-history__title Наш путь к лидерству

      .about-history__tabs

      .swiper.about-history__slider

        .about-history__navigation
          .about-history__data
          button(type="button", aria-label="Previous").swiper-button-prev
            svg(width="10" height="16" viewBox="0 0 10 16")
              use(xlink:href="#svg-arrow-right")
          button(type="button", aria-label="Next").swiper-button-next
            svg(width="10" height="16" viewBox="0 0 10 16")
              use(xlink:href="#svg-arrow-right")
              
        .swiper-wrapper
          .swiper-slide(data-year="2011" data-title="Создание проекта «Путевка»")
            .about-history__slide
              .about-history__photo
                img(src="/assets/images/about-history/photo.png" alt="photo-founder" loading="lazy")
              .about-history__description
                h3.about-history__subtitle Создание проекта «Путевка»: 
                .about-history__content
                  p Наша компания начала работу 14 мая 2011 года. Первый год в штате был только один сотрудник и он же основатель — Алексей Карнаух. 
                  p На фрилансе техническую часть работ выполнял его друг-программист и будущий сотрудник компании.
          .swiper-slide(data-year="2014" data-title="Запуск первого портала")
            .about-history__slide
              .about-history__photo
                img(src="/assets/images/about-history/photo.png" alt="photo-founder" loading="lazy")
              .about-history__description
                h3.about-history__subtitle Слайд 2
                .about-history__content
                  p Наша компания начала работу 14 мая 2011 года. Первый год в штате был только один сотрудник и он же основатель — Алексей Карнаух. 
                  p На фрилансе техническую часть работ выполнял его друг-программист и будущий сотрудник компании.
          .swiper-slide(data-year="2016" data-title="Выход на федеральный уровень")
            .about-history__slide
              .about-history__photo
                img(src="/assets/images/about-history/photo.png" alt="photo-founder" loading="lazy")
              .about-history__description
                h3.about-history__subtitle Слайд 3
                .about-history__content
                  p Наша компания начала работу 14 мая 2011 года. Первый год в штате был только один сотрудник и он же основатель — Алексей Карнаух. 
                  p На фрилансе техническую часть работ выполнял его друг-программист и будущий сотрудник компании.
          .swiper-slide(data-year="2018" data-title="Создали команду экспертов по санаторно-курортному отдыху и туризму")
            .about-history__slide
              .about-history__photo
                img(src="/assets/images/about-history/photo.png" alt="photo-founder" loading="lazy")
              .about-history__description
                h3.about-history__subtitle Слайд 4
                .about-history__content
                  p Наша компания начала работу 14 мая 2011 года. Первый год в штате был только один сотрудник и он же основатель — Алексей Карнаух. 
                  p На фрилансе техническую часть работ выполнял его друг-программист и будущий сотрудник компании.
          .swiper-slide(data-year="2020" data-title="Добавили 6 новых направлений")
            .about-history__slide
              .about-history__photo
                img(src="/assets/images/about-history/photo.png" alt="photo-founder" loading="lazy")
              .about-history__description
                h3.about-history__subtitle Слайд 5
                .about-history__content
                  p Наша компания начала работу 14 мая 2011 года. Первый год в штате был только один сотрудник и он же основатель — Алексей Карнаух. 
                  p На фрилансе техническую часть работ выполнял его друг-программист и будущий сотрудник компании.
          .swiper-slide(data-year="2023" data-title="Стали крупнейшим сервисом бронирования санаториев и пансионатов")
            .about-history__slide
              .about-history__photo
                img(src="/assets/images/about-history/photo.png" alt="photo-founder" loading="lazy")
              .about-history__description
                h3.about-history__subtitle Слайд 6
                .about-history__content
                  p Наша компания начала работу 14 мая 2011 года. Первый год в штате был только один сотрудник и он же основатель — Алексей Карнаух. 
                  p На фрилансе техническую часть работ выполнял его друг-программист и будущий сотрудник компании. 
        
          