.about-partners
  .wrapper
    .about-partners__wrapper
      .about-partners__header
        h2.about-partners__title Наши корпоративные партнеры
        .about-partners__navigation
          button(type="button", aria-label="Previous").swiper-button-prev
            svg(width="10" height="16" viewBox="0 0 10 16")
              use(xlink:href="#svg-arrow-right")
          button(type="button", aria-label="Next").swiper-button-next
            svg(width="10" height="16" viewBox="0 0 10 16")
              use(xlink:href="#svg-arrow-right")
      .swiper.about-partners__slider
        .swiper-wrapper
          .swiper-slide
            .about-partners__item
              .about-partners__logo
                img(src="/assets/images/about-partners/1.svg" alt="logo" loading="lazy")
              .about-partners__name Профсоюз работников связи
          .swiper-slide
            .about-partners__item
              .about-partners__logo
                img(src="/assets/images/about-partners/2.png" alt="logo" loading="lazy")
              .about-partners__name Профсоюз строителей России
          .swiper-slide
            .about-partners__item
              .about-partners__logo
                img(src="/assets/images/about-partners/3.png" alt="logo" loading="lazy")
              .about-partners__name Газпром Профсоюз
          .swiper-slide
            .about-partners__item
              .about-partners__logo
                img(src="/assets/images/about-partners/4.png" alt="logo" loading="lazy")
              .about-partners__name Профсоюзная организация Маяк
          .swiper-slide
            .about-partners__item
              .about-partners__logo
                img(src="/assets/images/about-partners/5.png" alt="logo" loading="lazy")
              .about-partners__name РОСПРОФЖЕЛ
          .swiper-slide
            .about-partners__item
              .about-partners__logo
                img(src="/assets/images/about-partners/6.png" alt="logo" loading="lazy")
              .about-partners__name Нефтегазстрой-профсоюз
          .swiper-slide
            .about-partners__item
              .about-partners__logo
                img(src="/assets/images/about-partners/1.svg" alt="logo" loading="lazy")
              .about-partners__name Профсоюз работников связи
          .swiper-slide
            .about-partners__item
              .about-partners__logo
                img(src="/assets/images/about-partners/2.png" alt="logo" loading="lazy")
              .about-partners__name Профсоюз строителей России
          .swiper-slide
            .about-partners__item
              .about-partners__logo
                img(src="/assets/images/about-partners/3.png" alt="logo" loading="lazy")
              .about-partners__name Газпром Профсоюз
        .swiper-scrollbar
