section.about-types
  .wrapper
    .about-types__wrapper
      h2.about-types__title Работаем по 8 направлениям в 70+ регионах РФ <br> и странах СНГ
      .about-types__cards
        +about-types-card(
          {
            color: 'about-types-card--blue',
            title: 'Санатории и пансионаты',
            text: 'У нас собрана самая большая база санаториев и пансионатов. Только официальные цены, которые выставляют сами санатории, и гарантированное наличие мест.',
            link: {
              name: 'Найти санаторий',
              src: '#'
            },
            icon: 'water-glass',
          }
        )
        +about-types-card(
          { 
            color: 'about-types-card--orange',
            title: 'Отели и гостиницы',
            text: 'Более 100000 отелей в России и мире. Оплата картой или при заезде. Отчетные документы для командировок, отмена бронирования онлайн, помощь контакт-центра.',
            link: {
              name: 'Забронировать номер',
              src: '#'
            },
            icon: 'bed',
          }
        )
        +about-types-card(
          { 
            color: 'about-types-card--green',
            title: 'Апартаменты, квартиры и хостелы',
            text: 'Посуточная аренда жилья во всех городах страны. Только проверенная информация и фотографии от владельцев.',
            link: {
              name: 'Снять жилье посуточно',
              src: '#'
            },
            icon: 'building',
          }
        )
        +about-types-card(
          { 
            color: 'about-types-card--blue',
            title: 'Базы отдыха и турбазы',
            text: 'Фото территории и домиков с подробным описанием услуг, отзывами и координатами на карте. Для вас всегда актуальные цены и номера телефонов.',
            link: {
              name: 'Найти базу',
              src: '#'
            },
            icon: 'house',
          }
        )
        +about-types-card(
          { 
            color: 'about-types-card--orange',
            title: 'Кемпинги и глэмпинги',
            text: 'Более 100000 отелей в России и мире. Оплата картой или при заезде. Отчетные документы для командировок, отмена бронирования онлайн, помощь контакт-центра.',
            link: {
              name: 'Проверить наличие мест',
              src: '#'
            },
            icon: 'shape',
          }
        )
        +about-types-card(
          { 
            color: 'about-types-card--green',
            title: 'Туры за границу',
            text: 'Посуточная аренда жилья во всех городах страны. Только проверенная информация и фотографии от владельцев.',
            link: {
              name: 'Подобрать тур',
              src: '#'
            },
            icon: 'globe',
          }
        )
        +about-types-card(
          { 
            color: 'about-types-card--blue',
            title: 'Экскурсии с гидом',
            text: 'Фото территории и домиков с подробным описанием услуг, отзывами и координатами на карте. Для вас всегда актуальные цены и номера телефонов.',
            link: {
              name: 'Подобрать экскурсию',
              src: '#'
            },
            icon: 'direction-board',
          }
        )
        +about-types-card(
          { 
            color: 'about-types-card--orange',
            title: 'Трансферы / такси на курортах',
            text: 'Более 100000 отелей в России и мире. Оплата картой или при заезде. Отчетные документы для командировок, отмена бронирования онлайн, помощь контакт-центра.',
            link: {
              name: 'Заказать транспорт',
              src: '#'
            },
            icon: 'car',
          }
        )