.about-map
  .wrapper
    .about-map__wrapper
      .about-map__header
        h2.about-map__title Наша агентская сеть
        .about-map__amount
          svg(width="40" height="40" viewBox="0 0 40 40")
            use(xlink:href="#svg-pin")
          span 250+
      
      form.about-map__form(action="")
        button.about-map__button(type="button")
          span Быстрый выбор города
          svg(width="16" height="16" viewBox="0 0 16 16")
            use(xlink:href="#svg-chevron-down")
        .about-map__cities
          label
            input(type="checkbox")
            span Москва
          label
            input(type="checkbox") 
            span Санкт-Петербург
          label
            input(type="checkbox") 
            span Новосибирск
          label
            input(type="checkbox") 
            span Екатеринбург
          label
            input(type="checkbox") 
            span Казань
          label
            input(type="checkbox") 
            span Нижний Новгород
          label
            input(type="checkbox") 
            span Челябинск
          label
            input(type="checkbox") 
            span Красноярск
          label
            input(type="checkbox") 
            span Самара
          label
            input(type="checkbox") 
            span Уфа
          label
            input(type="checkbox") 
            span Томск
          label
            input(type="checkbox") 
            span Владивосток
          label
            input(type="checkbox") 
            span Ростов-на-Дону
          label
            input(type="checkbox") 
            span Омск
          label
            input(type="checkbox") 
            span Краснодар
          label
            input(type="checkbox") 
            span Воронеж
          label
            input(type="checkbox") 
            span Пермь
          label
            input(type="checkbox") 
            span Волгоград
          label
            input(type="checkbox") 
            span Саратов
          label
            input(type="checkbox") 
            span Тюмень
          label
            input(type="checkbox") 
            span Тольятти
          label
            input(type="checkbox") 
            span Барнаул
          label
            input(type="checkbox") 
            span Ижевск
          label
            input(type="checkbox") 
            span Иркутск
          label
            input(type="checkbox") 
            span Якутск
          label
            input(type="checkbox") 
            span Хабаровск
  .ymap-container
    #map-yandex