.about-map
  .wrapper
    .about-map__wrapper
      .about-map__header
        h2.about-map__title Наша агентская сеть
        .about-map__amount
          svg(width="40" height="40" viewBox="0 0 40 40")
            use(xlink:href="#svg-pin")
          span 250+
      ul.about-map__list
        li.about-map__city Москва
        li.about-map__city Санкт-Петербург
        li.about-map__city Новосибирск
        li.about-map__city Екатеринбург
        li.about-map__city Казань
        li.about-map__city Нижний Новгород
        li.about-map__city Челябинск
        li.about-map__city Красноярск
        li.about-map__city Самара
        li.about-map__city Уфа
        li.about-map__city Томск
        li.about-map__city Владивосток
        li.about-map__city Ростов-на-Дону
        li.about-map__city Омск
        li.about-map__city Краснодар
        li.about-map__city Воронеж
        li.about-map__city Пермь
        li.about-map__city Волгоград
        li.about-map__city Саратов
        li.about-map__city Тюмень
        li.about-map__city Тольятти 
        li.about-map__city Барнаул
        li.about-map__city Ижевск
        li.about-map__city Иркутск
        li.about-map__city Якутск
        li.about-map__city Хабаровск



