.about-gratitude
  .wrapper
    .about-gratitude__wrapper
      .about-gratitude__content
        h2.about-gratitude__title Дипломы и благодарности
        p.about-gratitude__text Письма благодарности за нашу работу от компаний, представителей профсоюзов и других учреждений, а также дипломы и награды с выставок и конкурсов, в которых принимаем участие.
        .about-gratitude__navigation
          button(type="button", aria-label="Previous").swiper-button-prev
            svg(width="10" height="16" viewBox="0 0 10 16")
              use(xlink:href="#svg-arrow-right")
          button(type="button", aria-label="Next").swiper-button-next
            svg(width="10" height="16" viewBox="0 0 10 16")
              use(xlink:href="#svg-arrow-right")
      .swiper.about-gratitude__slider
        .swiper-wrapper.gallery
          .swiper-slide(data-src="/assets/images/about-gratitude/1.png")
            .about-gratitude__card
              .about-gratitude__img
                .about-gratitude__icon
                  svg(width="18" height="18" viewBox="0 0 18 18")
                    use(xlink:href="#svg-arrows-size")
                img(src="/assets/images/about-gratitude/1.png" alt="Диплом от туроператора Криптон" loading="lazy")
              p.about-gratitude__name Диплом от туроператора Криптон
          .swiper-slide(data-src="/assets/images/about-gratitude/2.png")
            .about-gratitude__card
              .about-gratitude__img
                .about-gratitude__icon
                  svg(width="18" height="18" viewBox="0 0 18 18")
                    use(xlink:href="#svg-arrows-size")
                img(src="/assets/images/about-gratitude/2.png" alt="Диплом от туроператора Алеан" loading="lazy")
              p.about-gratitude__name Диплом от туроператора Алеан
          .swiper-slide(data-src="/assets/images/about-gratitude/3.png")
            .about-gratitude__card
              .about-gratitude__img
                .about-gratitude__icon
                  svg(width="18" height="18" viewBox="0 0 18 18")
                    use(xlink:href="#svg-arrows-size")
                img(src="/assets/images/about-gratitude/3.png" alt="Диплом от санатория Северное Сияние" loading="lazy")
              p.about-gratitude__name Диплом от санатория Северное Сияние
          .swiper-slide(data-src="/assets/images/about-gratitude/3.png")
            .about-gratitude__card
              .about-gratitude__img
                .about-gratitude__icon
                  svg(width="18" height="18" viewBox="0 0 18 18")
                    use(xlink:href="#svg-arrows-size")
                img(src="/assets/images/about-gratitude/1.png" alt="Диплом от туроператора Криптон" loading="lazy")
              p.about-gratitude__name Диплом от туроператора Криптон
          .swiper-slide(data-src="/assets/images/about-gratitude/2.png")
            .about-gratitude__card
              .about-gratitude__img
                .about-gratitude__icon
                  svg(width="18" height="18" viewBox="0 0 18 18")
                    use(xlink:href="#svg-arrows-size")
                img(src="/assets/images/about-gratitude/2.png" alt="Диплом от туроператора Алеан" loading="lazy")
              p.about-gratitude__name Диплом от туроператора Алеан
        .swiper-scrollbar
        