section.about-media
  .wrapper
    .about-media__wrapper
      .about-media__header
        h2.about-media__title Мы в СМИ
        .about-media__controls
          .about-media__navigation
            button(type="button", aria-label="Previous").swiper-button-prev
              svg(width="10" height="16" viewBox="0 0 10 16")
                use(xlink:href="#svg-arrow-right")
            button(type="button", aria-label="Next").swiper-button-next
              svg(width="10" height="16" viewBox="0 0 10 16")
                use(xlink:href="#svg-arrow-right")
          a.about-media__button(href="#")
            span Все статьи
      .swiper.about-media__slider
        .swiper-wrapper
          .swiper-slide
            .about-media__card
              .about-media__content
                .about-media__logo
                  img(src="/assets/images/about-media/1.svg" alt="vedomosti")
                h3.about-media__subtitle 
                  a(href="#") Туристический кэшбэк от Ростуризма возвращается уже с 18 января 2022
                p.about-media__text У любителей путешествовать появилась уникальная возможность сэкономить деньги на отдыхе. Сервис онлайн бронирования санаториев и пансионатов Путевка.ком предлагает россиян
              a.about-media__link(href="#") Читать статью
          .swiper-slide
            .about-media__card
              .about-media__content
                .about-media__logo
                  img(src="/assets/images/about-media/2.svg" alt="life")
                h3.about-media__subtitle 
                  a(href="#") Как сэкономить 20% от стоимости тура с кэшбэком от Putevka.com
                p.about-media__text Туристы, планирующие отдых в санаториях и пансионатах России, могут сэкономить до 20 000 рублей на стоимости своей путёвки. Для этого надо воспользоваться программой субсидирова
              a.about-media__link(href="#") Читать статью
          .swiper-slide
            .about-media__card
              .about-media__content
                .about-media__logo
                  img(src="/assets/images/about-media/3.svg" alt="interfax")
                h3.about-media__subtitle
                  a(href="#") Туризм в Крыму: современные реалии и прогноз на 2017 год
                p.about-media__text Каким был 2016 год для Крыма, сбылись ли ожидания экспертов и какие прогнозы они дают на 2017 год? Об этом и не только в интервью независимому эксперту Игорю Иванову рассказ
              a.about-media__link(href="#") Читать статью
          .swiper-slide
            .about-media__card
              .about-media__content
                .about-media__logo
                  img(src="/assets/images/about-media/1.svg" alt="vedomosti")
                h3.about-media__subtitle
                  a(href="#") Туристический кэшбэк от Ростуризма возвращается уже с 18 января 2022
                p.about-media__text У любителей путешествовать появилась уникальная возможность сэкономить деньги на отдыхе. Сервис онлайн бронирования санаториев и пансионатов Путевка.ком предлагает россиян
              a.about-media__link(href="#") Читать статью
          .swiper-slide
            .about-media__card
              .about-media__content
                .about-media__logo
                  img(src="/assets/images/about-media/2.svg" alt="life")
                h3.about-media__subtitle
                  a(href="#") Как сэкономить 20% от стоимости тура с кэшбэком от Putevka.com
                p.about-media__text Туристы, планирующие отдых в санаториях и пансионатах России, могут сэкономить до 20 000 рублей на стоимости своей путёвки. Для этого надо воспользоваться программой субсидирова
              a.about-media__link(href="#") Читать статью
        .swiper-scrollbar
