.about-gratitude
  .wrapper
    .about-gratitude__wrapper
      .about-gratitude__content
        h2.about-gratitude__title Дипломы и благодарности
        p.about-gratitude__text Письма благодарности за нашу работу от компаний, представителей профсоюзов и других учреждений, а также дипломы и награды с выставок и конкурсов, в которых принимаем участие.
        .about-gratitude__navigation
          button(type="button", aria-label="Previous").swiper-button-prev
            svg(width="10" height="16" viewBox="0 0 10 16")
              use(xlink:href="#svg-arrow-right")
          button(type="button", aria-label="Next").swiper-button-next
            svg(width="10" height="16" viewBox="0 0 10 16")
              use(xlink:href="#svg-arrow-right")
      .swiper.about-gratitude__slider
        .swiper-wrapper
          .swiper-slide
            .about-gratitude__card
              .swiper-zoom-container
                .about-gratitude__img
                  img(src="/assets/images/about-gratitude/1.png" alt="diplom-kripton" loading="lazy")
              p.about-gratitude__name Диплом от туроператора Криптон
          .swiper-slide
            .about-gratitude__card
              .swiper-zoom-container
                .about-gratitude__img
                  img(src="/assets/images/about-gratitude/2.png" alt="diplom-alean" loading="lazy")
              p.about-gratitude__name Диплом от туроператора Алеан
          .swiper-slide
            .about-gratitude__card
              .swiper-zoom-container
                .about-gratitude__img
                  img(src="/assets/images/about-gratitude/1.png" alt="diplom-alean" loading="lazy")
              p.about-gratitude__name Диплом от санатория Северное Сияние
          .swiper-slide
            .about-gratitude__card
              .swiper-zoom-container
                .about-gratitude__img
                  img(src="/assets/images/about-gratitude/1.png" alt="diplom-kripton" loading="lazy")
              p.about-gratitude__name Диплом от туроператора Криптон
          .swiper-slide
            .about-gratitude__card
              .swiper-zoom-container
                .about-gratitude__img
                  img(src="/assets/images/about-gratitude/2.png" alt="diplom-alean" loading="lazy")
              p.about-gratitude__name Диплом от туроператора Алеан
        .swiper-scrollbar
        