aside.object-booking-sidebar
  .object-booking-sidebar__blocks
    .object-booking-sidebar__block
      .object-booking-sidebar__header
        .object-booking-sidebar__name Данные поездки
        button.object-booking-sidebar__change(type="button") Изменить
      .object-booking-sidebar__items
        .object-booking-sidebar__item
        .object-booking-sidebar__item
        .object-booking-sidebar__item





    .object-booking-sidebar__block
      .object-booking-sidebar__header
