.attractions-city-hotel {
  @include max-screen(tablet) {
    margin: 50px 0;
  }
  @include min-screen(tablet-2x) {
    margin: 60px 0;
  }

  &__title {
    display: flex;
    justify-content: space-between;
  }

  &__link {
    display: none;
    padding: 9px 16px;
    border: 1px solid rgba($blue-800, 0.25);
    border-radius: 8px;
    color: $blue-500;
    font-size: 16px;
    font-weight: 600;
    line-height: 18px;
    &:active {
      color: $orange-500;
    }
    @include min-screen(tablet-2x) {
      display: block;
    }
    @include min-screen(laptop) {
      transition: color $transition-default;
      &:hover {
        color: $orange-500;
      }
    }
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    @include max-screen(tablet) {
      margin-top: 20px;
      gap: 8px;
    }
    @include min-screen(tablet-2x) {
      margin-top: 30px;
      gap: 10px;
    }
  }

  &__item {
    background-color: rgba($orange-500, 0.15);
    color: $blue-500;
    
    border-radius: 4px;
    &:active {
      color: $black-400;
    }
    @include max-screen(tablet) {
      font-size: 14px;
      font-weight: 700;
      line-height: 16px;
      padding: 10px 12px;

    }
    @include min-screen(tablet-2x) {
      font-size: 16px;
      font-weight: 600;
      line-height: 16px;
      padding: 7px 12px;

    }
    @include min-screen(laptop) {
      &:hover {
        color: $black-400;
      }
    }
  }

  &__buttons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    @include min-screen(tablet-2x) {
      display: none;
    }
  }
}