.attractions-city-hotel {
  margin: 60px 0;

  &__title {
    display: flex;
    justify-content: space-between;
  }

  &__link {
    padding: 9px 16px;
    border: 1px solid rgba($color: $blue-800, $alpha: 0.25);
    border-radius: 8px;
    color: $blue-500;
    font-size: 16px;
    font-weight: 600;
    line-height: 18px;
    &:active {
      color: $orange-500;
    }
    @include min-screen(laptop) {
      transition: color $transition-default;
      &:hover {
        color: $orange-500;
      }
    }
  }

  &__items {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  &__item {
    padding: 7px 12px;
    background-color: rgba($color: $orange-500, $alpha: 0.15);
    color: $blue-500;
    font-size: 16px;
    font-weight: 600;
    line-height: 16px;
    border-radius: 4px;
    &:active {
      color: $black-400;
    }
    @include min-screen(laptop) {
      &:hover {
        color: $black-400;
      }
    }
  }
}