.attractions-city-hero {
  @include max-screen(tablet) {
    padding-bottom: 40px;
    display: none;
  }
  @include min-screen(tablet-2x) {
    padding-bottom: 60px;
    display: block;
  }

  &__wrapper {
    position: relative;
  }

  &__text {
    color: rgba($black-300, 0.75);
    @include max-screen(tablet) {
      margin-top: 20px;
      font-size: 16px;
      line-height: 20px;
    }
    @include min-screen(tablet-2x) {
      margin-top: 30px;
      font-size: 18px;
      line-height: 24px;
    }
  }
}