.how-to-book-questions {
  padding-top: 40px;
  padding-bottom: 50px;

  &__block {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    background-color: $white;
    box-shadow: 0px 12px 35px 0px rgba($gray-800, 0.15), 0px 0px 6px 0px rgba($blue-900, 0.05);
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include max-screen(tablet) {
      padding: 20px 20px 24px 20px;
    }
    @include min-screen(tablet-2x) {
      padding: 40px;
    }
  }

  &__content {
    @include min-screen(tablet-2x) {
      max-width: 815px;
    }
  }

  &__title {
    font-weight: 700;
    color: $black-400;
    @include max-screen(tablet) {
      font-size: 18px;
      line-height: 24px;
    }
    @include min-screen(tablet-2x) {
      font-size: 24px;
      line-height: 30px;
      margin-bottom: 24px;
    }
  }

  &__text {
    color: rgba($black-300, 0.75);
    @include max-screen(tablet) {
      margin-top: 16px;
    }
    @include min-screen(tablet-2x) {
      display: inline;
    }
  }

  &__link {
    @include max-screen(tablet) {
      margin-top: 20px;
      display: flex;
      gap: 8px;
      align-items: center;
    }
    @include min-screen(tablet-2x) {
      display: inline;
    }
    svg {
      stroke: transparent;
      @include min-screen(tablet-2x) {
        display: none;
      }
    }
    a {
      color: $black-400;
      &:active {
        color: $orange-500;
      }
      @include max-screen(tablet) {
        font-size: 16px;
        line-height: 20px;
        color: $blue-500;
        font-weight: 700;
      }
      @include min-screen(tablet-2x) {
        font-size: 18px;
        line-height: 24px;
        font-weight: 600;
      }
      @include min-screen(laptop) {
        transition: color $transition-default;
        &:hover {
          color: $orange-500;
        }
      }
    }
  }

  &__icon {
    @include max-screen(tablet) {
      position: absolute;
      right: 0;
      top: 0;
    }
    @include min-screen(tablet-2x) {

    }
  }
}