.how-to-book-types {
  background-color: $bg-blue;
  position: relative;
  @include max-screen(tablet) {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  @include min-screen(tablet-2x) {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  &:before {
    position: absolute;
    content: '';
    background-color: $bg-blue;
    top: 100%;
    width: 100%;
    z-index: -1;
    @include max-screen(tablet) {
      height: 127px;
    }
    @include min-screen(tablet-2x) {
      height: 134px;
    }
  }

  &__items {
    display: grid;
    @include max-screen(mobile) {
      grid-template-columns: repeat(1, minmax(0, 1fr));
      row-gap: 10px;
    }
    @include min-screen(tablet) {
      grid-template-columns: repeat(2, minmax(0, 1fr));
      row-gap: 40px;
      column-gap: 16px;
    }
  }

  &__item {
    position: relative;
    background-color: rgba($white, 0.85);
    border-radius: 6px;
    padding: 20px 24px 20px 20px;
    box-shadow: 0px 1px 3px 1px rgba($black-400, 0.03);
    @include min-screen(laptop) {
      transition: box-shadow $transition-default;
      &:hover {
        box-shadow: 0px 5px 20px 0px rgba($black-400, 0.07), 0px 1px 3px 1px rgba($black-400, 0.04);
        .how-to-book-types__name {
          color: $orange-500;
        }
      }
    }
    a {
      position: absolute;
      inset: 0;
    }
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__content {
    display: flex;
    align-items: center;
    @include max-screen(tablet) {
      gap: 16px;
    }
    @include min-screen(tablet-2x) {
      gap: 24px;
    }
  }

  &__name {
    color: $black-400;
    font-weight: 700;
    @include max-screen(mobile-2x) {
      max-width: 154px;
    }
    @include max-screen(tablet) {
      font-size: 16px;
      line-height: 20px;
    }
    @include min-screen(tablet-2x) {
      font-size: 18px;
      line-height: 24px;
    }
    @include min-screen(laptop) {
      transition: color $transition-default;
    }
  }

  &__arrow,
  &__icon {
    svg {
      stroke: transparent;
    }
  }

  &__icon {
    border-radius: 8px;
    width: 40px;
    height: 40px;
    background-color: rgba($green-300, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    svg {
      width: 24px;
      height: 24px;
      fill: $green-300;
    }
  }
}