.how-to-book-hero {
  background-color: $bg-blue;
  @include max-screen(tablet) {
    padding-top: 60px;
    padding-bottom: 25px;
  }
  @include min-screen(tablet-2x) {
    padding-top: 90px;
    padding-bottom: 40px;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include max-screen(tablet) {
      gap: 20px;
    }
    @include min-screen(tablet-2x) {
      gap: 30px;
    }
  }

  &__text {
    text-align: center;
    color: rgba($black-300, 0.75);
    @include max-screen(tablet) {
      font-size: 16px;
      line-height: 20px;
    }
    @include min-screen(tablet-2x) {
      max-width: 856px;
      font-size: 18px;
      line-height: 24px;
    }
  }
}