extends ./layouts/master

block title
  title Путевка | Главная

block basicSeo
  meta(content="Главная страница" name="description")
  meta(content="Главная, страница" name="keywords")

block manifestBrowserconfigFiles
  link(href="./manifest.json" rel="manifest" crossorigin)
  meta(content="./browserconfig.xml" name="msapplication-config")

block content
  main
    include ./components/main/main-faq
    include ./components/main/main-promo
    include ./components/main/main-resorts
    include ./components/main/main-procedures
    include ./components/main/main-about
    include ./components/main/main-sanatorium