.about-team-card {
  background-color: $white;
  border-radius: 10px;
  box-shadow: 0px 12px 35px 0px #64749A33;
  @include max-screen(tablet) {
    padding: 24px 24px 34px 24px;
    min-height: 230px;
  }
  @include min-screen(tablet-2x) {
    padding: 40px;
    min-height: 374px;

  }
  svg {
    stroke: transparent;
  }

  &__icon {
    margin-bottom: 20px;
    @include max-screen(tablet) {
      width: 36px;
      height: 36px;
    }
  }

  &__title {
    font-family: 'Tilda Sans';
    font-weight: 700;
    color: $black-400;
    @include max-screen(tablet) {
      font-size: 16px;
      line-height: 20px;
      margin-bottom: 16px;
    }
    @include min-screen(tablet-2x) {
      font-size: 24px;
      line-height: 28px;
      margin-bottom: 30px;
    }
    &--small {
      font-weight: 400;
      @include max-screen(tablet) {
        font-size: 16px;
        line-height: 20px;
      }
      @include min-screen(tablet-2x) {
        font-size: 18px;
        line-height: 24px;
      }
      span {
        font-weight: 700;
      }
    }
  }

  &__text {
    font-weight: 400;
    color: $black-300;
    @include max-screen(tablet) {
      font-size: 16px;
      line-height: 16px;
    }
    @include min-screen(tablet-2x) {
      font-size: 18px;
      line-height: 24px;
    }
  }
}