.breadcrumbs-footer {
  position: relative;
  z-index: 2;
  background-color: $bg-blue;
  @include min-screen(tablet-2x) {
    padding-top: 20px;
  }

  &__list {
    align-items: center;
    display: inline-flex;
    @include max-screen(tablet) {
      gap: 6px;
      border-bottom: 1px solid rgba($color: $blue-700, $alpha: 0.15);
      padding: 10px 0;
      width: 100%;
    }
    @include min-screen(tablet-2x) {
      gap: 10px;
    }
    li,
    a, 
    p {
      color: $blue-500;
      @include max-screen(tablet) {
        font-size: 14px;
        line-height: 16px;
      }
      @include min-screen(tablet-2x) {
        font-size: 16px;
        line-height: 18px;
      }
    }

    li {
      display: inline;
      color: $gray-400;
      &::last-child {
        color: $gray-400;
      }
    }

    svg {
      fill: transparent;
      display: inline-block;
      stroke: $gray-400;
      stroke-opacity: 0.5;
    }

    a {
      &:active {
        color: $orange-500;
      }
      @include min-screen(laptop) {
        transition: color $transition-default;
        &:hover {
          color: $orange-500;
        }
      }
    }
  }
}