.button-transparent {
  border: 1px solid rgba($blue-800, 0.25);
  display: flex;
  justify-content: center;
  border-radius: 8px;
  @include max-screen(mobile-2x) {
    padding: 11px;
    width: 100%;
  }
  @include min-screen(mobile) {
    padding: 11px 86px;
    max-width: max-content;
  }
  @include min-screen(laptop) {
    &:hover {
      span {
        color: $orange-500;
      }
    }
  }
  span {
    font-size: 16px;
    font-weight: 600;
    line-height: 18px;
    color: $blue-500;
    transition: color $transition-default;
  }
  &:active {
    span {
      color: $orange-500;
    }
  }
}