.button-transparent {
  width: 100%;
  border: 1px solid $blue-border;
  display: flex;
  padding: 11px;
  justify-content: center;
  border-radius: 8px;
  @include screen(tablet) {
    padding: 11px 86px;
    max-width: max-content;
  }
  @include screen(laptop) {
    &:hover {
      span {
        color: $orange-500;
      }
    }
  }
  @include screen(desktop) {
    &:hover {
      span {
        color: $orange-500;
      }
    }
  }
  span {
    font-size: 16px;
    font-weight: 600;
    line-height: 18px;
    color: $blue-500;
    transition: color $transition-default;
  }
  &:active {
    span {
      color: $orange-500;
    }
  }
}