.excursion-card {
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  height: 100%;
  box-shadow: 0px 5px 20px 0px rgba($color: $black-400, $alpha: 0.03), 0px 1px 3px 1px rgba($color: $black-400, $alpha: 0.07);
  
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  &__bg {
    width: 100%;
    @include max-screen(tablet) {
      height: 200px;
    }
    @include min-screen(tablet-2x) {
      height: 240px;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__container {
    background-color: $white;
    padding: 16px;
    @include max-screen(tablet) {
      height: calc(100% - 200px);
    }
    @include min-screen(tablet-2x) {
      height: calc(100% - 240px);
    }
  }

  &__title {
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    color: $black-400;
    transition: color $transition-default;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    &:active {
      color: $orange-500;
    }
    @include min-screen(laptop) {
      &:hover {
        color: $orange-500;
      }
    }
  }

  &__text {
    margin-top: 10px;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    color: rgba($color: $black-300, $alpha: 0.75);
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  &__items {
    margin-top: 24px;
    display: flex;
    gap: 4px;
    align-items: center;
    span {
      background-color: $gray-400;
      width: 2px;
      height: 2px;
      border-radius: 100px;
    }
  }

  &__item {
    font-size: 14px;
    line-height: 14px;
    color: $black-300;
  }

  &__cost {
    margin-top: 10px;
    font-family: 'Panton';
    font-size: 20px;
    font-weight: 800;
    line-height: 24px;
    color: $black-400;
    display: flex;
    gap: 4px;
    span {
      font-family: 'Tilda Sans';
      font-size: 14px;
      font-weight: 400;
      line-height: 24px;
    }
  }

  &__button {
    margin-top: 20px;
    width: 100%;
    padding: 6.5px;
    background-color: $orange-500;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    transition: background-color $transition-default;
    span {
      font-size: 14px;
      font-weight: 700;
      line-height: 16.8px;
      text-align: center;
      color: $white;
    }
    @include min-screen(laptop) {
      &:hover {
        background-color: $orange-300;
      }
    }
  }
}