.resort-card {
  position: relative;
  width: 100%;
  height: 100%;
  aspect-ratio: 4 / 2.67;
  @include min-screen(tablet-2x) {
    aspect-ratio: 1 / 1;
    border-radius: 10px;
    overflow: hidden;
  }
  @include min-screen(laptop) {
    aspect-ratio: 1 / 1;
    border-radius: 10px;
    overflow: hidden;
  }
  @include min-screen(desktop) {
    aspect-ratio: 1 / 1;
    border-radius: 10px;
    overflow: hidden;
  }

  &__top {
    position: absolute;
    top: 20px;
    left: 20px;
    @include min-screen(laptop) {
      top: 30px;
      left: 30px;
    }
    @include min-screen(desktop) {
      top: 30px;
      left: 30px;
    }
  }

  &__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &:before {
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      inset: 0;
      background-image: linear-gradient(180deg, rgba(13, 25, 43, 0) 36.25%, rgba(13, 25, 43, 0.5625) 67.25%, rgba(13, 25, 43, 0.75) 98.5%);
    }
  }

  &__container {
    position: relative;
    height: 100%;
    padding: 20px 70px 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    @include min-screen(laptop) {
      padding: 30px 70px 30px 30px;
    }
    @include min-screen(desktop) {
      padding: 30px 70px 30px 30px;
    }

  }

  &__cost {
    padding: 1.5px 5px;
    display: inline-block;
    span {
      font-size: 14px;
      font-weight: 700;
      line-height: 16.8px;
      text-align: center;
      color: $white;
    }
    &--orange {
      background-color: $orange-500;
    }
    &--red {
      background-color: $red-500;
    }
    &--green {
      background-color: $green-500;
    }
  }

  &__title {
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
    color: $white;
    display: inline-block;
    transition: color $transition-default;
    @include min-screen(laptop) {
      font-size: 24px;
      line-height: 24px;
    }
    @include min-screen(desktop) {
      font-size: 24px;
      line-height: 24px;
    }
  }

  &__link {
    max-width: max-content;
    &:active {
      .resort-card__title {
        color: $orange-500;
      }
    }
    @include min-screen(laptop) {
      &:hover {
        .resort-card__title {
          color: $orange-500;
        }
      }
    }
    @include min-screen(desktop) {
      &:hover {
        .resort-card__title {
          color: $orange-500;
        }
      }
    }
  }

  &__items {
    margin-top: 16px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 14px;
    column-gap: 20px;
    @include min-screen(laptop) {
      margin-top: 20px;
    }
    @include min-screen(desktop) {
      margin-top: 20px;
    }
  }

  &__item {
    color: $white;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    transition: color $transition-default;
    &:active {
      color: $orange-500;
    }
    @include min-screen(laptop) {
      font-size: 18px;
      font-weight: 500;
      line-height: 18px;
      &:hover {
        color: $orange-500;
      }
    }
    @include min-screen(desktop) {
      font-size: 18px;
      font-weight: 500;
      line-height: 18px;
      &:hover {
        color: $orange-500;
      }
    }
  }

  &--mini {
    min-height: 120px;
    @include min-screen(tablet-2x) {
      min-height: 200px;
      aspect-ratio: auto;
    }
    @include min-screen(laptop) {
      min-height: 200px;
      aspect-ratio: auto;
    }
    @include min-screen(desktop) {
      min-height: 200px;
      aspect-ratio: auto;
    }
    .resort-card {
      &__container {
        padding: 20px;
        @include min-screen(laptop) {
          padding: 30px;
        }
        @include min-screen(desktop) {
          padding: 30px;
        }
      }
      &__cost {
        display: none;
        @include min-screen(tablet) {
          display: inline-block;
        }
        @include min-screen(tablet-2x) {
          display: inline-block;
        }
        @include min-screen(laptop) {
          display: inline-block;
        }
        @include min-screen(desktop) {
          display: inline-block;
        }
      }
    }
  }
}