.sanatorium-card {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 5px 20px 0px #26314108, 0px 1px 3px 1px #26314112;
  position: relative;
  height: 100%;

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  &__bg {
    width: 100%;
    @include max-screen(tablet) {
      height: 200px;
    }
    @include min-screen(tablet-2x) {
      height: 240px;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__cost {
    position: absolute;
    top: 16px;
    left: 16px;
    padding: 1px 5px;
    span {
      font-size: 14px;
      font-weight: 700;
      line-height: 16.8px;
      text-align: center;
      color: $white;
    }
    &--orange {
      background-color: $orange-500;
    }
    &--red {
      background-color: $red-500;
    }
    &--green {
      background-color: $green-500;
    }
  }

  &__container {
    background-color: $white;
    padding: 16px;
    @include max-screen(tablet) {
      height: calc(100% - 200px);
    }
    @include min-screen(tablet-2x) {
      height: calc(100% - 240px);
    }
  }

  &__title {
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    color: $black-400;
    transition: color $transition-default;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    &:active {
      color: $orange-500;
    }
    @include min-screen(laptop) {
      &:hover {
        color: $orange-500;
      }
    }
  }

  &__location {
    margin-top: 8px;
    display: flex;
    gap: 3px;
    align-items: center;
    span {
      font-size: 14px;
      font-weight: 400;
      line-height: 15px;
      color: $black-300;
    }
    svg {
      stroke: transparent;
    }
  }

  &__items {
    margin-top: 24px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 16px;
    row-gap: 8px;
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 6px;
    span {
      font-size: 14px;
      font-weight: 500;
      line-height: 18px;
      color: $black-300;
    }
    svg {
      stroke: transparent;
    }
  }

  &__profile {
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 6px;
    svg {
      stroke: transparent;
    }
  }

  &__treatment {
    color: $blue-500;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    display: flex;
    align-items: center;
    gap: 3px;
    border-bottom: 1px dashed rgba($color: $blue-500, $alpha: 0.25);
  }

  &__button {
    margin-top: 20px;
    width: 100%;
    padding: 6.5px;
    background-color: $orange-500;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    transition: background-color $transition-default;
    span {
      font-size: 14px;
      font-weight: 700;
      line-height: 16.8px;
      text-align: center;
      color: $white;
    }
    @include min-screen(laptop) {
      &:hover {
        background-color: $orange-300;
      }
    }
  }
}