.search-card {
  display: flex;
  border-radius: 6px;
  overflow: hidden;
  background-color: $white;
  box-shadow: 0px 1px 3px 1px rgba($black-400, 0.03);
  @include max-screen(tablet) {
    flex-direction: column;
  }
  @include min-screen(tablet-2x) {
    transition: box-shadow $transition-default;
    &:hover {
      box-shadow: 0px 5px 20px 0px rgba($black-400, 0.07), 0px 1px 3px 1px rgba($black-400, 0.04);
    }
  }
  &__room {
    display: none;
  }
  
  &__information {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include max-screen(tablet) {
      flex-direction: column-reverse;
      overflow: hidden;
    }
    &--top {
      @include max-screen(tablet) {
        margin-top: 16px;
        &:before {
          position: absolute;
          content: '';
          top: 0;
          right: 0;
          bottom: 0;
          height: 100%;
          width: 30px;
          background: linear-gradient(270deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
        }
      }
    }
    &--bottom {
      @include max-screen(tablet) {
        margin-top: 20px;
        .search-card__bottom {
          display: grid;
        }
      }
    }
    svg {
      display: inline-block;
      stroke: transparent;
      margin-right: 8px;
    }
  }

  &__bottom {
    @include max-screen(tablet) {
      display: flex;
      flex-direction: column;
    }
    .search-card__items {
      display: none;
    }
  }

  &__name {
    span {
      width: 10px;
      height: 10px;
      color: rgba($black-300, 0.75);
    }
    svg {
      stroke: transparent;
    }
    &--mob {
      @include max-screen(tablet) {
        display: flex;
        font-size: 16px;
        font-weight: 600;
        line-height: 18px;
        color: rgba($black-300, 0.75);
      }
      @include min-screen(tablet-2x) {
        display: none;
      }
    }
    &--desktop {
      @include max-screen(tablet) {
        display: none;
      }
      @include min-screen(tablet-2x) {
        display: flex;
      }
    }
  }

  &__oldprice {
    font-family: 'Panton';
    font-size: 14px;
    font-weight: 600;
    line-height: 14px;
    color: $black-400;
    position: relative;
    display: inline-block;
    &:before {
      content: '';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      height: 1px;
      width: 100%;
      background-color: $black-400;
    }
  }

  &__percent {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $red-600;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    
    font-size: 14px;
    font-weight: 700;
    line-height: 14px;
    color: $white;
  }

  &__costs {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    @include max-screen(tablet-2x) {
      grid-row: 2 / span 1;
      grid-column: 1 / span 2;
    }
  }

  &__cost {
    display: flex;
    align-items: center;
    column-gap: 8px;
    p {
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      color: $black-400;
    }
    span {
      font-family: 'Panton';
      font-size: 20px;
      font-weight: 800;
      line-height: 24px;
    }
    &--red {
      p {
        span {
          color: $red-600;
        }
      }
    }
  }

  &__button {
    background-color: $orange-500;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 11px;
    &:active {
      background-color: $orange-300;
    }
    @include max-screen(tablet) {
      grid-row: 3 / span 1;
      grid-column: 1 / span 2;
      margin-top: 16px;
    }
    @include min-screen(tablet-2x) {
      margin-top: 10px;
    }
    @include min-screen(laptop) {
      transition: background-color $transition-default;
      &:hover {
        background-color: $orange-300;
      }
    }
    span {
      font-size: 16px;
      font-weight: 800;
      line-height: 18px;
      text-align: center;
      color: $white;
    }
  }

  &__statuses {
    display: flex;
    flex-direction: column;
    gap: 8px;
    @include max-screen(tablet-2x) {
      grid-row: 1 / span 1;
    }
  }

  &__status {
    display: flex;
    align-items: center;
    gap: 4px;
    svg {
      stroke: transparent;
    }
    span {
      font-size: 14px;
      font-weight: 400;
      line-height: 14px;
    }
    &--orange {
      span {
        color: $orange-600;
      }
    }
    &--green {
      span {
        color: $green-200;
      }
    }
    &--blue {
      span {
        color: $blue-650;
      }
    }
    &--red {
      span {
        color: $red-300;
      }
    }
  }

  &__review {
    @include max-screen(tablet) {
      flex-direction: column;
      align-items: flex-end;
      grid-column: 2 / span 1;
      grid-row: 2 / span 1;
      justify-content: flex-end;
    }
    @include min-screen(tablet-2x) {
      align-items: center;
    }
    &--mob {
      @include max-screen(tablet) {
        display: flex;
      }
      @include min-screen(tablet-2x) {
        display: none;
      }
    }
    &--desktop {
      @include max-screen(tablet) {
        display: none;
      }
      @include min-screen(tablet-2x) {
        display: flex;
        gap: 4px;
      }
    }
    span {
      @include max-screen(tablet) {
        display: none;
      }
      @include min-screen(tablet-2x) {
      }
    }
  }

  &__rating {
    display: flex;
    align-items: center;
    svg {
      width: 18px;
      height: 18px;
      fill: $yellow-400;
      stroke: transparent;
    }
    p {
      font-size: 16px;
      font-weight: 800;
      line-height: 18px;
    }
  }

  &__comments {
    font-weight: 400;
    line-height: 18px;
    color: rgba($black-300, 0.75);
    @include max-screen(tablet-2x) {
      font-size: 14px;
    }
    @include min-screen(laptop) {
      font-size: 16px;
    }
  }

  &__underground {
    white-space: nowrap;
    display: flex;
    align-items: center;
    span {
      font-size: 16px;
      font-weight: 500;
      line-height: 18px;
      color: $black-400;
    }
  }

  &__metro {
    stroke: transparent;
    &--green {
      fill: $green-600;
    }
    &--red {
      fill: $red-900;
    }
  }

  &__location {
    white-space: nowrap;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    color: rgba($black-300, 0.75);
    @include max-screen(tablet) {
      margin-top: 4px;
    }
    @include min-screen(tablet-2x) {
      margin-top: 6px;
    }
  }

  &__title {
    &:before {
      @include max-screen(tablet) {
        position: absolute;
        content: '';
        width: calc(100% + 32px);
        height: 1px;
        background-color: $gray-500;
        top: 0;
        left: -16px;
        right: 0;
      }
    }
    @include max-screen(tablet) {
      padding-top: 16px;
      margin-top: 16px;
      position: relative;
    }
    @include min-screen(tablet-2x) {
      margin-top: 8px;
      max-width: 410px;
    }
    a {
      font-family: 'Panton';
      font-size: 18px;
      font-weight: 700;
      line-height: 20px;
      color: $black-400;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
      -webkit-line-clamp: 2;
      &:active {
        color: $orange-500;
      }
      @include min-screen(laptop) {
        transition: color $transition-default;
        &:hover {
          color: $orange-500;
        }
      }
    }
  }

  &__items {
    display: flex;
    align-items: center;
    @include max-screen(tablet) {
      margin-top: 16px;
      gap: 10px;
    }
    @include min-screen(tablet-2x) {
      margin-top: 20px;
      gap: 16px;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 4px;
    svg {
      fill: transparent;
      @include max-screen(tablet) {
        display: none;
      }
      @include min-screen(tablet-2x) {
      }
    }
    p {
      font-size: 16px;
      font-weight: 400;
      line-height: 18px;
      color: rgba($black-300, 0.75);
    }
  }

  &__content {
    background-color: $white;
    display: grid;
    width: 100%;
    @include max-screen(tablet) {
      padding: 16px;
    }
    @include min-screen(tablet-2x) {
      column-gap: 42px;
      grid-template-columns: 1fr 176px;
      padding: 20px 20px 20px 30px;
    }
  }

  &__image {
    height: auto;
    overflow: hidden;
    position: relative;
    @include max-screen(tablet) {
      width: 100%;
      max-height: 210px;
    }
    @include min-screen(tablet-2x) {
      max-height: 220px;
      height: 220px;
    }
    @include mm-screen(tablet-2x) {
      width: 300px;
      min-width: 300px;
    }
    @include mm-screen(laptop) {
      width: 240px;
      min-width: 240px;
    }
    @include min-screen(desktop) {
      width: 300px;
      min-width: 300px;
    }
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  &__benefits {
    position: absolute;
    z-index: 10;
    top: 16px;
    left: 16px;
    display: flex;
    gap: 8px;
  }

  &__landlord,
  &__cashback {
    font-size: 14px;
    font-weight: 700;
    line-height: 14px;
    padding: 2px 5px;
    color: $white;
  }

  &__cashback {
    background-color: $green-300;
    span {
      font-weight: 900;
    }
  }

  &__landlord {
    background-color: $blue-400;
  }

  &__slider {
    height: 100%;
    @include min-screen(laptop) {
      transition: opacity $transition-default;
      &:hover {
        .swiper-button {
          &-next, 
          &-prev {
            opacity: 0.5;
          }
        }
      }
    }
    .swiper-button {
      &-next, 
      &-prev {
        top: 50%;
        transform: translateY(-50%);
        bottom: 0;
        margin: 0;
        width: 35px;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50px;
        background-color: $white;
        box-shadow: 0px 5px 15px 0px #4B6AA626, 0px 1px 4px 0px #14448B0D;
        opacity: 0;
        &:active {
          opacity: 1;
        }
        @include min-screen(laptop) {
          transition: opacity $transition-default;
          &:hover {
            opacity: 1;
          }
        }
        svg {
          width: 10px;
          height: 16px;
          fill: transparent;
        }
        &:after {
          display: none;
        }
      }
      &-prev {
        left: 10px;
        svg {
          margin-right: 2px;
          transform: rotate(180deg);
        }
      }
      &-next {
        right: 10px;
        svg {
          margin-left: 2px;
        }
      }
    }
    .swiper-pagination {
      display: flex;
      align-items: center;
      justify-content: center;
      bottom: 10px;
      &-bullet {
        width: 6px;
        height: 6px;
        background-color: $gray-700;
        opacity: 1;
        box-shadow: 0px 0px 5px 0px rgba($black-600, 0.25);

        &-active {
          background-color: $white;
          width: 8px;
          height: 8px;
          box-shadow: 0px 0px 5px 0px rgba($black-600, 0.25);
        }
      }
    }
    .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
      margin: 0 3px;
    }
  }
}