section.reviews-hero
  .wrapper
    .reviews-hero__wrapper
      h1.reviews-hero__title Отзывы и публикации о Путевка.ком
      p.reviews-hero__text Здесь Вы можете ознакомиться с отзывами наших клиентов и <a href="#"> публикациями в СМИ</a>.<br>Доверьтесь опыту других путешественников и выберите идеальный отдых для себя с компанией «Путевка».
      .reviews-hero__subtitle Наш рейтинг на независимых сервисах:
      .reviews-hero__items
        +reviews-service-rating (
          {
            link: '/',
            image: {
              src: '/assets/images/reviews/ya-logo.svg',
              alt: 'yandex-logo'
            },
            amount: '5,0',
            star1: {
              src: '/assets/images/reviews/star.svg',
              alt: 'star'
            },
            star2: {
              src: '/assets/images/reviews/star.svg',
              alt: 'star'
            },
            star3: {
              src: '/assets/images/reviews/star.svg',
              alt: 'star'
            },
            star4: {
              src: '/assets/images/reviews/star.svg',
              alt: 'star'
            },
            star5: {
              src: '/assets/images/reviews/star.svg',
              alt: 'star'
            },
            text: '472 отзыва'
          }
        )
        +reviews-service-rating (
          {
            link: '/',
            image: {
              src: '/assets/images/reviews/otz-logo.svg',
              alt: 'otzyvru-logo'
            },
            amount: '5,0',
            star1: {
              src: '/assets/images/reviews/star.svg',
              alt: 'star'
            },
            star2: {
              src: '/assets/images/reviews/star.svg',
              alt: 'star'
            },
            star3: {
              src: '/assets/images/reviews/star.svg',
              alt: 'star'
            },
            star4: {
              src: '/assets/images/reviews/star.svg',
              alt: 'star'
            },
            star5: {
              src: '/assets/images/reviews/star-part.svg',
              alt: 'star-part'
            },
            text: '303 отзыва'
          }
        )
        +reviews-service-rating (
          {
            link: '/',
            image: {
              src: '/assets/images/reviews/yell-logo.png',
              alt: 'yell-logo'
            },
            amount: '5,0',
            star1: {
              src: '/assets/images/reviews/star.svg',
              alt: 'star'
            },
            star2: {
              src: '/assets/images/reviews/star.svg',
              alt: 'star'
            },
            star3: {
              src: '/assets/images/reviews/star.svg',
              alt: 'star'
            },
            star4: {
              src: '/assets/images/reviews/star.svg',
              alt: 'star'
            },
            star5: {
              src: '/assets/images/reviews/star.svg',
              alt: 'star'
            },
            text: '179 отзывов'
          }
        )
        +reviews-service-rating (
          {
            link: '/',
            image: {
              src: '/assets/images/reviews/google-logo.svg',
              alt: 'google-logo'
            },
            amount: '5,0',
            star1: {
              src: '/assets/images/reviews/star.svg',
              alt: 'star'
            },
            star2: {
              src: '/assets/images/reviews/star.svg',
              alt: 'star'
            },
            star3: {
              src: '/assets/images/reviews/star.svg',
              alt: 'star'
            },
            star4: {
              src: '/assets/images/reviews/star.svg',
              alt: 'star'
            },
            star5: {
              src: '/assets/images/reviews/star.svg',
              alt: 'star'
            },
            text: '53 отзыва'
          }
        )
      