.reviews-pagination
  .reviews-pagination__wrapper

    .reviews-pagination__arrows.reviews-pagination__arrows--prev
      a(href="#").reviews-pagination__amount.not-active.reviews-pagination__amount--hidden
        svg(width="36" height="36" viewBox="0 0 36 36")
          use(xlink:href="#svg-double-arrow-right")
      a(href="#").reviews-pagination__amount.not-active
        svg(width="36" height="36" viewBox="0 0 36 36")
          use(xlink:href="#svg-arrow-right-big")

    .reviews-pagination__amounts
      a(href="#").reviews-pagination__amount.active 
        span 1
      a(href="#").reviews-pagination__amount
        span 2
      a(href="#").reviews-pagination__amount
        span 3
      a(href="#").reviews-pagination__amount.reviews-pagination__amount--hidden
        span 4
      a(href="#").reviews-pagination__amount.reviews-pagination__amount--hidden
        span 5
      a(href="#").reviews-pagination__amount
        span ...
      a(href="#").reviews-pagination__amount
        span 156

    .reviews-pagination__arrows.reviews-pagination__arrows--next
      a(href="#").reviews-pagination__amount
        svg(width="36" height="36" viewBox="0 0 36 36")
          use(xlink:href="#svg-arrow-right-big")
      a(href="#").reviews-pagination__amount.reviews-pagination__amount--hidden
        svg(width="36" height="36" viewBox="0 0 36 36")
          use(xlink:href="#svg-double-arrow-right")