.reviews-popup
  .reviews-popup__wrapper
    .reviews-popup__header
      button.reviews-popup__icon.reviews-popup__close(type="button")
        svg(width="24" height="24" viewBox="0 0 24 24")
          use(xlink:href="#svg-close")
      .reviews-popup__logo
        img(src="/assets/images/reviews/yell-logo-mini.svg", alt="yell-logo")
      .reviews-popup__link Размещен на
        a(href="#") Yell
        svg(width="12" height="12" viewBox="0 0 12 12")
          use(xlink:href="#svg-share")
    .reviews-popup__main
      .reviews-popup__top
        .reviews-popup__info Анна Назарова <time datetime="2022-03-28"> - 28.03.2022</time>
        .reviews-popup__stars
          img(src="/assets/images/reviews/star.svg", alt="five star")
          img(src="/assets/images/reviews/star.svg", alt="five star")
          img(src="/assets/images/reviews/star.svg", alt="five star")
          img(src="/assets/images/reviews/star.svg", alt="five star")
          img(src="/assets/images/reviews/star.svg", alt="five star")
      .reviews-popup__text
        p Доброго времени суток, уважаемые читатели моего отзыва! Если вы зайдете в мой профиль, то увидите сколько моих отзывов о путешествиях побывало на главной странице ( и это, увы, далеко не все), и всегда я организовывала свой отдых сама, без турфирм. В этом сентябре тоже планировалось путешествие на машине в Грузию, а оттуда в Турцию на Средиземное море. У меня было уже все четко спланировано, забронированы все отели через Букинг, все рассчитано, но из-за внешних обстоятельств все-таки не рискнули ехать (как показали события последних дней, и правильно!)...
        p Первым сайтом в поисковике у меня вышел сайт Putevka.com. Полистала. Предложений очень много, есть выбор и отелей и санаториев. К моему удивлению цены на ближайшие дни в санатории были вполне приемлемыми, причем можно выбрать удобную дату заезда, количество ночей, понравившийся номер и выбрать путевку с лечением или без лечения.
        p Мы выбрали санаторий Мисхор, почему именно его, расскажу в другом отзыве. Стоимость путевки на 11 ночей, без лечения, с питанием по системе шведский стол, составляла 55492 рубля, если разделить это на двоих, то получается 2500 в сутки на человека с полным пансионом в Крыму, в сентябре, возле Ялты. Надо брать! Но страшно, потому что я никогда не пользовалась услугами таких фирм, а отзывы на сайте самые разнообразные, и что меня больше всего настораживало, отзывы за последнее время от людей с нулевым рейтингом на сайте (здесь таких "доброжелателей" полно), напишут заказной отзыв и прощайте, больше и не появляются, доверия у меня такие отзывы не вызывают.
        p Я очень довольна работой фирмы. Воспользуюсь ли я их услугами еще раз? Да! В следующем году мы хотим поехать в этот же санаторий с внуками- двойняшками и их родителями. Рекомендую ли я эту фирму? Конечно, да! Моя оценка их работе 10 из 10 баллов. Спасибо ребятам! Удачи и процветания! Мира и благополучия и новых путешествий всем нам!
      button.reviews-popup__button.reviews-popup__close(type="button")
        span Закрыть

