.stars-rating
  .stars-rating__wrap
    input#star-rating-5.stars-rating__input(type="radio" name="stars-rating" value="5")
    label.stars-rating__label(for="star-rating-5")
      svg(width="30" height="30" viewBox="0 0 30 30")
        use(xlink:href="#svg-star")

    input#star-rating-4.stars-rating__input(type="radio" name="stars-rating" value="4")
    label.stars-rating__label(for="star-rating-4")
      svg(width="30" height="30" viewBox="0 0 30 30")
        use(xlink:href="#svg-star")

    input#star-rating-3.stars-rating__input(type="radio" name="stars-rating" checked value="3")
    label.stars-rating__label(for="star-rating-3")
      svg(width="30" height="30" viewBox="0 0 30 30")
        use(xlink:href="#svg-star")

    input#star-rating-2.stars-rating__input(type="radio" name="stars-rating" value="2")
    label.stars-rating__label(for="star-rating-2")
      svg(width="30" height="30" viewBox="0 0 30 30")
        use(xlink:href="#svg-star")

    input#star-rating-1.stars-rating__input(type="radio" name="stars-rating" value="1")
    label.stars-rating__label(for="star-rating-1")
      svg(width="30" height="30" viewBox="0 0 30 30")
        use(xlink:href="#svg-star")
