.reviews-media {
  @include max-screen(tablet) {
    padding: 60px 0 40px;
  }
  @include min-screen(tablet-2x) {
    padding: 80px 0 50px;
  }

  &__blocks {
    display: grid;
    @include max-screen(tablet) {
      margin-top: 30px;
      grid-template-columns: repeat(1, minmax(0, 1fr));
      gap: 16px;
    }
    @include min-screen(tablet-2x) {
      margin-top: 40px;
      grid-template-columns: repeat(3, minmax(0, 1fr));
      gap: 24px;
    }
  }

  &__block {
    padding: 30px;
    border-radius: 10px;
    background-color: $white-100;
  }

  &__subtitle {
    margin-top: 40px;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    color: $black-400;
  }

  &__text {
    margin-top: 20px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: $black-300;
  }

  &__link {
    display: inline-block;
    margin-top: 30px;
    font-size: 18px;
    font-weight: 500;
    line-height: 18px;
    color: $blue-500;
    @include min-screen(laptop) {
      transition: color $transition-default;
      &:hover {
        color: $orange-500;
      }
    }
  }
}