section.search-sorting
  .search-sorting__wrapper
    .search-sorting__amount Найдено 985 вариантов жилья из 13 503
    .search-sorting__button
      .search-sorting-dropdown
        .search-sorting-dropdown__button
          .search-sorting-dropdown__value По популярности
          svg(class="search-sorting-dropdown__arrow" width="14" height="14" viewBox="0 0 14 14")
            use(xlink:href="#svg-arrow-down")
          input.search-sorting-dropdown__input(type="text" name="filter")
        .search-sorting-dropdown__items
          span.search-sorting-dropdown__item.active По популярности
          span.search-sorting-dropdown__item По рейтингу
          span.search-sorting-dropdown__item Дешево и быстро


