section.search-button
  .search-buttons__slider
    .swiper
      .swiper-wrapper
        .swiper-slide
          .search-button__item 5-звездочные 
        .swiper-slide
          .search-button__item Снять жилье быстро
        .swiper-slide
          .search-button__item Снять жилье без депозита
        .swiper-slide
          .search-button__item Снять жилье в 10 минутах от метро
        .swiper-slide
          .search-button__item Снять жилье с двумя спальнями
        .swiper-slide
          .search-button__item Снять жилье с кондиционером