section.search-link
  .search-link__items
    a.search-link__item(href="#") 5-звездочные отели
    a.search-link__item(href="#") Снять жилье быстро
    a.search-link__item(href="#") Снять жилье без депозита
    a.search-link__item(href="#") Снять жилье в 10 минутах от метро
    a.search-link__item(href="#") Снять жилье с двумя спальнями
    a.search-link__item(href="#") Снять жилье с кондиционером
