.search-cards 
  +search-card(
    {
      cashback: 'Кэшбек <span>500 ₽</span>',
      landlord: '',
      name: 'Гостевой дом «Тихое место»',
      title: 'Двухместный номер с 1 кроватью стандарт',
      characteristic: [
        {
          guest: '2 гостя',
          bed: '1 кровать',
          room: '1 спальня',
          area: '33 м²',
        }
      ],
      metro: [
        {
          color: 'search-card__metro--green',
          name: 'Василеостровская ~ 6 мин. пешком',
        }
      ],
      location: 'Санкт-Петербург, 6-я Васильевского острова линия, 45Б',
      review: '<span>8,7</span> • 156 отзывов',
      statusOrange: 'Быстрое бронирование',
      statusBlue: '',
      statusRed: '',
      statusGreen: '',
      oldCost: [
        {
          oldPrice: '105 990 ₽',
          Price: '<span>92 539 ₽</span> за сутки',
        }
      ],
    }
  )
  +search-card(
    {
      cashback: 'Кэшбек <span>500 ₽</span>',
      landlord: 'Суперхозяин',
      name: '3<svg width="10" height="10" viewBox="0 0 10 10"><use xlink:href="#svg-search-star"></svg> Апарт-отель «ViO»',
      title: 'Двухместный номер с 1 кроватью сюит элегант',
      characteristic: [
        {
          guest: '4 гостя',
          bed: '2 кровати',
          room: '1 спальня',
          area: '28 м²',
        }
      ],
      metro: [
        {
          color: 'search-card__metro--red',
          name: 'Авиастроительная ~ 9 мин. пешком',
        }
      ],
      location: 'Санкт-Петербург, 6-я Васильевского острова линия, 45Б',
      review: '<span>8,9</span> • 147 отзывов',
      statusOrange: 'Быстрое бронирование',
      statusBlue: '',
      statusRed: '',
      statusGreen: 'Выгодный вариант',
      cost: '<span>1 200 ₽</span> за сутки'
    }
  )
  +search-card(
    {
      cashback: 'Кэшбек <span>500 ₽</span>',
      landlord: 'Суперхозяин',
      name: 'Гостевой дом «Апартаменты Е-95»',
      title: 'Трёхместный номер эконом',
      characteristic: [
        {
          guest: '4 гостя',
          bed: '2 кровати',
          room: '1 спальня',
          area: '33 м²',
        }
      ],
      metro: '',
      location: 'Солнечногорск, Ложки деревня, 52/1',
      review: '<span>9,4</span> • 8 отзывов',
      statusOrange: 'Быстрое бронирование',
      statusBlue: '',
      statusRed: '',
      statusGreen: '',
      cost: '<span>4 500 ₽</span> за сутки'
    }
  )
  +search-card(
    {
      cashback: 'Кэшбек <span>500 ₽</span>',
      landlord: '',
      name: '2-комнатная Квартира',
      title: 'Апартаменты с видом на город в центре Минска. Royal apartments Minsk.',
      characteristic: [
        {
          guest: '2 гостя',
          bed: '1 кровати',
          room: '1 спальня',
          area: '33 м²',
        }
      ],
      metro: [
        {
          color: 'search-card__metro--green',
          name: 'Суконная слобода ~ 49 мин. пешком',
        }
      ],
      location: 'Казань, Разведчика Ахмерова улица, 5',
      review: '<span>9,2</span> • 6 отзывов',
      statusOrange: 'Быстрое бронирование',
      statusBlue: '',
      statusRed: 'Последний номер',
      statusGreen: '',
      cost: '<span>6 040 ₽</span> за сутки'
    }
  )