section.search-button
  .search-buttons__slider
    .swiper
      .swiper-wrapper
        .swiper-slide
          button.search-button__item(type="button") 5-звездочные 
        .swiper-slide
          button.search-button__item(type="button") Снять жилье быстро
        .swiper-slide
          button.search-button__item(type="button") Снять жилье без депозита
        .swiper-slide
          button.search-button__item(type="button") Снять жилье в 10 минутах от метро
        .swiper-slide
          button.search-button__item(type="button") Снять жилье с двумя спальнями
        .swiper-slide
          button.search-button__item(type="button") Снять жилье с кондиционером