.search-filter
  .wrapper
    .search-filter__wrapper
      button.search-filter__block.search-filter__setting(type="button")
        svg(width="18" height="18" viewBox="0 0 18 18")
          use(xlink:href="#svg-search-filter")
        .search-filter__name Фильтр
        .search-filter__amount 29

      button.search-filter__block.search-filter__sorting(type="button")
        svg(width="18" height="18" viewBox="0 0 18 18")
          use(xlink:href="#svg-search-sorting")
        .search-filter__name Сортировать
      
      button.search-filter__block.search-filter__map(type="button")
        svg(width="18" height="18" viewBox="0 0 18 18")
          use(xlink:href="#svg-search-pin")
        .search-filter__name На карте