.search-keywords
  h3.search-keywords__title Выбранные фильтры
  .search-keywords__buttons
    button.search-keywords__button(type="button")
      span Быстрое бронирование
      svg(width="24" height="24" viewBox="0 0 24 24")
        use(xlink:href="#svg-close")
    button.search-keywords__button(type="button")
      span Суперхозяева
      svg(width="24" height="24" viewBox="0 0 24 24")
        use(xlink:href="#svg-close")
    button.search-keywords__button(type="button")
      span Отели, гостиницы
      svg(width="24" height="24" viewBox="0 0 24 24")
        use(xlink:href="#svg-close")
    button.search-keywords__button(type="button")
      span Апарт-отели
      svg(width="24" height="24" viewBox="0 0 24 24")
        use(xlink:href="#svg-close")
    button.search-keywords__button(type="button")
      span Квартиры, апартаменты
      svg(width="24" height="24" viewBox="0 0 24 24")
        use(xlink:href="#svg-close")
    button.search-keywords__button(type="button")
      span Дома, коттеджи
      svg(width="24" height="24" viewBox="0 0 24 24")
        use(xlink:href="#svg-close")
    button.search-keywords__button(type="button")
      span Мини-гостиницы
      svg(width="24" height="24" viewBox="0 0 24 24")
        use(xlink:href="#svg-close")
    button.search-keywords__button(type="button")
      span Гостевые дома
      svg(width="24" height="24" viewBox="0 0 24 24")
        use(xlink:href="#svg-close")
    button.search-keywords__button(type="button")
      span Глэмпинги, базы отдыха
      svg(width="24" height="24" viewBox="0 0 24 24")
        use(xlink:href="#svg-close")
    button.search-keywords__button(type="button")
      span От 500 ₽ до 11000 ₽ за 1 сутки
      svg(width="24" height="24" viewBox="0 0 24 24")
        use(xlink:href="#svg-close")
    button.search-keywords__button.search-keywords__button-reset(type="button")
      span Сбросить все
      svg(width="24" height="24" viewBox="0 0 24 24")
        use(xlink:href="#svg-close")