.search-hero
  .wide-wrapper
    .search-buttons__slider
      .swiper
        .swiper-wrapper
          .swiper-slide
            .search-hero__link
              svg(width="18" height="18" viewBox="0 0 18 18")
                use(xlink:href="#svg-water-default")
              span Санатории
          .swiper-slide
            .search-hero__link
              svg(width="18" height="18" viewBox="0 0 18 18")
                use(xlink:href="#svg-bed-default")
              span Отели
          .swiper-slide
            .search-hero__link.active
              svg(width="18" height="18" viewBox="0 0 18 18")
                use(xlink:href="#svg-building-default")
              span Жилье посуточно
          .swiper-slide
            .search-hero__link
              svg(width="20" height="20" viewBox="0 0 20 20")
                use(xlink:href="#svg-flying-default")
              span Авиабилеты
          .swiper-slide
            .search-hero__link
              svg(width="18" height="18" viewBox="0 0 18 18")
                use(xlink:href="#svg-direction-default")
              span Экскурсии
          .swiper-slide
            .search-hero__link
              svg(width="18" height="18" viewBox="0 0 18 18")
                use(xlink:href="#svg-house-default")
              span Базы отдыха
          .swiper-slide
            .search-hero__link
              svg(width="18" height="18" viewBox="0 0 18 18")
                use(xlink:href="#svg-shape-default")
              span Детские лагеря
  .wrapper
    .search-hero__wrapper
      h1.search-hero__title Апартаменты и квартиры посуточно в Санкт-Петербурге
