section.main-rent-abroad
  .main-rent-abroad__bg
    img(src="/assets/images/main-rent/abroad/bg.png" alt="flag" loading="lazy")
  .wrapper
    .main-rent-abroad__wrapper
      h2.main-rent-abroad__title Жилье посуточно за рубежом
      .main-rent-abroad__items

        .main-rent-abroad__item
          .main-rent-abroad__img
            img(src="/assets/images/main-rent/abroad/1.png" alt="flag")
          .main-rent-abroad__container  
            .main-rent-abroad__question
              h3
                a(href="#") Беларусь
              svg(width="10" height="16" viewBox="0 0 10 16")
                use(xlink:href="#svg-arrow-right")
            .main-rent-abroad__answer
              ul.main-rent-abroad__list
                li 
                  a(href="#") Минск
                li 
                  a(href="#") Брест
                li 
                  a(href="#") Витебск

        .main-rent-abroad__item
          .main-rent-abroad__img
            img(src="/assets/images/main-rent/abroad/2.png" alt="flag")
          .main-rent-abroad__container  
            .main-rent-abroad__question
              h3
                a(href="#") Казахстан
              svg(width="10" height="16" viewBox="0 0 10 16")
                use(xlink:href="#svg-arrow-right")
            .main-rent-abroad__answer
              ul.main-rent-abroad__list
                li 
                  a(href="#") Астана
                li 
                  a(href="#") Алматы
                li 
                  a(href="#") Актуа

        .main-rent-abroad__item
          .main-rent-abroad__img
            img(src="/assets/images/main-rent/abroad/3.png" alt="flag")
          .main-rent-abroad__container  
            .main-rent-abroad__question
              h3
                a(href="#") Абхазия
              svg(width="10" height="16" viewBox="0 0 10 16")
                use(xlink:href="#svg-arrow-right")
            .main-rent-abroad__answer
              ul.main-rent-abroad__list
                li 
                  a(href="#") Гагра
                li 
                  a(href="#") Сухум
                li 
                  a(href="#") Пицунда

        .main-rent-abroad__item
          .main-rent-abroad__img
            img(src="/assets/images/main-rent/abroad/4.png" alt="flag")
          .main-rent-abroad__container  
            .main-rent-abroad__question
              h3
                a(href="#") Грузия
              svg(width="10" height="16" viewBox="0 0 10 16")
                use(xlink:href="#svg-arrow-right")
            .main-rent-abroad__answer
              ul.main-rent-abroad__list
                li 
                  a(href="#") Тбилиси
                li 
                  a(href="#") Батуми
        
        .main-rent-abroad__item
          .main-rent-abroad__img
            img(src="/assets/images/main-rent/abroad/5.png" alt="flag")
          .main-rent-abroad__container  
            .main-rent-abroad__question
              h3
                a(href="#") Армения
              svg(width="10" height="16" viewBox="0 0 10 16")
                use(xlink:href="#svg-arrow-right")
            .main-rent-abroad__answer
              ul.main-rent-abroad__list
                li 
                  a(href="#") Ереван
                li 
                  a(href="#") Дилижан

        .main-rent-abroad__item
          .main-rent-abroad__img
            img(src="/assets/images/main-rent/abroad/6.png" alt="flag")
          .main-rent-abroad__container  
            .main-rent-abroad__question
              h3
                a(href="#") Турция
              svg(width="10" height="16" viewBox="0 0 10 16")
                use(xlink:href="#svg-arrow-right")
            .main-rent-abroad__answer
              ul.main-rent-abroad__list
                li 
                  a(href="#") Анталия
                li 
                  a(href="#") Стамбул
                li 
                  a(href="#") Аланья

        .main-rent-abroad__item
          .main-rent-abroad__img
            img(src="/assets/images/main-rent/abroad/7.png" alt="flag")
          .main-rent-abroad__container  
            .main-rent-abroad__question
              h3
                a(href="#") Азербайджан
              svg(width="10" height="16" viewBox="0 0 10 16")
                use(xlink:href="#svg-arrow-right")
            .main-rent-abroad__answer
              ul.main-rent-abroad__list
                li 
                  a(href="#") Баку
                li 
                  a(href="#") Сиазрань
        
        .main-rent-abroad__item
          .main-rent-abroad__img
            img(src="/assets/images/main-rent/abroad/8.png" alt="flag")
          .main-rent-abroad__container  
            .main-rent-abroad__question
              h3
                a(href="#") Киргизия
              svg(width="10" height="16" viewBox="0 0 10 16")
                use(xlink:href="#svg-arrow-right")
            .main-rent-abroad__answer
              ul.main-rent-abroad__list
                li 
                  a(href="#") Бешкек
                li 
                  a(href="#") Каракол

        .main-rent-abroad__item
          .main-rent-abroad__img
            img(src="/assets/images/main-rent/abroad/9.png" alt="flag")
          .main-rent-abroad__container  
            .main-rent-abroad__question
              h3
                a(href="#") Египет
              svg(width="10" height="16" viewBox="0 0 10 16")
                use(xlink:href="#svg-arrow-right")
            .main-rent-abroad__answer
              ul.main-rent-abroad__list
                li 
                  a(href="#") Шарм-эль-Шейх
                li 
                  a(href="#") Хургада
        
        .main-rent-abroad__item
          .main-rent-abroad__img
            img(src="/assets/images/main-rent/abroad/10.png" alt="flag")
          .main-rent-abroad__container  
            .main-rent-abroad__question
              h3
                a(href="#") Тайланд
              svg(width="10" height="16" viewBox="0 0 10 16")
                use(xlink:href="#svg-arrow-right")
            .main-rent-abroad__answer
              ul.main-rent-abroad__list
                li 
                  a(href="#") Пхукет
                li 
                  a(href="#") Паттайя
        
        .main-rent-abroad__item
          .main-rent-abroad__img
            img(src="/assets/images/main-rent/abroad/11.png" alt="flag")
          .main-rent-abroad__container  
            .main-rent-abroad__question
              h3
                a(href="#") Узбекистан
              svg(width="10" height="16" viewBox="0 0 10 16")
                use(xlink:href="#svg-arrow-right")
            .main-rent-abroad__answer
              ul.main-rent-abroad__list
                li 
                  a(href="#") Ташкент
                li 
                  a(href="#") Самарканд
        
        .main-rent-abroad__item
          .main-rent-abroad__img
            img(src="/assets/images/main-rent/abroad/12.png" alt="flag")
          .main-rent-abroad__container  
            .main-rent-abroad__question
              h3
                a(href="#") ОАЭ
              svg(width="10" height="16" viewBox="0 0 10 16")
                use(xlink:href="#svg-arrow-right")
            .main-rent-abroad__answer
              ul.main-rent-abroad__list
                li 
                  a(href="#") Дубай
                li 
                  a(href="#") Умм-эль-Кайвайн
