section.main-rent-popular
  .wrapper
    .main-rent-popular__wrapper
      h2.main-rent-popular__title Популярные направления
      .main-rent-popular__slider
        .swiper
          .swiper-wrapper
            .swiper-slide
              .main-rent-popular__block
                a(href="/")
                  span.visually-hidden Санкт-Петербург
                .main-rent-popular__bg
                  img(src="/assets/images/main-rent/popular/1.png", alt="popular")
                .main-rent-popular__container
                  .main-rent-popular__content
                    h3.main-rent-popular__city Санкт-Петербург
                    p.main-rent-popular__text 20 595 вариантов
            .swiper-slide
              .main-rent-popular__block
                a(href="/")
                  span.visually-hidden Сочи
                .main-rent-popular__bg
                  img(src="/assets/images/main-rent/popular/2.png", alt="popular")
                .main-rent-popular__container
                  .main-rent-popular__content
                    h3.main-rent-popular__city Сочи
                    p.main-rent-popular__text 21 412 вариантов
            .swiper-slide
              .main-rent-popular__block
                a(href="/")
                  span.visually-hidden Москва
                .main-rent-popular__bg
                  img(src="/assets/images/main-rent/popular/3.png", alt="popular")
                .main-rent-popular__container
                  .main-rent-popular__content
                    h3.main-rent-popular__city Москва
                    p.main-rent-popular__text 13 067 вариантов
            .swiper-slide
              .main-rent-popular__block
                a(href="/")
                  span.visually-hidden Казань
                .main-rent-popular__bg
                  img(src="/assets/images/main-rent/popular/4.png", alt="popular")
                .main-rent-popular__container
                  .main-rent-popular__content
                    h3.main-rent-popular__city Казань
                    p.main-rent-popular__text 5 623 варианта
            .swiper-slide
              .main-rent-popular__block
                a(href="/")
                  span.visually-hidden Санкт-Петербург
                .main-rent-popular__bg
                  img(src="/assets/images/main-rent/popular/1.png", alt="popular")
                .main-rent-popular__container
                  .main-rent-popular__content
                    h3.main-rent-popular__city Санкт-Петербург
                    p.main-rent-popular__text 20 595 вариантов
            .swiper-slide
              .main-rent-popular__block
                a(href="/")
                  span.visually-hidden Санкт-Петербург
                .main-rent-popular__bg
                  img(src="/assets/images/main-rent/popular/1.png", alt="popular")
                .main-rent-popular__container
                  .main-rent-popular__content
                    h3.main-rent-popular__city Санкт-Петербург
                    p.main-rent-popular__text 20 595 вариантов
        button(type="button", aria-label="Previous").swiper-button-prev
          svg(width="10" height="16" viewBox="0 0 10 16")
            use(xlink:href="#svg-arrow-right")
        button(type="button", aria-label="Next").swiper-button-next
          svg(width="10" height="16" viewBox="0 0 10 16")
            use(xlink:href="#svg-arrow-right")

