section.main-rent-resort
  

  .main-rent-resort__wrapper
    .wrapper
      h2.main-rent-resort__title Черное море
    .wide-wrapper
      .main-rent-resort__slider
        .swiper
          .swiper-wrapper
            .swiper-slide
              .main-rent-resort__block
                a(href="/")
                  span.visually-hidden Сочи
                .main-rent-resort__bg
                  img(src="/assets/images/main-rent/popular/2.png", alt="resort")
                .main-rent-resort__container
                  .main-rent-resort__content
                    h3.main-rent-resort__city Сочи
                    p.main-rent-resort__text 21 412 вариантов
            .swiper-slide
              .main-rent-resort__block
                a(href="/")
                  span.visually-hidden Москва
                .main-rent-resort__bg
                  img(src="/assets/images/main-rent/popular/3.png", alt="resort")
                .main-rent-resort__container
                  .main-rent-resort__content
                    h3.main-rent-resort__city Москва
                    p.main-rent-resort__text 13 067 вариантов
            .swiper-slide
              .main-rent-resort__block
                a(href="/")
                  span.visually-hidden Казань
                .main-rent-resort__bg
                  img(src="/assets/images/main-rent/popular/4.png", alt="resort")
                .main-rent-resort__container
                  .main-rent-resort__content
                    h3.main-rent-resort__city Казань
                    p.main-rent-resort__text 5 623 варианта
            .swiper-slide
              .main-rent-resort__block
                a(href="/")
                  span.visually-hidden Сочи
                .main-rent-resort__bg
                  img(src="/assets/images/main-rent/popular/2.png", alt="resort")
                .main-rent-resort__container
                  .main-rent-resort__content
                    h3.main-rent-resort__city Сочи
                    p.main-rent-resort__text 21 412 вариантов
            .swiper-slide
              .main-rent-resort__block
                a(href="/")
                  span.visually-hidden Москва
                .main-rent-resort__bg
                  img(src="/assets/images/main-rent/popular/3.png", alt="resort")
                .main-rent-resort__container
                  .main-rent-resort__content
                    h3.main-rent-resort__city Москва
                    p.main-rent-resort__text 13 067 вариантов
            .swiper-slide
              .main-rent-resort__block
                a(href="/")
                  span.visually-hidden Казань
                .main-rent-resort__bg
                  img(src="/assets/images/main-rent/popular/4.png", alt="resort")
                .main-rent-resort__container
                  .main-rent-resort__content
                    h3.main-rent-resort__city Казань
                    p.main-rent-resort__text 5 623 варианта
            .swiper-slide
              .main-rent-resort__block
                a(href="/")
                  span.visually-hidden Москва
                .main-rent-resort__bg
                  img(src="/assets/images/main-rent/popular/3.png", alt="resort")
                .main-rent-resort__container
                  .main-rent-resort__content
                    h3.main-rent-resort__city Москва
                    p.main-rent-resort__text 13 067 вариантов
            .swiper-slide
              .main-rent-resort__block
                a(href="/")
                  span.visually-hidden Казань
                .main-rent-resort__bg
                  img(src="/assets/images/main-rent/popular/4.png", alt="resort")
                .main-rent-resort__container
                  .main-rent-resort__content
                    h3.main-rent-resort__city Казань
                    p.main-rent-resort__text 5 623 варианта
          .swiper-scrollbar
        button(type="button", aria-label="Previous").swiper-button-prev
          svg(width="10" height="16" viewBox="0 0 10 16")
            use(xlink:href="#svg-arrow-right")
        button(type="button", aria-label="Next").swiper-button-next
          svg(width="10" height="16" viewBox="0 0 10 16")
            use(xlink:href="#svg-arrow-right")

  .main-rent-resort__wrapper
    .wrapper
      h2.main-rent-resort__title Оздоровление и лечение
    .wide-wrapper
      .main-rent-resort__slider
        .swiper
          .swiper-wrapper
            .swiper-slide
              .main-rent-resort__block
                a(href="/")
                  span.visually-hidden Сочи
                .main-rent-resort__bg
                  img(src="/assets/images/main-rent/popular/2.png", alt="resort")
                .main-rent-resort__container
                  .main-rent-resort__content
                    h3.main-rent-resort__city Сочи
                    p.main-rent-resort__text 21 412 вариантов
            .swiper-slide
              .main-rent-resort__block
                a(href="/")
                  span.visually-hidden Москва
                .main-rent-resort__bg
                  img(src="/assets/images/main-rent/popular/3.png", alt="resort")
                .main-rent-resort__container
                  .main-rent-resort__content
                    h3.main-rent-resort__city Москва
                    p.main-rent-resort__text 13 067 вариантов
            .swiper-slide
              .main-rent-resort__block
                a(href="/")
                  span.visually-hidden Казань
                .main-rent-resort__bg
                  img(src="/assets/images/main-rent/popular/4.png", alt="resort")
                .main-rent-resort__container
                  .main-rent-resort__content
                    h3.main-rent-resort__city Казань
                    p.main-rent-resort__text 5 623 варианта
            .swiper-slide
              .main-rent-resort__block
                a(href="/")
                  span.visually-hidden Сочи
                .main-rent-resort__bg
                  img(src="/assets/images/main-rent/popular/2.png", alt="resort")
                .main-rent-resort__container
                  .main-rent-resort__content
                    h3.main-rent-resort__city Сочи
                    p.main-rent-resort__text 21 412 вариантов
            .swiper-slide
              .main-rent-resort__block
                a(href="/")
                  span.visually-hidden Москва
                .main-rent-resort__bg
                  img(src="/assets/images/main-rent/popular/3.png", alt="resort")
                .main-rent-resort__container
                  .main-rent-resort__content
                    h3.main-rent-resort__city Москва
                    p.main-rent-resort__text 13 067 вариантов
            .swiper-slide
              .main-rent-resort__block
                a(href="/")
                  span.visually-hidden Казань
                .main-rent-resort__bg
                  img(src="/assets/images/main-rent/popular/4.png", alt="resort")
                .main-rent-resort__container
                  .main-rent-resort__content
                    h3.main-rent-resort__city Казань
                    p.main-rent-resort__text 5 623 варианта
            .swiper-slide
              .main-rent-resort__block
                a(href="/")
                  span.visually-hidden Москва
                .main-rent-resort__bg
                  img(src="/assets/images/main-rent/popular/3.png", alt="resort")
                .main-rent-resort__container
                  .main-rent-resort__content
                    h3.main-rent-resort__city Москва
                    p.main-rent-resort__text 13 067 вариантов
            .swiper-slide
              .main-rent-resort__block
                a(href="/")
                  span.visually-hidden Казань
                .main-rent-resort__bg
                  img(src="/assets/images/main-rent/popular/4.png", alt="resort")
                .main-rent-resort__container
                  .main-rent-resort__content
                    h3.main-rent-resort__city Казань
                    p.main-rent-resort__text 5 623 варианта
          .swiper-scrollbar
        button(type="button", aria-label="Previous").swiper-button-prev
          svg(width="10" height="16" viewBox="0 0 10 16")
            use(xlink:href="#svg-arrow-right")
        button(type="button", aria-label="Next").swiper-button-next
          svg(width="10" height="16" viewBox="0 0 10 16")
            use(xlink:href="#svg-arrow-right")

  .main-rent-resort__wrapper
    .wrapper
      h2.main-rent-resort__title Горнолыжные курорты
    .wide-wrapper
      .main-rent-resort__slider
        .swiper
          .swiper-wrapper
            .swiper-slide
              .main-rent-resort__block
                a(href="/")
                  span.visually-hidden Сочи
                .main-rent-resort__bg
                  img(src="/assets/images/main-rent/popular/2.png", alt="resort")
                .main-rent-resort__container
                  .main-rent-resort__content
                    h3.main-rent-resort__city Сочи
                    p.main-rent-resort__text 21 412 вариантов
            .swiper-slide
              .main-rent-resort__block
                a(href="/")
                  span.visually-hidden Москва
                .main-rent-resort__bg
                  img(src="/assets/images/main-rent/popular/3.png", alt="resort")
                .main-rent-resort__container
                  .main-rent-resort__content
                    h3.main-rent-resort__city Москва
                    p.main-rent-resort__text 13 067 вариантов
            .swiper-slide
              .main-rent-resort__block
                a(href="/")
                  span.visually-hidden Казань
                .main-rent-resort__bg
                  img(src="/assets/images/main-rent/popular/4.png", alt="resort")
                .main-rent-resort__container
                  .main-rent-resort__content
                    h3.main-rent-resort__city Казань
                    p.main-rent-resort__text 5 623 варианта
            .swiper-slide
              .main-rent-resort__block
                a(href="/")
                  span.visually-hidden Сочи
                .main-rent-resort__bg
                  img(src="/assets/images/main-rent/popular/2.png", alt="resort")
                .main-rent-resort__container
                  .main-rent-resort__content
                    h3.main-rent-resort__city Сочи
                    p.main-rent-resort__text 21 412 вариантов
            .swiper-slide
              .main-rent-resort__block
                a(href="/")
                  span.visually-hidden Москва
                .main-rent-resort__bg
                  img(src="/assets/images/main-rent/popular/3.png", alt="resort")
                .main-rent-resort__container
                  .main-rent-resort__content
                    h3.main-rent-resort__city Москва
                    p.main-rent-resort__text 13 067 вариантов
            .swiper-slide
              .main-rent-resort__block
                a(href="/")
                  span.visually-hidden Казань
                .main-rent-resort__bg
                  img(src="/assets/images/main-rent/popular/4.png", alt="resort")
                .main-rent-resort__container
                  .main-rent-resort__content
                    h3.main-rent-resort__city Казань
                    p.main-rent-resort__text 5 623 варианта
            .swiper-slide
              .main-rent-resort__block
                a(href="/")
                  span.visually-hidden Москва
                .main-rent-resort__bg
                  img(src="/assets/images/main-rent/popular/3.png", alt="resort")
                .main-rent-resort__container
                  .main-rent-resort__content
                    h3.main-rent-resort__city Москва
                    p.main-rent-resort__text 13 067 вариантов
            .swiper-slide
              .main-rent-resort__block
                a(href="/")
                  span.visually-hidden Казань
                .main-rent-resort__bg
                  img(src="/assets/images/main-rent/popular/4.png", alt="resort")
                .main-rent-resort__container
                  .main-rent-resort__content
                    h3.main-rent-resort__city Казань
                    p.main-rent-resort__text 5 623 варианта
          .swiper-scrollbar
        button(type="button", aria-label="Previous").swiper-button-prev
          svg(width="10" height="16" viewBox="0 0 10 16")
            use(xlink:href="#svg-arrow-right")
        button(type="button", aria-label="Next").swiper-button-next
          svg(width="10" height="16" viewBox="0 0 10 16")
            use(xlink:href="#svg-arrow-right")