.object-sidebar__blocks.object-sidebar__blocks--small
  svg.object-sidebar__svg(width="112" height="106" viewBox="0 0 112 106")
    use(xlink:href="#svg-object-horn") 
  .object-sidebar__content
    .object-sidebar__status Акция
    .object-sidebar__description <a href="#">Смотреть</a> действующие акции
      span 2
    