
.object-description
  .object-description__wrapper.object-description__wrapper--gap
    .object-description__container
      .object-description__blocks
        .object-description__block
          .object-description__content
            .object-description__img
              img(src="/assets/images/object/8.png" alt="scheme" loading="lazy")
          .object-description__content.object-description__content--border
            h5 Корпуса санатория
            .object-description__text
              ul.object-description__dot
                li №5 - 2-этажный.
                li Виллы - 3-этажные.
                li №1 - 4-этажный, оборудован лифтом.
                li №2 - 4-этажный, оборудован лифтом.
                li №3 - 7-этажный, оборудован лифтом.
                li №4 - 8-этажный, лечебный, оборудован лифтом.