.object-location
  h3.object-location__title Адрес
  adress.object-location__adress Россия, Краснодарский край, г. Адлер, ул. Просвещения, 139
  h4.object-location__subtitle Расстояние до моря
  .object-location__text
    p 100 метров от корпуса №1, 30 метров - от корпуса №2, 300 метров от корпуса №4, 200 метров от корпуса №3, 120 метров от корпуса №5, 50-70 метров от вилл.
  h4.object-location__subtitle Как добраться и доехать
  ul.object-location__list
    li От аэропорта: автобус № 135 до ост. «Новый век» и далее любым маршрутным такси до ост. «Южное взморье»;
    li От ж/д вокзала: от жд вокзала Адлер - маршрутным такси № 100, 167, 134, 172 до ост. «Южное взморье»;
    li От автостанции: от автовокзала Адлер - маршрутным такси № 100, 167, 134, 172 до ост. «Южное взморье».
  button.object-location__button(type="button") Стоимость трансфера