
.object-description
  .object-description__wrapper.object-description__wrapper--gap
    .object-description__container
      .object-description__blocks
        .object-description__content
          .object-description__name Адрес
          address.object-description__address Россия, Краснодарский край, г. Адлер, ул. Калинина, д. 1
        .ymap-container
          #map-yandex
        .object-description__block
          .object-description__content
            h3 Расстояние до моря
            .object-description__description
              .object-description__text
                p 100 метров от корпуса №1, 30 метров - от корпуса №2, 300 метров от корпуса №4, 200 метров от корпуса №3, 120 метров от корпуса №5, 50-70 метров от вилл.

      .object-description__blocks
        .object-description__block
          .object-description__content
            h3 Как добраться и доехать
            .object-description__description
              .object-description__text
                ul.object-description__dot
                  li От аэропорта: автобус № 135 до ост. «Новый век» и далее любым маршрутным такси до ост. «Южное взморье»;
                  li От ж/д вокзала: от жд вокзала Адлер - маршрутным такси № 100, 167, 134, 172 до ост. «Южное взморье»;
                  li От автостанции: от автовокзала Адлер - маршрутным такси № 100, 167, 134, 172 до ост. «Южное взморье».
        button.object-description__button(type="button")
          span Стоимость трансфера