.object-description
  .object-description__wrapper
    h2.object-description__title Лечение <span>в санатории «Знание»</span>
    .object-description__container
      .object-description__blocks
        .object-description__block
          .object-description__content
            h3 Основные профили лечения
            .object-description__description
              ul.object-description__check
                li
                  svg(width="20" height="20" viewBox="0 0 20 20")
                    use(xlink:href="#svg-object-approve")  
                  span ЛОР органы
                li
                  svg(width="20" height="20" viewBox="0 0 20 20")
                    use(xlink:href="#svg-object-approve")
                  span Сердечно-сосудистая система
                li
                  svg(width="20" height="20" viewBox="0 0 20 20")
                    use(xlink:href="#svg-object-approve") 
                  span Нервная система
                li 
                  svg(width="20" height="20" viewBox="0 0 20 20")
                    use(xlink:href="#svg-object-approve")
                  span Опорно-двигательный аппарат
                li
                  svg(width="20" height="20" viewBox="0 0 20 20")
                    use(xlink:href="#svg-object-approve")
                  span Органы дыхания
                li
                  svg(width="20" height="20" viewBox="0 0 20 20")
                    use(xlink:href="#svg-object-approve")
                  span Covid-19
                li
                  svg(width="20" height="20" viewBox="0 0 20 20")
                    use(xlink:href="#svg-object-approve")
                  span Почки и урология
                li
                  svg(width="20" height="20" viewBox="0 0 20 20")
                    use(xlink:href="#svg-object-approve")
                  span Кожные заболевания
        .object-description__block
          .object-description__content
            h3 Дополнительные профили лечения
            .object-description__description
              ul.object-description__check
                li
                  svg(width="20" height="20" viewBox="0 0 20 20")
                    use(xlink:href="#svg-object-approve")  
                  span Болезни мужской половой сферы
                li
                  svg(width="20" height="20" viewBox="0 0 20 20")
                    use(xlink:href="#svg-object-approve")
                  span Гинекология
                li
                  svg(width="20" height="20" viewBox="0 0 20 20")
                    use(xlink:href="#svg-object-approve") 
                  span Заболевания эндокринной системы
                li 
                  svg(width="20" height="20" viewBox="0 0 20 20")
                    use(xlink:href="#svg-object-approve")
                  span ЛОР органы
                li
                  svg(width="20" height="20" viewBox="0 0 20 20")
                    use(xlink:href="#svg-object-approve")
                  span Нарушение обмена веществ
                li
                  svg(width="20" height="20" viewBox="0 0 20 20")
                    use(xlink:href="#svg-object-approve")
                  span Офтальмология
      
      .object-description__blocks
        .object-description__block
          .object-description__content
            h3 Минимальный срок путевки
            .object-description__description
              .object-description__text
                p Без лечения - от 3 ночей, с лечением - от 7 ночей, Путешествие в лето (с лечением) - от 7 ночей, Путешествие в лето (без лечения) - от 2 ночей. Программы Детокс, Спа - от 7 ночей. Мужское здоровье, Идеальная линия - 14 ночей.
        .object-description__block
          .object-description__content
            h3 Санаторно-курортная карта
            .object-description__description
              .object-description__text
                p Входит в стоимость. С подогреваемой, морской водой, оборудован, размером 20*15 метров. Время посещения: с 9:00 до 20:00. Четверг - санитарный день. Работает с 1 мая по 30 сентября. В зависимости от погодных условий период работы бассейна может меняться.
      
      .object-description__blocks
        .object-description__block
          .object-description__content
            h3 Минимальный возраст лечения детей
            .object-description__description
              .object-description__text
                p 4 года, Программа Detox / СПА / Идеальная линия / Мужское здоровье - с 16 лет
        .object-description__block
          .object-description__content
            h3 Максимальный возраст отдыхающих
            .object-description__description
              .object-description__text
                p Ограничений по возрасту нет.
      
      .object-description__blocks
        .object-description__block
          .object-description__content
            h3 Дни предоставления лечебных процедур
            .object-description__description
              .object-description__text
                p Лечебные процедуры предоставляются ежедневно, без выходных.

      .object-description__blocks.object-description__blocks--wide
        .object-description__block
          .object-description__content
            h3 Описание лечения
            .object-description__description
              .object-description__text.object-description-line__text
                p <span>ООО «Санаторно-курортный комплекс «Знание»</span> — это санаторий современного типа, имеющий 3 звезды и работающий на основе современных медицинских технологиях, позволяющих проводить высокоэффективное восстановительное лечение больных с заболеваниями: органов кровообращения, периферической и центральной нервной системы, опорно-двигательного аппарата. Но при наличии других, непрофильных, сопутствующих заболеваний (гинекологических, кожных, болезней обмены веществ), проводится их терапия.
                p <span>ООО «Санаторно-курортный комплекс «Знание»</span> — это санаторий современного типа, имеющий 3 звезды и работающий на основе современных медицинских технологиях, позволяющих проводить высокоэффективное восстановительное лечение больных с заболеваниями: органов кровообращения, периферической и центральной нервной системы, опорно-двигательного аппарата. Но при наличии других, непрофильных, сопутствующих заболеваний (гинекологических, кожных, болезней обмены веществ), проводится их терапия.
              button.object-description-line__button(type="button") Развернуть описание