.object-camera
  .object-camera__blocks
    .object-camera__block
      img(src="/assets/images/object/9.png" alt="object" loading="lazy")
    .object-camera__block
      img(src="/assets/images/object/10.png" alt="object" loading="lazy")
    .object-camera__block
      img(src="/assets/images/object/11.png" alt="object" loading="lazy")
