.object-transport
  .object-transport__wrapper
    .object-transport__icon
      svg(width="48" height="48" viewBox="0 0 48 48")
        use(xlink:href="#svg-flight")
    .object-transport__description
      h4.object-transport__title Авиабилеты и трансфер
      p.object-transport__text Авиабилеты и трансфер <span>не входят</span> в стоимость путевки, но наши менеджеры подберут и забронируют их для Вас дополнительно (без коммисий и переплат). Звоните по телефону:
        a(href="tel:+7 800 333 41 99") 8 800 333 41 99
    .object-transport__links
      a.object-transport__link(href="#") Поиск авиабилетов
      a.object__link.object__link--small(href="#")
        span Стоимость трансфера