.object-sidebar__blocks
  .object-sidebar__item
    h3.object-sidebar__title Корпуса санатория
    ul.object-description__dot
      li №5 - 2-этажный.
      li Виллы - 3-этажные.
      li №1 - 4-этажный, оборудован лифтом.
      li №2 - 4-этажный, оборудован лифтом.
      li №3 - 7-этажный, оборудован лифтом.
      li №4 - 8-этажный, лечебный, оборудован лифтом.