.object-description
  .object-description__wrapper
    h2.object-description__title Инфраструктура <span>в санатории «Знание»</span>
    .object-description__container
      .object-description__blocks
        .object-description__block
          .object-description__content
            .object-description__description
              ul.object-description__approve
                li
                  svg(width="12" height="10" viewBox="0 0 12 10")
                    use(xlink:href="#svg-search-check")
                  span Медицинский центр;
                li
                  svg(width="12" height="10" viewBox="0 0 12 10")
                    use(xlink:href="#svg-search-check")
                  span SPA-услуги;
                li
                  svg(width="12" height="10" viewBox="0 0 12 10")
                    use(xlink:href="#svg-search-check")
                  span Бювет с минеральной водой;
                li
                  svg(width="12" height="10" viewBox="0 0 12 10")
                    use(xlink:href="#svg-search-check")
                  span Крытый бассейн (закрыт на ремонт);
                li
                  svg(width="12" height="10" viewBox="0 0 12 10")
                    use(xlink:href="#svg-search-check")
                  span Открытый бассейн;
                li
                  svg(width="12" height="10" viewBox="0 0 12 10")
                    use(xlink:href="#svg-search-check")
                  span Караоке бар;
                li
                  svg(width="12" height="10" viewBox="0 0 12 10")
                    use(xlink:href="#svg-search-check")
                  span Летний бар;
                li
                  svg(width="12" height="10" viewBox="0 0 12 10")
                    use(xlink:href="#svg-search-check")
                  span Лобби-бар;
                li
                  svg(width="12" height="10" viewBox="0 0 12 10")
                    use(xlink:href="#svg-search-check")
                  span Салон красоты «Июнь»;
                li
                  svg(width="12" height="10" viewBox="0 0 12 10")
                    use(xlink:href="#svg-search-check")
                  span Детский развивающий клуб «Знаюшка»;
                li
                  svg(width="12" height="10" viewBox="0 0 12 10")
                    use(xlink:href="#svg-search-check")
                  span Многофункциональный мультимедийный центр;
                li
                  svg(width="12" height="10" viewBox="0 0 12 10")
                    use(xlink:href="#svg-search-check")
                  span Детский городок;
        .object-description__block
          .object-description__content
            .object-description__description
              ul.object-description__approve
                li
                  svg(width="12" height="10" viewBox="0 0 12 10")
                    use(xlink:href="#svg-search-check")
                  span Сервисное бюро;
                li
                  svg(width="12" height="10" viewBox="0 0 12 10")
                    use(xlink:href="#svg-search-check")
                  span Конференц-зал, библиотека, аудитории, переговорная комната;
                li
                  svg(width="12" height="10" viewBox="0 0 12 10")
                    use(xlink:href="#svg-search-check")
                  span Обеденный зал (до 400 чел.);
                li
                  svg(width="12" height="10" viewBox="0 0 12 10")
                    use(xlink:href="#svg-search-check")
                  span Сауна;
                li
                  svg(width="12" height="10" viewBox="0 0 12 10")
                    use(xlink:href="#svg-search-check")
                  span Багажная комната;
                li
                  svg(width="12" height="10" viewBox="0 0 12 10")
                    use(xlink:href="#svg-search-check")
                  span Стирка (по предварительной записи);
                li
                  svg(width="12" height="10" viewBox="0 0 12 10")
                    use(xlink:href="#svg-search-check")
                  span Школа холического плавания для взрослых и детей;
                li
                  svg(width="12" height="10" viewBox="0 0 12 10")
                    use(xlink:href="#svg-search-check")
                  span Экскурсии
                li
                  svg(width="12" height="10" viewBox="0 0 12 10")
                    use(xlink:href="#svg-search-check")
                  span Йога, пилатес, стретчинг, фитнес (здоровая спина);
                li
                  svg(width="12" height="10" viewBox="0 0 12 10")
                    use(xlink:href="#svg-search-check")
                  span Настольный теннис;
                li
                  svg(width="12" height="10" viewBox="0 0 12 10")
                    use(xlink:href="#svg-search-check")
                  span Зал ЛФК;
      
      .object-description__blocks
        .object-description__block
          .object-description__content
            h3 План-схема санатория Знание
            .object-description__description
              .object-description-scheme
                .object-description-scheme__image.active(data-src="/assets/images/object/1.png")
                  img(src="/assets/images/object/1.png" alt="" loading="lazy")
                .object-description-scheme__image(data-src="/assets/images/object/2.png")
                  img(src="/assets/images/object/1.png" alt="" loading="lazy")
                .object-description-scheme__image(data-src="/assets/images/object/3.png")
                  img(src="/assets/images/object/1.png" alt="" loading="lazy")
                .object-description-scheme__image(data-src="/assets/images/object/4.png")
                  img(src="/assets/images/object/1.png" alt="" loading="lazy")
                .object-description-scheme__image(data-src="/assets/images/object/5.png")
                  img(src="/assets/images/object/1.png" alt="" loading="lazy")
                .object-description-scheme__image(data-src="/assets/images/object/6.png")
                  img(src="/assets/images/object/1.png" alt="" loading="lazy")
              a.object-description__link(href="#") Открыть схему крупнее
        .object-description__block
          .object-description__content
            h3 Корпуса санатория Южное взморье
            .object-description__description
              ul.object-description__dot
                li №5 - 2-этажный.
                li Виллы - 3-этажные.
                li №1 - 4-этажный, оборудован лифтом.
                li №2 - 4-этажный, оборудован лифтом.
                li №3 - 7-этажный, оборудован лифтом.
                li №4 - 8-этажный, лечебный, оборудован лифтом.