.object-reviews
  .object-reviews__blocks
    .object-reviews__block
      .object-reviews__left
        .object-reviews__stars
          svg.object-reviews__star(width="30" height="30" viewBox="0 0 30 30")
            use(xlink:href="#svg-star")
          svg.object-reviews__star(width="30" height="30" viewBox="0 0 30 30")
            use(xlink:href="#svg-star")
          svg.object-reviews__star(width="30" height="30" viewBox="0 0 30 30")
            use(xlink:href="#svg-star")
          svg.object-reviews__star(width="30" height="30" viewBox="0 0 30 30")
            use(xlink:href="#svg-star")
          svg.object-reviews__star(width="30" height="30" viewBox="0 0 30 30")
            use(xlink:href="#svg-star")
        .object-reviews__date Даты поездки: <span>12.05.2024 - 18.05.2024</span>
      .object-reviews__right
        .object-reviews__header
          h3.object-reviews__title Ольга Бадьянова
          .object-reviews__city Москва
        .object-reviews__text
          p Хороший санаторий. Были уже второй раз. Большая ухоженная территория, хорошие номера, питание, лечение. Удобное расположение, море рядом. Добрый и общительный персонал. Грамотные врачи.
        button.object-reviews__button(type="button") Читать полностью

    .object-reviews__block
      .object-reviews__left
        .object-reviews__stars
          svg.object-reviews__star(width="30" height="30" viewBox="0 0 30 30")
            use(xlink:href="#svg-star")
          svg.object-reviews__star(width="30" height="30" viewBox="0 0 30 30")
            use(xlink:href="#svg-star")
          svg.object-reviews__star(width="30" height="30" viewBox="0 0 30 30")
            use(xlink:href="#svg-star")
          svg.object-reviews__star(width="30" height="30" viewBox="0 0 30 30")
            use(xlink:href="#svg-star")
          svg.object-reviews__star.object-reviews__star--gray(width="30" height="30" viewBox="0 0 30 30")
            use(xlink:href="#svg-star")
        .object-reviews__date Даты поездки: <span>12.05.2024 - 18.05.2024</span>
      .object-reviews__right
        .object-reviews__header
          h3.object-reviews__title Татьяна Юрьевна
          .object-reviews__city Магнитогорск
        .object-reviews__text 
          p Очень нравится этот санаторий Приехали в третий раз и обязательно приедем еще. Все на высшем уровне. Рекомендую всем кто хочет отдохнуть и поправить свое здоровье.
        button.object-reviews__button(type="button") Читать полностью
        .object-reviews__photos
          .object-reviews__photo.active(data-src="/assets/images/object/1.png")
            img(src="/assets/images/object/1.png" alt="" loading="lazy")
          .object-reviews__photo.active(data-src="/assets/images/object/2.png")
            img(src="/assets/images/object/2.png" alt="" loading="lazy")
          .object-reviews__photo.active(data-src="/assets/images/object/3.png")
            img(src="/assets/images/object/3.png" alt="" loading="lazy")
          .object-reviews__photo.active(data-src="/assets/images/object/4.png")
            img(src="/assets/images/object/4.png" alt="" loading="lazy")
          .object-reviews__photo.object-reviews__photo--last.active(data-src="/assets/images/object/5.png")
            img(src="/assets/images/object/5.png" alt="" loading="lazy")
            .object-reviews__mark +8
          .object-reviews__photo(data-src="/assets/images/object/6.png")
            img(src="/assets/images/object/6.png" alt="" loading="lazy")

    .object-reviews__block
      .object-reviews__left
        .object-reviews__stars
          svg.object-reviews__star(width="30" height="30" viewBox="0 0 30 30")
            use(xlink:href="#svg-star")
          svg.object-reviews__star(width="30" height="30" viewBox="0 0 30 30")
            use(xlink:href="#svg-star")
          svg.object-reviews__star(width="30" height="30" viewBox="0 0 30 30")
            use(xlink:href="#svg-star")
          svg.object-reviews__star.object-reviews__star--gray(width="30" height="30" viewBox="0 0 30 30")
            use(xlink:href="#svg-star")
          svg.object-reviews__star.object-reviews__star--gray(width="30" height="30" viewBox="0 0 30 30")
            use(xlink:href="#svg-star")
        .object-reviews__date Даты поездки: <span>12.05.2024 - 18.05.2024</span>
      .object-reviews__right
        .object-reviews__header
          h3.object-reviews__title Пушкин Борис Александрович
          .object-reviews__city Санкт-Петербург
        .object-reviews__text
          p Отдыхали в санатории Знание в конце апреля 2024 г. Путевка была на 10 ночей, с лечением, номер 2-местный стандарт. Отдыхом остались очень довольны.
          p Территория санатория зеленая, красивая, ухоженная. До моря метров 50, между процедурами можно пойти позагорать или подышать морским воздухом.
          p Территория санатория зеленая, красивая, ухоженная. До моря метров 50, между процедурами можно пойти позагорать или подышать морским воздухом.
        button.object-reviews__button(type="button") Читать полностью
    
    .object-reviews__block
      .object-reviews__left
        .object-reviews__stars
          svg.object-reviews__star(width="30" height="30" viewBox="0 0 30 30")
            use(xlink:href="#svg-star")
          svg.object-reviews__star(width="30" height="30" viewBox="0 0 30 30")
            use(xlink:href="#svg-star")
          svg.object-reviews__star(width="30" height="30" viewBox="0 0 30 30")
            use(xlink:href="#svg-star")
          svg.object-reviews__star(width="30" height="30" viewBox="0 0 30 30")
            use(xlink:href="#svg-star")
          svg.object-reviews__star(width="30" height="30" viewBox="0 0 30 30")
            use(xlink:href="#svg-star")
        .object-reviews__date Даты поездки: <span>09.04.2024 - 18.04.2024</span>
      .object-reviews__right
        .object-reviews__header
          h3.object-reviews__title Валентина
          .object-reviews__city Волгоград
        .object-reviews__text
          p Нам очень понравилось , все на высшем уровне, персоналы все приветливые, всегда подскажут и помогут, кормят тоже не плохо, атмосфера красивая.
        button.object-reviews__button(type="button") Читать полностью

    .object-reviews__block
      .object-reviews__left
        .object-reviews__stars
          svg.object-reviews__star(width="30" height="30" viewBox="0 0 30 30")
            use(xlink:href="#svg-star")
          svg.object-reviews__star(width="30" height="30" viewBox="0 0 30 30")
            use(xlink:href="#svg-star")
          svg.object-reviews__star(width="30" height="30" viewBox="0 0 30 30")
            use(xlink:href="#svg-star")
          svg.object-reviews__star(width="30" height="30" viewBox="0 0 30 30")
            use(xlink:href="#svg-star")
          svg.object-reviews__star.object-reviews__star--gray(width="30" height="30" viewBox="0 0 30 30")
            use(xlink:href="#svg-star")
        .object-reviews__date Даты поездки: <span>12.05.2024 - 18.05.2024</span>
      .object-reviews__right
        .object-reviews__header
          h3.object-reviews__title Сергей Николаевич
          .object-reviews__city Якутия, Айхал
        .object-reviews__text
          p Отдыхали в санатории Знание в апреле 2024. Повезло с погодой было тепло и сухо, многие даже загорали у моря. Персонал и врачи внимательные и вежливые, очень доброжелательные. Еда разнообразная и вкусная, много овощных гарниров. Очень красивая территория. По вторникам проводится очень интересная экскурсия по парку. Много различных цветущих растений. В парке живут белки и различные птицы. Жаль, что до сих пор. В парке живут белки и различные птицы. Жаль, что до сих пор
          p Отдыхали в санатории Знание в апреле 2024. Повезло с погодой было тепло и сухо, многие даже загорали у моря. Персонал и врачи внимательные и вежливые, очень доброжелательные.
        button.object-reviews__button(type="button") Читать полностью
  include ../pagination-huge