.object-faq
  .wrapper
    .object-faq__wrapper
      h2.object-faq__title  Вопросы и ответы по отдыху и лечению в санатории
      p.object-faq__description  Собрали для Вас ответы на все популярные вопросы.
      .object-faq__items
        .object-faq__item
          .object-faq__question
            h3 Какие процедуры есть в санатории и входят в стоимость?
            svg(width="10" height="16" viewBox="0 0 10 16")
              use(xlink:href="#svg-arrow-right")
          .object-faq__answer
            p Льготными путевками наша компания не занимается, но мы можем предоставить дополнительную скидку при бронировании путевки от нашей компании.
        .object-faq__item
          .object-faq__question
            h3 Есть ли парковка для автомобиля на территории и сколько она стоит?
            svg(width="10" height="16" viewBox="0 0 10 16")
              use(xlink:href="#svg-arrow-right")
          .object-faq__answer
            p Льготными путевками наша компания не занимается, но мы можем предоставить дополнительную скидку при бронировании путевки от нашей компании.
        .object-faq__item
          .object-faq__question
            h3 В какие дни предоставляются лечебные процедуры? Есть ли лечение в выходные?
            svg(width="10" height="16" viewBox="0 0 10 16")
              use(xlink:href="#svg-arrow-right")
          .object-faq__answer
            p Льготными путевками наша компания не занимается, но мы можем предоставить дополнительную скидку при бронировании путевки от нашей компании.
        .object-faq__item
          .object-faq__question
            h3 С какого возраста принимаются дети и им предоставляется лечение?
            svg(width="10" height="16" viewBox="0 0 10 16")
              use(xlink:href="#svg-arrow-right")
          .object-faq__answer
            p Льготными путевками наша компания не занимается, но мы можем предоставить дополнительную скидку при бронировании путевки от нашей компании.
        .object-faq__item
          .object-faq__question
            h3 Возможно ли приехать с домашним питомцем? Какие правила заселения с животными?
            svg(width="10" height="16" viewBox="0 0 10 16")
              use(xlink:href="#svg-arrow-right")
          .object-faq__answer
            p Льготными путевками наша компания не занимается, но мы можем предоставить дополнительную скидку при бронировании путевки от нашей компании.
        .object-faq__item
          .object-faq__question
            h3 Лечение заболеваний нервной системы «Стандарт»
            svg(width="10" height="16" viewBox="0 0 10 16")
              use(xlink:href="#svg-arrow-right")
          .object-faq__answer
            p Льготными путевками наша компания не занимается, но мы можем предоставить дополнительную скидку при бронировании путевки от нашей компании.
        .object-faq__item
          .object-faq__question
            h3 Что лечат в санатории Знание?
            svg(width="10" height="16" viewBox="0 0 10 16")
              use(xlink:href="#svg-arrow-right")
          .object-faq__answer
            p Льготными путевками наша компания не занимается, но мы можем предоставить дополнительную скидку при бронировании путевки от нашей компании.
        .object-faq__item
          .object-faq__question
            h3 Нужно ли оформлять санаторно-курортную карту заранее или это можно сделать по приезду?
            svg(width="10" height="16" viewBox="0 0 10 16")
              use(xlink:href="#svg-arrow-right")
          .object-faq__answer
            p Льготными путевками наша компания не занимается, но мы можем предоставить дополнительную скидку при бронировании путевки от нашей компании.
        .object-faq__item
          .object-faq__question
            h3 Какое минимальное и рекомендуемое количество дней должно быть в путевке?
            svg(width="10" height="16" viewBox="0 0 10 16")
              use(xlink:href="#svg-arrow-right")
          .object-faq__answer
            p Льготными путевками наша компания не занимается, но мы можем предоставить дополнительную скидку при бронировании путевки от нашей компании.
        .object-faq__item
          .object-faq__question
            h3 Какие документы нужны для заселения в санаторий и можно ли приехать без распечатанной путевки-ваучера?
            svg(width="10" height="16" viewBox="0 0 10 16")
              use(xlink:href="#svg-arrow-right")
          .object-faq__answer
            p Льготными путевками наша компания не занимается, но мы можем предоставить дополнительную скидку при бронировании путевки от нашей компании.
        .object-faq__item
          .object-faq__question
            h3 По какому номеру телефона забронировать путевку в санаторий Знание?
            svg(width="10" height="16" viewBox="0 0 10 16")
              use(xlink:href="#svg-arrow-right")
          .object-faq__answer
            p Льготными путевками наша компания не занимается, но мы можем предоставить дополнительную скидку при бронировании путевки от нашей компании.
        .object-faq__item
          .object-faq__question
            h3 Стоимость путевки в санаторий Знание по номерам
            svg(width="10" height="16" viewBox="0 0 10 16")
              use(xlink:href="#svg-arrow-right")
          .object-faq__answer
            p Льготными путевками наша компания не занимается, но мы можем предоставить дополнительную скидку при бронировании путевки от нашей компании.
        .object-faq__item
          .object-faq__question
            h3 Стоимость путевки в санаторий Знание на весь год
            svg(width="10" height="16" viewBox="0 0 10 16")
              use(xlink:href="#svg-arrow-right")
          .object-faq__answer
            p Льготными путевками наша компания не занимается, но мы можем предоставить дополнительную скидку при бронировании путевки от нашей компании.