.object-promo
  .object-promo__wrapper
    .object-promo__blocks
      .object-promo__block
        .object-promo__img
          img(src="/assets/images/object/1.png" alt="object" loading="lazy")
        .object-promo__container
          .object-promo__content
            .object-promo__header
              h3.object-promo__title Программа «Смарт»
              .object-promo__status.object-promo__status--red Действует
            .object-promo__description
              .object-promo__text
                p Конец осени, зима, весна — это период, когда можно значительно дешевле, чем летом, получить необходимое лечение. Отдыхающих в это время не так уж много, отдых размеренный и спокойный.
                p Умеренно теплая погода, спокойные прогулки и забота о своем здоровье.Настоящий отдых и перезагрузка организма на целый год.
              .object-promo__list
                h4 В стоимость пребывания по программе «СМАРТ» входит:
                ul.object-description__dot
                  li проживание в номере выбранной категории;
                  li 3-разовое питание по системе «шведский стол»;
                  li лечение по программе, питьевое лечение минеральной водой;
                  li пользование тренажерным залом, спортивными площадками;
                  li пляж (в купальный сезон);
                  li оздоровительная ходьба;
                  li климатолечение;
                  li развлекательные мероприятия каждый вечер.
              .object-promo__text  
                p Акционные цены действительны на период проживания <span>с 10.01.2024 по 31.05.2024</span> и <span>с 01.11.2024 по 26.12.2024.</span>
                p Дети в возрасте до 4-х лет с питанием, принимаются бесплатно, без предоставления доп. места и лечения. Стоимость детской кроватки- 250 руб/сут.
              button.object-promo__close(type="button") Свернуть
          
            button.object-promo__open(type="button") Подробное описание акции
          .object-promo__buttons
            button.object-promo__button(type="button") Забронировать по акции
      
      .object-promo__block
        .object-promo__img
          img(src="/assets/images/object/2.png" alt="object" loading="lazy")
        .object-promo__container
          .object-promo__content
            .object-promo__header
              h3.object-promo__title Программа «Смарт» с Мацестой
              .object-promo__status.object-promo__status--red Действует
            .object-promo__description
              .object-promo__text
                p Конец осени, зима, весна — это период, когда можно значительно дешевле, чем летом, получить необходимое лечение. Отдыхающих в это время не так уж много, отдых размеренный и спокойный.
                p Умеренно теплая погода, спокойные прогулки и забота о своем здоровье.Настоящий отдых и перезагрузка организма на целый год.
              .object-promo__list
                h4 В стоимость пребывания по программе «СМАРТ» входит:
                ul.object-description__dot
                  li проживание в номере выбранной категории;
                  li 3-разовое питание по системе «шведский стол»;
                  li лечение по программе, питьевое лечение минеральной водой;
                  li пользование тренажерным залом, спортивными площадками;
                  li пляж (в купальный сезон);
                  li оздоровительная ходьба;
                  li климатолечение;
                  li развлекательные мероприятия каждый вечер.
              .object-promo__text  
                p Акционные цены действительны на период проживания <span>с 10.01.2024 по 31.05.2024</span> и <span>с 01.11.2024 по 26.12.2024.</span>
                p Дети в возрасте до 4-х лет с питанием, принимаются бесплатно, без предоставления доп. места и лечения. Стоимость детской кроватки- 250 руб/сут.
              button.object-promo__close(type="button") Свернуть
          
            button.object-promo__open(type="button") Подробное описание акции
          .object-promo__buttons
            button.object-promo__button(type="button") Забронировать по акции

      .object-promo__block
        .object-promo__img
          img(src="/assets/images/object/3.png" alt="object" loading="lazy")
        .object-promo__container
          .object-promo__content
            .object-promo__header
              h3.object-promo__title Антистресс!
              .object-promo__status.object-promo__status--gray Архив
            .object-promo__description
              .object-promo__text
                p Конец осени, зима, весна — это период, когда можно значительно дешевле, чем летом, получить необходимое лечение. Отдыхающих в это время не так уж много, отдых размеренный и спокойный.
                p Умеренно теплая погода, спокойные прогулки и забота о своем здоровье.Настоящий отдых и перезагрузка организма на целый год.
              .object-promo__list
                h4 В стоимость пребывания по программе «СМАРТ» входит:
                ul.object-description__dot
                  li проживание в номере выбранной категории;
                  li 3-разовое питание по системе «шведский стол»;
                  li лечение по программе, питьевое лечение минеральной водой;
                  li пользование тренажерным залом, спортивными площадками;
                  li пляж (в купальный сезон);
                  li оздоровительная ходьба;
                  li климатолечение;
                  li развлекательные мероприятия каждый вечер.
              .object-promo__text  
                p Акционные цены действительны на период проживания <span>с 10.01.2024 по 31.05.2024</span> и <span>с 01.11.2024 по 26.12.2024.</span>
                p Дети в возрасте до 4-х лет с питанием, принимаются бесплатно, без предоставления доп. места и лечения. Стоимость детской кроватки- 250 руб/сут.
              button.object-promo__close(type="button") Свернуть
            button.object-promo__open(type="button") Подробное описание акции

      .object-promo__block
        .object-promo__img
          img(src="/assets/images/object/4.png" alt="object" loading="lazy")
        .object-promo__container
          .object-promo__content
            .object-promo__header
              h3.object-promo__title Путешествие в лето!
              .object-promo__status.object-promo__status--gray Архив
            .object-promo__description
              .object-promo__text
                p Конец осени, зима, весна — это период, когда можно значительно дешевле, чем летом, получить необходимое лечение. Отдыхающих в это время не так уж много, отдых размеренный и спокойный.
                p Умеренно теплая погода, спокойные прогулки и забота о своем здоровье.Настоящий отдых и перезагрузка организма на целый год.
              .object-promo__list
                h4 В стоимость пребывания по программе «СМАРТ» входит:
                ul.object-description__dot
                  li проживание в номере выбранной категории;
                  li 3-разовое питание по системе «шведский стол»;
                  li лечение по программе, питьевое лечение минеральной водой;
                  li пользование тренажерным залом, спортивными площадками;
                  li пляж (в купальный сезон);
                  li оздоровительная ходьба;
                  li климатолечение;
                  li развлекательные мероприятия каждый вечер.
              .object-promo__text  
                p Акционные цены действительны на период проживания <span>с 10.01.2024 по 31.05.2024</span> и <span>с 01.11.2024 по 26.12.2024.</span>
                p Дети в возрасте до 4-х лет с питанием, принимаются бесплатно, без предоставления доп. места и лечения. Стоимость детской кроватки- 250 руб/сут.
              button.object-promo__close(type="button") Свернуть
            button.object-promo__open(type="button") Подробное описание акции
      
      .object-promo__block
        .object-promo__img
          img(src="/assets/images/object/5.png" alt="object" loading="lazy")
        .object-promo__container
          .object-promo__content
            .object-promo__header
              h3.object-promo__title Здоровые традиции
              .object-promo__status.object-promo__status--gray Архив
            .object-promo__description
              .object-promo__text
                p Конец осени, зима, весна — это период, когда можно значительно дешевле, чем летом, получить необходимое лечение. Отдыхающих в это время не так уж много, отдых размеренный и спокойный.
                p Умеренно теплая погода, спокойные прогулки и забота о своем здоровье.Настоящий отдых и перезагрузка организма на целый год.
              .object-promo__list
                h4 В стоимость пребывания по программе «СМАРТ» входит:
                ul.object-description__dot
                  li проживание в номере выбранной категории;
                  li 3-разовое питание по системе «шведский стол»;
                  li лечение по программе, питьевое лечение минеральной водой;
                  li пользование тренажерным залом, спортивными площадками;
                  li пляж (в купальный сезон);
                  li оздоровительная ходьба;
                  li климатолечение;
                  li развлекательные мероприятия каждый вечер.
              .object-promo__text  
                p Акционные цены действительны на период проживания <span>с 10.01.2024 по 31.05.2024</span> и <span>с 01.11.2024 по 26.12.2024.</span>
                p Дети в возрасте до 4-х лет с питанием, принимаются бесплатно, без предоставления доп. места и лечения. Стоимость детской кроватки- 250 руб/сут.
              button.object-promo__close(type="button") Свернуть
            button.object-promo__open(type="button") Подробное описание акции
    .object-promo__links
      .object__link.object__link--blue
        span Показать еще номера
        .object__amount 3