.object-services
  .object-services__wrapper
    h2.object-services__title Удобства и услуги <span>в санатории «Знание»</span>
    .object-services__container
      .object-services__blocks
        .object-services__block
          svg(width="24" height="24" viewBox="0 0 24 24")
            use(xlink:href="#svg-object-park")
          .object-services__text
            h3 Расстояние до парка
            p Расположен на территории парка.
        .object-services__block
          svg(width="24" height="24" viewBox="0 0 24 24")
            use(xlink:href="#svg-object-parking")
          .object-services__text
            h3 Паркинг
            p За дополнительную плату. Открытая, охраняемая.
        .object-services__block
          svg(width="24" height="24" viewBox="0 0 24 24")
            use(xlink:href="#svg-object-wifi")
          .object-services__text
            h3 WI-FI, Интернет
            p Входит в стоимость. Доступен на всей территории.
        .object-services__block
          svg(width="24" height="24" viewBox="0 0 24 24")
            use(xlink:href="#svg-object-water")
          .object-services__text
            h3 Водоснабжение
            p Холодная и горячая вода - круглосуточно.
        .object-services__block
          svg(width="24" height="24" viewBox="0 0 24 24")
            use(xlink:href="#svg-object-towel")
          .object-services__text
            h3 Смена полотенец
            p 3 полотенца на человека в номере. Смена полотенец и уборка номеров - ежедневно. Смена постельного белья - раз в 3 дня.
        .object-services__block
          svg(width="24" height="24" viewBox="0 0 24 24")
            use(xlink:href="#svg-object-buwet")
          .object-services__text
            h3 Расстояние до бювета
            p На территории. 3 вида минеральной воды: Сочинская, Лазаревская, Пластунская.
        .object-services__block
          svg(width="24" height="24" viewBox="0 0 24 24")
            use(xlink:href="#svg-object-buwet")
          .object-services__text
            h3 Животные
            p Запрещено.
          
           
