.object-rating
  .object-rating__left
    .object-rating__value 4.9
    .object-rating__block
      .object-rating__stars
        svg(width="30" height="30" viewBox="0 0 30 30")
          use(xlink:href="#svg-star")
        svg(width="30" height="30" viewBox="0 0 30 30")
          use(xlink:href="#svg-star")
        svg(width="30" height="30" viewBox="0 0 30 30")
          use(xlink:href="#svg-star")
        svg(width="30" height="30" viewBox="0 0 30 30")
          use(xlink:href="#svg-star")
        svg(width="30" height="30" viewBox="0 0 30 30")
          use(xlink:href="#svg-star")
      .object-rating__text Средняя оценка
  .object-rating__right
    .object-rating__block
      .object-rating__text.object-rating__text--black Посещали этот санаторий?
      .object-rating__text Оставьте отзыв, ваш опыт будет полезен
    button.object-rating__button(type="button") Оставить отзыв


