.object-no-available
  .object-no-available__wrapper
    svg.object-no-available__svg(width="64" height="64" viewBox="0 0 64 64")
      use(xlink:href="#svg-object-calendar-large")
    h2.object-no-available__title В санатории Знание нет свободных <br> номеров на выбранные даты
    p.object-no-available__text Ближайшие даты заезда, когда есть свободные места на <span>7 ночей:</span>
    .object-no-available__buttons
      button.object-no-available__button(type="button") 14 июня - 21 июня
      button.object-no-available__button(type="button") 15 июня - 22 июня
      button.object-no-available__button(type="button") 16 июня - 23 июня
      button.object-no-available__button(type="button") 17 июня - 24 июня