.object-description
  .object-description__wrapper
    .object-description__container
      
      .object-description-line
        .object-description-line__images
          .object-description-line__image.active(data-src="/assets/images/object/1.png")
            img(src="/assets/images/object/1.png" alt="" loading="lazy")
          .object-description-line__image(data-src="/assets/images/object/2.png")
            img(src="/assets/images/object/1.png" alt="" loading="lazy")
          .object-description-line__image(data-src="/assets/images/object/3.png")
            img(src="/assets/images/object/1.png" alt="" loading="lazy")
          .object-description-line__image(data-src="/assets/images/object/4.png")
            img(src="/assets/images/object/1.png" alt="" loading="lazy")
          .object-description-line__image(data-src="/assets/images/object/5.png")
            img(src="/assets/images/object/1.png" alt="" loading="lazy")
          .object-description-line__image(data-src="/assets/images/object/6.png")
            img(src="/assets/images/object/1.png" alt="" loading="lazy")
        .object-description-line__content
          h3.object-description-line__title Крытый бассейн
          .object-description-line__text Входит в стоимость. С подогреваемой, морской водой, оборудован, размером 20*15 метров. Время посещения: с 9:00 до 20:00. Четверг - санитарный день. Работает с 1 мая по 30 сентября. В зависимости от погодных условий период работы бассейна может меняться.
          button.object-description-line__button(type="button") Развернуть описание
      
      .object-description-line
        .object-description-line__images
          .object-description-line__image.active(data-src="/assets/images/object/1.png")
            img(src="/assets/images/object/1.png" alt="" loading="lazy")
          .object-description-line__image(data-src="/assets/images/object/2.png")
            img(src="/assets/images/object/1.png" alt="" loading="lazy")
          .object-description-line__image(data-src="/assets/images/object/3.png")
            img(src="/assets/images/object/1.png" alt="" loading="lazy")
          .object-description-line__image(data-src="/assets/images/object/4.png")
            img(src="/assets/images/object/1.png" alt="" loading="lazy")
          .object-description-line__image(data-src="/assets/images/object/5.png")
            img(src="/assets/images/object/1.png" alt="" loading="lazy")
          .object-description-line__image(data-src="/assets/images/object/6.png")
            img(src="/assets/images/object/1.png" alt="" loading="lazy")
        .object-description-line__content
          h3.object-description-line__title Открытый бассейн
          .object-description-line__text Входит в стоимость. С подогреваемой, морской водой, оборудован, размером 20*15 метров. Время посещения: с 9:00 до 20:00
          button.object-description-line__button(type="button") Развернуть описание

      .object-description__blocks
        .object-description__block
          svg(width="24" height="24" viewBox="0 0 24 24")
            use(xlink:href="#svg-object-park")
          .object-description__content
            h3 Расстояние до парка
            .object-description__description
              .object-description__text
                p Расположен на территории парка.
        .object-description__block
          svg(width="24" height="24" viewBox="0 0 24 24")
            use(xlink:href="#svg-object-sauna")
          .object-description__content
            h3 Бани и сауны
            .object-description__description
              .object-description__text
                p За дополнительную плату. Финская сауна. Время работы сауны: с 12:00 до 22:00 без перерыва и выходных (до 5 мест).
        .object-description__block
          svg(width="24" height="24" viewBox="0 0 24 24")
            use(xlink:href="#svg-object-parking")
          .object-description__content
            h3 Паркинг
            .object-description__description
              .object-description__text
                p За дополнительную плату. Открытая, охраняемая.
        .object-description__block
          svg(width="24" height="24" viewBox="0 0 24 24")
            use(xlink:href="#svg-object-spa")
          .object-description__content
            h3 Spa-процедуры
            .object-description__description
              .object-description__text
                p В санатории функционирует Центр красоты и здоровья. Гости могут восстановить силы и побаловать себя СПА – процедурами и услугами аппаратной и инъекционной косметологии.
              ul.object-description__dot
                li Омоложение кожи лица с помощью инъекций;
                li Изменение форм лица без операций (заполнение носогубных складок, изменение форм губ, избавление от крупных и мелких морщин);
                li Мезотерапия: лечение волос, уменьшение объема тела, лечение целлюлита;
                li Очищение кожи лица: чистка механическая (ручная), ультразвуковая;
                li Маски (питание, увлажнение, лифтинг);
                li Омоложение кожи лица с помощью инъекций;
                li Массаж лица: лимфодренажный, скульптурный;
                li Аппаратная косметология;
                li Химические пилинги; летние пилинги;
                li Уменьшение объемов тела до 5 см.;
                li Спа-капсула;
        .object-description__block
          svg(width="24" height="24" viewBox="0 0 24 24")
            use(xlink:href="#svg-object-wifi")
          .object-description__content
            h3 WI-FI, Интернет
            .object-description__description
              .object-description__text
                p Входит в стоимость. Доступен на всей территории.
        .object-description__block
          svg(width="24" height="24" viewBox="0 0 24 24")
            use(xlink:href="#svg-object-water")
          .object-description__content
            h3 Водоснабжение
            .object-description__description
              .object-description__text
                p Холодная и горячая вода - круглосуточно.
        .object-description__block
          svg(width="24" height="24" viewBox="0 0 24 24")
            use(xlink:href="#svg-object-towel")
          .object-description__content
            h3 Смена полотенец
            .object-description__description
              .object-description__text
                p 3 полотенца на человека в номере. Смена полотенец и уборка номеров - ежедневно. Смена постельного белья - раз в 3 дня.
        .object-description__block
          svg(width="24" height="24" viewBox="0 0 24 24")
            use(xlink:href="#svg-object-buwet")
          .object-description__content
            h3 Расстояние до бювета
            .object-description__description
              .object-description__text
                p На территории. 3 вида минеральной воды: Сочинская, Лазаревская, Пластунская.
        .object-description__block
          svg(width="24" height="24" viewBox="0 0 24 24")
            use(xlink:href="#svg-object-buwet")
          .object-description__content
            h3 Животные
            .object-description__description
              .object-description__text
                p Запрещено.

      .object-description__blocks
        .object-description__block
          svg(width="24" height="24" viewBox="0 0 24 24")
            use(xlink:href="#svg-object-food")
          .object-description__content
            h3 Питание
            .object-description__description
              .object-description__text
                p 3-разовое питание по системе «шведский стол» (для номеров Стандарт) или «заказное меню» (для номеров Студия, Люкс), или 5-разовое диетическое питание (для лечебных программ Детокс, Мужское здоровье, Женское здоровье, СПА, Идеальная линия).
                p Залы питания по системе <span>«шведский стол»</span>: Коралловый, Серебряный, Золотой, Зеленый, 3 и 4 корпус.
                p Залы питания по системе <span>«заказное меню»</span> (A La Carte): Юбилейный, Веранда, Каминный, Океания, 4 корпус.
            .object-description__description.object-description__description--gap
              .object-description__text
                p Зал, где организовано <span>5-разовое диетическое</span> питание: Каминный, 4 корпус.
              h4 Режим работы столовой:
              ul.object-description__dot
                li Завтрак с 07:00 до 10:00;
                li Обед с 12:00 до 15:00;
                li Ужин с 17:00 до 19:30.
      
      .object-description__blocks
        .object-description__block
          svg(width="24" height="24" viewBox="0 0 24 24")
            use(xlink:href="#svg-object-child")
          .object-description__content
            h3 Дети
            .object-description__description
              .object-description__text
                p Принимаются с любого возраста. <br> Дети принимаются бесплатно (без предоставления места и питания) до 4 лет.
        .object-description__block
          svg(width="24" height="24" viewBox="0 0 24 24")
            use(xlink:href="#svg-object-toy")
          .object-description__content
            h3 Детская комната
            .object-description__description
              .object-description__text
                p Входит в стоимость (по решению администрации). С воспитателем. Для детей 4-14 лет. Дети до 4 лет принимаются только в сопровождении родителей. График работы детского клуба «Знаюшка»: с 08:00 до 20:00, перерыв с 13:00 до 14:00, ежедневно. Последнее воскресенье месяца - санитарный день. Единоразовое посещение - 45 минут. Предварительная запись обязательна.
        .object-description__block
          svg(width="24" height="24" viewBox="0 0 24 24")
            use(xlink:href="#svg-object-ball")
          .object-description__content
            h3 Для детей
            .object-description__description
              ul.object-description__dot
                li Детский бассейн с морской водой;
                li Детские праздники и мастер-классы;
                li Океанариум Sochi Discovery World Aquarium;
                li Детская площадка;
                li Открытый детский бассейн с горкой.
        .object-description__block
          svg(width="24" height="24" viewBox="0 0 24 24")
            use(xlink:href="#svg-object-chair")
          .object-description__content
            h3 Наличие детских стульчиков
            .object-description__description
              .object-description__text
                p Входят в стоимость.
      
      .object-description__blocks
        .object-description__block
          .object-description__content.object-description__content--half
            h3 Расчётный час
            .object-description__description
              .object-description__text
                p Заезд c 13:00 (обед), выезд до 11:00 (завтрак).
          .object-description__content.object-description__content--half
            h3 Период работы
            .object-description__description
              .object-description__text
                p Круглогодично
      
        button.object-description__button(type="button")
          span Свернуть описание
