.object-conditions
  .object-conditions__wrapper
    .object-conditions__item
      svg(width="14" height="14" viewBox="0 0 14 14")
        use(xlink:href="#svg-object-calendar")
      a.object-conditions__link.object-conditions__link--green(href="#") Бесплатный перенос на другие даты
    .object-conditions__item
      svg(width="15" height="14" viewBox="0 0 15 14")
        use(xlink:href="#svg-object-wallet")
      a.object-conditions__link.object-conditions__link--red(href="#") 100% предоплата
    .object-conditions__item
      svg(width="12" height="14" viewBox="0 0 12 14")
        use(xlink:href="#svg-search-flash")
      span Моментальное подтверждение
    .object-conditions__item
      svg(width="14" height="14" viewBox="0 0 14 14")
        use(xlink:href="#svg-object-help")
      a.object-conditions__link.object-conditions__link--blue(href="#") Как забронировать и оплатить
