.object-filter
  .object-filter__items
    label.object-filter__item
      input.object-filter__input(type="checkbox" name="")
      .object-filter__amount
        span Отзывы с фото
        svg.object-filter__icon(width="12" height="10" viewBox="0 0 12 10")
          use(xlink:href="#svg-search-check")
    label.object-filter__item
      input.object-filter__input(type="checkbox" name="")
      .object-filter__amount
        .object-filter__stars
          svg.object-filter__star(width="30" height="30" viewBox="0 0 30 30")
            use(xlink:href="#svg-star")
          svg.object-filter__star(width="30" height="30" viewBox="0 0 30 30")
            use(xlink:href="#svg-star")
          svg.object-filter__star(width="30" height="30" viewBox="0 0 30 30")
            use(xlink:href="#svg-star")
          svg.object-filter__star(width="30" height="30" viewBox="0 0 30 30")
            use(xlink:href="#svg-star")
          svg.object-filter__star(width="30" height="30" viewBox="0 0 30 30")
            use(xlink:href="#svg-star")
        span 67
        svg.object-filter__icon(width="12" height="10" viewBox="0 0 12 10")
          use(xlink:href="#svg-search-check")
    
    label.object-filter__item
      input.object-filter__input(type="checkbox" name="")
      .object-filter__amount
        .object-filter__stars
          svg.object-filter__star(width="30" height="30" viewBox="0 0 30 30")
            use(xlink:href="#svg-star")
          svg.object-filter__star(width="30" height="30" viewBox="0 0 30 30")
            use(xlink:href="#svg-star")
          svg.object-filter__star(width="30" height="30" viewBox="0 0 30 30")
            use(xlink:href="#svg-star")
          svg.object-filter__star(width="30" height="30" viewBox="0 0 30 30")
            use(xlink:href="#svg-star")
          svg.object-filter__star(width="30" height="30" viewBox="0 0 30 30")
            use(xlink:href="#svg-star")
        span 7
        svg.object-filter__icon(width="12" height="10" viewBox="0 0 12 10")
          use(xlink:href="#svg-search-check")
      
    label.object-filter__item
      input.object-filter__input(type="checkbox" name="")
      .object-filter__amount
        .object-filter__stars
          svg.object-filter__star(width="30" height="30" viewBox="0 0 30 30")
            use(xlink:href="#svg-star")
          svg.object-filter__star(width="30" height="30" viewBox="0 0 30 30")
            use(xlink:href="#svg-star")
          svg.object-filter__star(width="30" height="30" viewBox="0 0 30 30")
            use(xlink:href="#svg-star")
        span 1
        svg.object-filter__icon(width="12" height="10" viewBox="0 0 12 10")
          use(xlink:href="#svg-search-check")
    
    label.object-filter__item
      input.object-filter__input(type="checkbox" name="")
      .object-filter__amount
        .object-filter__stars
          svg.object-filter__star.object-filter__star--gray(width="30" height="30" viewBox="0 0 30 30")
            use(xlink:href="#svg-star")
          svg.object-filter__star.object-filter__star--gray(width="30" height="30" viewBox="0 0 30 30")
            use(xlink:href="#svg-star")
        span 0
        svg.object-filter__icon(width="12" height="10" viewBox="0 0 12 10")
          use(xlink:href="#svg-search-check")
    
    label.object-filter__item
      input.object-filter__input(type="checkbox" name="")
      .object-filter__amount
        .object-filter__stars
          svg.object-filter__star(width="30" height="30" viewBox="0 0 30 30")
            use(xlink:href="#svg-star")
        span 1
        svg.object-filter__icon(width="12" height="10" viewBox="0 0 12 10")
          use(xlink:href="#svg-search-check")