.object-sidebar__blocks
  .object-sidebar__block
    h3.object-sidebar__title Основные профили лечения
    ul.object-sidebar__list
      li
        svg(width="20" height="20" viewBox="0 0 20 20")
          use(xlink:href="#svg-object-approve") 
        span ЛОР органы
      li 
        svg(width="20" height="20" viewBox="0 0 20 20")
          use(xlink:href="#svg-object-approve") 
        span Сердечно-сосудистая система
      li 
        svg(width="20" height="20" viewBox="0 0 20 20")
          use(xlink:href="#svg-object-approve")
        span Нервная система
      li 
        svg(width="20" height="20" viewBox="0 0 20 20")
          use(xlink:href="#svg-object-approve")
        span Опорно-двигательный аппарат
      li 
        svg(width="20" height="20" viewBox="0 0 20 20")
          use(xlink:href="#svg-object-approve")
        span Органы дыхания
      li
        svg(width="20" height="20" viewBox="0 0 20 20")
          use(xlink:href="#svg-object-approve")
        span Covid-19
  .object-sidebar__block
    h3.object-sidebar__title Дополнительные профили
    ul.object-sidebar__list
      li
        svg(width="20" height="20" viewBox="0 0 20 20")
          use(xlink:href="#svg-object-approve") 
        span Болезни мужской половой сферы
      li 
        svg(width="20" height="20" viewBox="0 0 20 20")
          use(xlink:href="#svg-object-approve") 
        span Гинекология
      li 
        svg(width="20" height="20" viewBox="0 0 20 20")
          use(xlink:href="#svg-object-approve")
        span Заболевания эндокринной системы
      li 
        svg(width="20" height="20" viewBox="0 0 20 20")
          use(xlink:href="#svg-object-approve")
        span ЛОР органы
      li 
        svg(width="20" height="20" viewBox="0 0 20 20")
          use(xlink:href="#svg-object-approve")
        span Нарушение обмена веществ
      li
        svg(width="20" height="20" viewBox="0 0 20 20")
          use(xlink:href="#svg-object-approve")
        span Офтальмология
    .object-sidebar__links
      a.object__link.object__link--blue(href="#")
        span Подробнее о лечении
