.object-sidebar__blocks
  .object-sidebar__item
    h3.object-sidebar__title Документы для заселения
    p.object-sidebar__text <span>Внимательно</span> изучите список документов, которые Вам потребуются для проживания
    .object-sidebar__links
      a.object__link.object__link--blue(href="#")
        span Смотреть список документов