.object-description
  .object-description__wrapper
    .object-description__container
      .object-description__blocks
        .object-description__block
          .object-description__content
            .object-description__description
              ul.object-description__approve
                li
                  svg(width="12" height="10" viewBox="0 0 12 10")
                    use(xlink:href="#svg-search-check")
                  span Медицинский центр;
                li
                  svg(width="12" height="10" viewBox="0 0 12 10")
                    use(xlink:href="#svg-search-check")
                  span SPA-услуги;
                li
                  svg(width="12" height="10" viewBox="0 0 12 10")
                    use(xlink:href="#svg-search-check")
                  span Бювет с минеральной водой;
                li
                  svg(width="12" height="10" viewBox="0 0 12 10")
                    use(xlink:href="#svg-search-check")
                  span Крытый бассейн (закрыт на ремонт);
                li
                  svg(width="12" height="10" viewBox="0 0 12 10")
                    use(xlink:href="#svg-search-check")
                  span Открытый бассейн;
                li
                  svg(width="12" height="10" viewBox="0 0 12 10")
                    use(xlink:href="#svg-search-check")
                  span Караоке бар;
                li
                  svg(width="12" height="10" viewBox="0 0 12 10")
                    use(xlink:href="#svg-search-check")
                  span Летний бар;
                li
                  svg(width="12" height="10" viewBox="0 0 12 10")
                    use(xlink:href="#svg-search-check")
                  span Лобби-бар;
                li
                  svg(width="12" height="10" viewBox="0 0 12 10")
                    use(xlink:href="#svg-search-check")
                  span Салон красоты «Июнь»;
                li
                  svg(width="12" height="10" viewBox="0 0 12 10")
                    use(xlink:href="#svg-search-check")
                  span Детский развивающий клуб «Знаюшка»;
                li
                  svg(width="12" height="10" viewBox="0 0 12 10")
                    use(xlink:href="#svg-search-check")
                  span Многофункциональный мультимедийный центр;
                li
                  svg(width="12" height="10" viewBox="0 0 12 10")
                    use(xlink:href="#svg-search-check")
                  span Детский городок;
                li
                  svg(width="12" height="10" viewBox="0 0 12 10")
                    use(xlink:href="#svg-search-check")
                  span Сервисное бюро;
                li
                  svg(width="12" height="10" viewBox="0 0 12 10")
                    use(xlink:href="#svg-search-check")
                  span Конференц-зал, библиотека, аудитории, переговорная комната;
                li
                  svg(width="12" height="10" viewBox="0 0 12 10")
                    use(xlink:href="#svg-search-check")
                  span Обеденный зал (до 400 чел.);
                li
                  svg(width="12" height="10" viewBox="0 0 12 10")
                    use(xlink:href="#svg-search-check")
                  span Сауна;
                li
                  svg(width="12" height="10" viewBox="0 0 12 10")
                    use(xlink:href="#svg-search-check")
                  span Багажная комната;
                li
                  svg(width="12" height="10" viewBox="0 0 12 10")
                    use(xlink:href="#svg-search-check")
                  span Стирка (по предварительной записи);
                li
                  svg(width="12" height="10" viewBox="0 0 12 10")
                    use(xlink:href="#svg-search-check")
                  span Школа холического плавания для взрослых и детей;
                li
                  svg(width="12" height="10" viewBox="0 0 12 10")
                    use(xlink:href="#svg-search-check")
                  span Экскурсии
                li
                  svg(width="12" height="10" viewBox="0 0 12 10")
                    use(xlink:href="#svg-search-check")
                  span Йога, пилатес, стретчинг, фитнес (здоровая спина);
                li
                  svg(width="12" height="10" viewBox="0 0 12 10")
                    use(xlink:href="#svg-search-check")
                  span Настольный теннис;
                li
                  svg(width="12" height="10" viewBox="0 0 12 10")
                    use(xlink:href="#svg-search-check")
                  span Зал ЛФК;

      .object-description-line
        .object-description-line__images
          .object-description-line__image.active(data-src="/assets/images/object/1.png")
            img(src="/assets/images/object/1.png" alt="" loading="lazy")
          .object-description-line__image(data-src="/assets/images/object/2.png")
            img(src="/assets/images/object/1.png" alt="" loading="lazy")
          .object-description-line__image(data-src="/assets/images/object/3.png")
            img(src="/assets/images/object/1.png" alt="" loading="lazy")
          .object-description-line__image(data-src="/assets/images/object/4.png")
            img(src="/assets/images/object/1.png" alt="" loading="lazy")
          .object-description-line__image(data-src="/assets/images/object/5.png")
            img(src="/assets/images/object/1.png" alt="" loading="lazy")
          .object-description-line__image(data-src="/assets/images/object/6.png")
            img(src="/assets/images/object/1.png" alt="" loading="lazy")
        .object-description-line__content
          h3.object-description-line__title Крытый бассейн
          .object-description-line__text Входит в стоимость. С подогреваемой, морской водой, оборудован, размером 20*15 метров. Время посещения: с 9:00 до 20:00. Четверг - санитарный день. Работает с 1 мая по 30 сентября. В зависимости от погодных условий период работы бассейна может меняться.
          button.object-description-line__button(type="button") Развернуть описание
      
      .object-description-line
        .object-description-line__images
          .object-description-line__image.active(data-src="/assets/images/object/1.png")
            img(src="/assets/images/object/1.png" alt="" loading="lazy")
          .object-description-line__image(data-src="/assets/images/object/2.png")
            img(src="/assets/images/object/1.png" alt="" loading="lazy")
          .object-description-line__image(data-src="/assets/images/object/3.png")
            img(src="/assets/images/object/1.png" alt="" loading="lazy")
          .object-description-line__image(data-src="/assets/images/object/4.png")
            img(src="/assets/images/object/1.png" alt="" loading="lazy")
          .object-description-line__image(data-src="/assets/images/object/5.png")
            img(src="/assets/images/object/1.png" alt="" loading="lazy")
          .object-description-line__image(data-src="/assets/images/object/6.png")
            img(src="/assets/images/object/1.png" alt="" loading="lazy")
        .object-description-line__content
          h3.object-description-line__title Открытый бассейн
          .object-description-line__text Входит в стоимость. С подогреваемой, морской водой, оборудован, размером 20*15 метров. Время посещения: с 9:00 до 20:00
          button.object-description-line__button(type="button") Развернуть описание
      
      .object-description-line
        .object-description-line__images
          .object-description-line__image.active(data-src="/assets/images/object/1.png")
            img(src="/assets/images/object/1.png" alt="" loading="lazy")
          .object-description-line__image(data-src="/assets/images/object/2.png")
            img(src="/assets/images/object/1.png" alt="" loading="lazy")
          .object-description-line__image(data-src="/assets/images/object/3.png")
            img(src="/assets/images/object/1.png" alt="" loading="lazy")
          .object-description-line__image(data-src="/assets/images/object/4.png")
            img(src="/assets/images/object/1.png" alt="" loading="lazy")
          .object-description-line__image(data-src="/assets/images/object/5.png")
            img(src="/assets/images/object/1.png" alt="" loading="lazy")
          .object-description-line__image(data-src="/assets/images/object/6.png")
            img(src="/assets/images/object/1.png" alt="" loading="lazy")
        .object-description-line__content
          h3.object-description-line__title Конференц зал
          .object-description-line__text Входит в стоимость. С подогреваемой, морской водой, оборудован, размером 20*15 метров. Время посещения: с 9:00 до 20:00. Четверг - санитарный день. Работает с 1 мая по 30 сентября. В зависимости от погодных условий период работы бассейна может меняться.
          button.object-description-line__button(type="button") Развернуть описание
      //- .object-description__blocks
      //-   .object-description__block
      //-     .object-description__content
      //-       h3 План-схема санатория Знание
      //-       .object-description__description
      //-         .object-description-scheme
      //-           .object-description-scheme__image.active(data-src="/assets/images/object/1.png")
      //-             img(src="/assets/images/object/1.png" alt="" loading="lazy")
      //-           .object-description-scheme__image(data-src="/assets/images/object/2.png")
      //-             img(src="/assets/images/object/2.png" alt="" loading="lazy")
      //-           .object-description-scheme__image(data-src="/assets/images/object/3.png")
      //-             img(src="/assets/images/object/3.png" alt="" loading="lazy")
      //-           .object-description-scheme__image(data-src="/assets/images/object/4.png")
      //-             img(src="/assets/images/object/4.png" alt="" loading="lazy")
      //-           .object-description-scheme__image(data-src="/assets/images/object/5.png")
      //-             img(src="/assets/images/object/5.png" alt="" loading="lazy")
      //-           .object-description-scheme__image(data-src="/assets/images/object/6.png")
      //-             img(src="/assets/images/object/6.png" alt="" loading="lazy")
      //-         a.object-description__link(href="#") Открыть схему крупнее