.object-promo
  .object-promo__wrapper
    .object-promo__blocks
      .object-promo__block
        .object-promo__img
          img(src="/assets/images/promo/1.png" alt="promo" loading="lazy")
        .object-promo__container
          .object-promo__content
            .object-promo__header
              h3.object-promo__title Новый Год-2024 «Назад в будущее»!
              .object-promo__status.object-promo__status--gray Архив
            .object-promo__description.active
              .object-promo__text
                p <span>Зажигаем под любимые хиты в новогоднюю ночь!</span>
              .object-promo__text
                p Самую волшебную ночь года хочется отметить в кругу дорогих и близких людей. Новогодняя ночь наполняет наши сердца волшебством и верой в исполнение самых заветных желаний.
                p Одно из них можно легко исполнить - встретить 2024 год в санатории «Знание»!
              .object-promo__list
                h4 Мы подготовили тематическую новогоднюю программу «Назад в будущее»:
                ul.object-description__dot
                  li.object-description__item 21:00 – 22:00 – начало сбора гостей
                  li.object-description__item 21:00 – 23:55 новогодняя праздничная программа:
                  ul.object-description__circle
                    li Зажигательные Dj-сеты
                    li Энергичный Ведущий
                    li Поздравление Деда Мороза и Снегурочки
                    li Детский аниматор проведёт весь вечер с вашими малышами, занимая их интересными играми и развлечениями с 21:00 до 2:00.
                  li.object-description__item 23:00 – 23:55 Программа Деда Мороза и Снегурочки
                  li.object-description__item 23:55 – 00:05 – поздравление Президента РФ
                  li.object-description__item 00:00 – 02:00 – танцевальная часть, зажигательные DJ-сеты от Dj Jack конкурсы и интерактивы от ведущего.
                  li.object-description__item 02:00 – завершение программы.
              .object-promo__list
                h4 Стоимость:
                ul.object-description__dot
                  li.object-description__item Малыши до 3 лет – бесплатно
                  li.object-description__item Дети ( от 4 до 9 лет) – 4700
                  li.object-description__item Взрослые – 7000 рублей
              .object-promo__text  
                p <span>Вход со своим алкоголем.</span>
                p Партнер новогодней ночи - известный ресторанный холдинг Сочи – London Restaurant Group.
                p <span>Бронирование мест на новогодний банкет будет осуществляться с 10.12.2023 г.</span>
          .object-promo__buttons
            button.object-promo__button(type="button") Перейти к ценам