.object-dropdown
  .object-dropdown__header
    h3.object-dropdown__title Лечение заболеваний нервной системы «Стандарт»
    svg.object-dropdown__arrow(width="14" height="14" viewBox="0 0 14 14")
      use(xlink:href="#svg-arrow-down")
  .object-dropdown__main
    .object-dropdown__wrapper
      .object-dropdown__text
        p Желание каждого взрослого человека - поддержать и на долгие годы сохранить здоровье и позитивный настрой, повысить физическую активность и выносливость. Санаторий «Знание» - прекрасная возможность получить «перезагрузку» своего организма на целый год! Вас ждут занятия гимнастикой Цигун, минеральная вода из натуральных источников, физиотерапевтические процедуры. А еще — это прекрасный отдых на берегу Черного моря. Здесь, помимо оздоровительных процедур, можно пообщаться с интересными людьми, погулять по замечательному дендропарку, подышать морским воздухом, посетить экскурсии. Персонал санатория окружит вас заботой и вниманием!
      .object-dropdown__content
        h4 Показания
        .object-dropdown__blocks
          .object-dropdown__block
            ul
              li Частые рецидивы хронических заболеваний;
              li Профилактика возрастных заболеваний;
              li Признаки стресса, депрессии;
              li Снижение физической активности, быстрая утомляемость;
          .object-dropdown__block
            ul
              li Раздражительность, апатия, потеря интереса к жизни;
              li Бессонница, снижение аппетита, уменьшение объема движений, частые простуды;
              li Увеличение объема потребления медикаментов.
      .object-dropdown__content
        h4 Диагностика
        .object-dropdown__blocks
          .object-dropdown__block
            ul
              li Электрокардиограмма;
              li Клинический анализ крови общий;
          .object-dropdown__block
            ul
              li Общий анализ мочи.
      .object-dropdown__content
        h4 Ожидаемый результат
        .object-dropdown__blocks
          .object-dropdown__block
            ul
              li Уменьшение симптомов хронических заболеваний;
              li Укрепление иммунитета;
              li Улучшение памяти, внимания, концентрации;
              li Решение проблем со сном;
          .object-dropdown__block
            ul
              li Повышение выносливости, физической активности;
              li Нормализация работы ЖКТ;
              li Снижение или полный отказ от медикаментозных препаратов успокоительного характера, антидепрессантов.
      .object-dropdown__content
        h4 Длительность курса
        .object-dropdown__description
          .object-dropdown__text
            p 10 / 14 / 18 суток.
      .object-dropdown__content
        .object-dropdown__text
          p Только для гостей старше 18 лет.
    button.object-dropdown__button(type="button") Свернуть описание


