.object-sidebar__blocks
  .object-sidebar__item
    h3.object-sidebar__title План-схема санатория
    .object-sidebar__img
      img(src="/assets/images/object/1.png" alt="" loading="lazy")
    button.object-sidebar__link(type="button") Открыть схему крупнее

