.object-photo
  .object-photo__blocks
    .object-photo__block(data-src="/assets/images/object/1.png")
      img(src="/assets/images/object/1.png" alt="" loading="lazy")
    .object-photo__block(data-src="/assets/images/object/2.png")
      img(src="/assets/images/object/2.png" alt="" loading="lazy")
    .object-photo__block(data-src="/assets/images/object/3.png")
      img(src="/assets/images/object/3.png" alt="" loading="lazy")
    .object-photo__block(data-src="/assets/images/object/4.png")
      img(src="/assets/images/object/4.png" alt="" loading="lazy")
    .object-photo__block(data-src="/assets/images/object/5.png")
      img(src="/assets/images/object/5.png" alt="" loading="lazy")
    .object-photo__block(data-src="/assets/images/object/6.png")
      img(src="/assets/images/object/6.png" alt="" loading="lazy")
    .object-photo__block(data-src="/assets/images/object/1.png")
      img(src="/assets/images/object/1.png" alt="" loading="lazy")
    .object-photo__block(data-src="/assets/images/object/2.png")
      img(src="/assets/images/object/2.png" alt="" loading="lazy")