.object-card
  .object-card__wrapper
    .object-card__block
      .object-card__image
        .object-card__free Остался один свободный номер
        .object-card__slider.swiper
          .swiper-wrapper
            .swiper-slide
              img(src="/assets/images/search/1.png" alt="hotel-room" loading="lazy")
            .swiper-slide
              img(src="/assets/images/search/2.png" alt="hotel-room" loading="lazy")
            .swiper-slide
              img(src="/assets/images/search/3.png" alt="hotel-room" loading="lazy")
            .swiper-slide
              img(src="/assets/images/search/4.png" alt="hotel-room" loading="lazy")
          button(type="button", aria-label="Previous").swiper-button-prev
            svg(width="10" height="16" viewBox="0 0 10 16")
              use(xlink:href="#svg-arrow-right")
          button(type="button", aria-label="Next").swiper-button-next
            svg(width="10" height="16" viewBox="0 0 10 16")
              use(xlink:href="#svg-arrow-right")
          .swiper-pagination
      .object-card__information
        h2.object-card__title Стандартный 2-местный DBL/TWIN доп. место ребенку до 12 лет квартал №14
        .object-card__items
          .object-card__item
            .object-card__name
              svg(width="18" height="18" viewBox="0 0 18 18")
                use(xlink:href="#svg-object-building")
              span Корпус:
          .object-card__item  Квартал 14
            .object-card__help.object-card__help--stations
              svg(width="16" height="16" viewBox="0 0 16 16")
                use(xlink:href="#svg-search-help")
              .object-card__hint
                p Выберите одну или несколько станций и укажите
          .object-card__item
            .object-card__name
              svg(width="18" height="18" viewBox="0 0 18 18")
                use(xlink:href="#svg-search-params")
              span Площадь:
          .object-card__item 18,8 кв.м.
          .object-card__item
            .object-card__name
              svg(width="18" height="18" viewBox="0 0 18 18")
                use(xlink:href="#svg-object-bath")
              span Санузел:
          .object-card__item ванна, туалет, умывальник, фен.
          .object-card__item
            .object-card__name
              svg(width="18" height="18" viewBox="0 0 18 18")
                use(xlink:href="#svg-object-user-plus")
              span Доп. место:
          .object-card__item диван или раскладушка (до 12 лет)
      .object-card__information.object-card__information--end
        h4.object-card__named В номере:
        .object-card__item Вешалка, зеркало, две кровати односпальные + одна односпальная (extra bed), прикроватные тумбочки, стол, стулья, шкаф, кондиционер, мини-холодильник, телевизор, телефон, лоджия (балкон) не во всех номерах.
    .object-card__lines
      .object-card__line
        .object-card__left
          h3.object-card__subtitle Без лечения (Полупансион, Завтрак + Ужин)
          button.object-card__link(type="button") Описание тарифа
        .object-card__right
          .object-card__cost
            .object-card__price 33 900 ₽
            .object-card__amount за 7 ночей, 2 взрослых +1 реб.
          button.object-card__button(type="button") Запросить бронирование
      .object-card__line
        .object-card__left
          h3.object-card__subtitle С лечением (Лето)
          button.object-card__link(type="button") Описание тарифа
        .object-card__right
          .object-card__cost
            .object-card__price 77 265 ₽
            .object-card__amount за 7 ночей, 2 взрослых +1 реб.
          button.object-card__button(type="button") Запросить бронирование
      .object-card__line
        .object-card__left
          h3.object-card__subtitle С лечением (Мацеста) ИЛИ Послеожоговая (Полный пансион)
          button.object-card__link(type="button") Описание тарифа
        .object-card__right
          .object-card__cost
            .object-card__price 184 525 ₽
            .object-card__amount за 7 ночей, 2 взрослых +1 реб.
          button.object-card__button(type="button") Запросить бронирование
    button.object-card__more.object__link.object__link--orange(type="button")
      span Показать еще 2 тарифа