.object-information
  .object-information__container
    .object-information__items.object-information__items--large
      .object-information__item.object-information__item--gap
        svg(width="18" height="18" viewBox="0 0 18 18")
          use(xlink:href="#svg-swimming-pool")
        .object-information__block.object-information__block--bold
          span Открытый бассейн
          a(href="/") Смотреть фото, описание
      .object-information__item.object-information__item--gap
        svg(width="18" height="18" viewBox="0 0 18 18")
          use(xlink:href="#svg-kpool")
        .object-information__block.object-information__block--bold
          span Крытый бассейн
          a(href="/") Смотреть фото, описание

      .object-information__item.object-information__item--gap
        svg(width="18" height="18" viewBox="0 0 18 18")
          use(xlink:href="#svg-sea")
        .object-information__block.object-information__block--bold
          span Расстояние до моря
          p 50 м. - от первого корпуса, 150 м. - от второго. Пляж: Собственный, галечный, протяженностью - 250 метров. Оборудован шезлонгами, зонтами, кабинками для переодевания, душевыми кабинками, также есть бювет с питьевой водой, спасательная служба, медпункт.

      .object-information__item.object-information__item--gap
        svg(width="18" height="18" viewBox="0 0 18 18")
          use(xlink:href="#svg-sea")
        .object-information__block.object-information__block--bold
          span Расстояние до парка
          p Расположен на территории парка.
      
      .object-information__item.object-information__item--gap
        svg(width="18" height="18" viewBox="0 0 18 18")
          use(xlink:href="#svg-sea")
        .object-information__block.object-information__block--bold
          span Паркинг
          p За дополнительную плату. Открытая, охраняемая.
      
      .object-information__item.object-information__item--gap
        svg(width="18" height="18" viewBox="0 0 18 18")
          use(xlink:href="#svg-sea")
        .object-information__block.object-information__block--bold
          span WI-FI, Интернет
          p Входит в стоимость. Доступен на всей территории.
    .object-information__buttons
      a.object__link.object__link--blue(href="#")
        span Смотреть все