section.how-to-book-types
  .wrapper
    .how-to-book-types__wrapper
      .how-to-book-types__items

        .how-to-book-types__item
          a(href="#")
            span.visually-hidden Санатории и пансионаты
          .how-to-book-types__container
            .how-to-book-types__content
              .how-to-book-types__icon
                svg(width="18" height="18" viewBox="0 0 18 18")
                  use(xlink:href="#svg-water-default")
              .how-to-book-types__name Санатории и пансионаты
            .how-to-book-types__arrow
              svg(width="24" height="24" viewBox="0 0 24 24")
                use(xlink:href="#svg-arrow-with-line")

        .how-to-book-types__item
          a(href="#")
            span.visually-hidden Отели и гостиницы
          .how-to-book-types__container
            .how-to-book-types__content
              .how-to-book-types__icon
                svg(width="18" height="18" viewBox="0 0 18 18")
                  use(xlink:href="#svg-bed-default")
              .how-to-book-types__name Отели и гостиницы
            .how-to-book-types__arrow
              svg(width="24" height="24" viewBox="0 0 24 24")
                use(xlink:href="#svg-arrow-with-line")
        
        .how-to-book-types__item
          a(href="#")
            span.visually-hidden Апартаменты, квартиры и хостелы
          .how-to-book-types__container
            .how-to-book-types__content
              .how-to-book-types__icon
                svg(width="18" height="18" viewBox="0 0 18 18")
                  use(xlink:href="#svg-building-default")
              .how-to-book-types__name Апартаменты, квартиры и хостелы
            .how-to-book-types__arrow
              svg(width="24" height="24" viewBox="0 0 24 24")
                use(xlink:href="#svg-arrow-with-line")
        
        .how-to-book-types__item
          a(href="#")
            span.visually-hidden Базы отдыха и турбазы
          .how-to-book-types__container
            .how-to-book-types__content
              .how-to-book-types__icon
                svg(width="18" height="18" viewBox="0 0 18 18")
                  use(xlink:href="#svg-house-default")
              .how-to-book-types__name Базы отдыха и турбазы
            .how-to-book-types__arrow
              svg(width="24" height="24" viewBox="0 0 24 24")
                use(xlink:href="#svg-arrow-with-line")
        
        .how-to-book-types__item
          a(href="#")
            span.visually-hidden Кемпинги и глэмпинги
          .how-to-book-types__container
            .how-to-book-types__content
              .how-to-book-types__icon
                svg(width="18" height="18" viewBox="0 0 18 18")
                  use(xlink:href="#svg-shape-default")
              .how-to-book-types__name Кемпинги и глэмпинги
            .how-to-book-types__arrow
              svg(width="24" height="24" viewBox="0 0 24 24")
                use(xlink:href="#svg-arrow-with-line")
        
        .how-to-book-types__item
          a(href="#")
            span.visually-hidden Туры за границу
          .how-to-book-types__container
            .how-to-book-types__content
              .how-to-book-types__icon
                svg(width="24" height="24" viewBox="0 0 24 24")
                  use(xlink:href="#svg-globe-default")
              .how-to-book-types__name Туры за границу
            .how-to-book-types__arrow
              svg(width="24" height="24" viewBox="0 0 24 24")
                use(xlink:href="#svg-arrow-with-line")
        
        .how-to-book-types__item
          a(href="#")
            span.visually-hidden Экскурсии с гидом
          .how-to-book-types__container
            .how-to-book-types__content
              .how-to-book-types__icon
                svg(width="18" height="18" viewBox="0 0 18 18")
                  use(xlink:href="#svg-direction-default")
              .how-to-book-types__name Экскурсии с гидом
            .how-to-book-types__arrow
              svg(width="24" height="24" viewBox="0 0 24 24")
                use(xlink:href="#svg-arrow-with-line")
        
        .how-to-book-types__item
          a(href="#")
            span.visually-hidden Трансферы / такси на курортах
          .how-to-book-types__container
            .how-to-book-types__content
              .how-to-book-types__icon
                svg(width="18" height="18" viewBox="0 0 18 18")
                  use(xlink:href="#svg-car-default")
              .how-to-book-types__name Трансферы / такси на курортах
            .how-to-book-types__arrow
              svg(width="24" height="24" viewBox="0 0 24 24")
                use(xlink:href="#svg-arrow-with-line")
        