section.how-to-book-hero
  .wrapper
    .how-to-book-hero__wrapper
      h1.how-to-book-hero__title Как забронировать
      p.how-to-book-hero__text Мы сделали исчерпывающие инструкции по всем аспектам бронирования для каждого направления поиска, а также добавили ответы на популярные вопросы.