.how-to-book-popup
  button.how-to-book-popup__close(type="button")
    svg(width="24" height="24" viewBox="0 0 24 24")
      use(xlink:href="#svg-close")
  .how-to-book-popup__wrapper
    .how-to-book-popup__video
      iframe(class="youtube-player" width="560" height="315" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen)
  .how-to-book-popup__text 
    p Как забронировать санаторий