section.how-to-book-questions
  .wrapper
    .how-to-book-questions__wrapper
      .how-to-book-questions__block
        .how-to-book-questions__content
          h2.how-to-book-questions__title
          p.how-to-book-questions__text
        .how-to-book-questions__icon  
          svg