section.main-procedures
  .main-procedures__bg
    img(src="/assets/images/main-procedures/doc-mob.png" alt="doc-procedures" loading="lazy")
  .wrapper
    .main-procedures__wrapper
      h2 Профили лечения и популярные 
      .main-procedures__blocks--mobile
        .main-procedures__items
          h3.main-procedures__number 14
            span.main-procedures__name профилей лечения
          h3.main-procedures__number 86
            span.main-procedures__name процедур
          h3.main-procedures__number 256
            span.main-procedures__name заболеваний
        .main-procedures__buttons
          a(href="/").main-procedures__button
            svg(width="21" height="20" viewBox="0 0 21 20")
              use(xlink:href="#svg-activity")
            span Выбрать лечение
      .main-procedures__blocks--laptop
        .main-procedures__block
          .main-procedures__image
            img(src="/assets/images/main-procedures/doc.png" alt="doc-procedures" loading="lazy")
          .main-procedures__name Профили лечения
          ul.main-procedures__links.main-procedures__links-large
            li
              a.main-procedures__link(href="#") Гинекология
            li
              a.main-procedures__link(href="#") ЛОР органы
            li
              a.main-procedures__link(href="#") Нервная система
            li
              a.main-procedures__link(href="#") Офтальмология
            li
              a.main-procedures__link(href="#") Почки и урология
            li
              a.main-procedures__link(href="#") Кожные заболевания
            li
              a.main-procedures__link(href="#") Болезни мужской половой сферы
            li
              a.main-procedures__link(href="#") Нарушение обмена веществ
            li
              a.main-procedures__link(href="#") Опорно-двигательный аппарат
            li
              a.main-procedures__link(href="#") Сердечно-сосудистая система
            li
              a.main-procedures__link(href="#") Органы пищеварения
          a(href="/").main-procedures__button
            svg(width="20" height="20" viewBox="0 0 20 20")
              use(xlink:href="#svg-activity-heart")
            span Полный справочник по лечению
        .main-procedures__block
          .main-procedures__name Популярные процедуры
          ul.main-procedures__links
            li
              a.main-procedures__link(href="#") Душ шарко
            li
              a.main-procedures__link(href="#") Амплипульстерапия
            li
              a.main-procedures__link(href="#") Ванны углекислые и сероводородные
            li
              a.main-procedures__link(href="#") Массаж лечебно-профилактический
            li
              a.main-procedures__link(href="#") Грязевые аппликации
            li
              a.main-procedures__link(href="#") Иглорефлексотерапия (иглоукалывание)
            li
              a.main-procedures__link(href="#") Подводное вытяжение позвоночника
            li
              a.main-procedures__link(href="#") Галотерапия/спелеотерапия
