.object-filter {
  &__items {
    display: flex;
    gap: 10px;
  }

  &__item {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;

    position: relative;
    padding: 10px 12px;
    border-radius: 8px;
    border: 1px solid rgba($blue-800, 0.25);
  }

  &__amount {
    display: flex;
    align-items: center;
    gap: 6px;
    span {
      font-size: 16px;
      font-weight: 600;
      line-height: 20px;
      color: $black-300;
    }

  }

  &__icon {
    stroke: transparent;
    position: absolute;
    left: 4px;
    top: 5px;
    opacity: 0;
    transition: opacity $transition-default;
    fill: $white;
  }

  &__input {
    position: absolute;
    z-index: -1;
    opacity: 0;
    & ~ .object-filter__amount {
      position: relative;
      padding-left: 30px;
      &:before {
        position: absolute;
        content: '';
        display: inline-block;
        top: 50%;
        left: 0%;
        transform: translate(0, -50%);
        border: 1px solid rgba($blue-700, 0.15);
        background-color: rgba($blue-700, 0.05);
        width: 20px;
        height: 20px;
        border-radius: 3px;
        transition: border-color $transition-default, background-color $transition-default;
      }
    }
    &:checked ~ .object-filter__amount > .object-filter__icon {
      opacity: 1;
      transition: opacity $transition-default;
    }
    &:checked ~ .object-filter__amount {
      &:before {
        background-color: $blue-700;
        border: 1px solid $blue-700;
      }
    }
  }

  &__stars {
    display: flex;
  }

  &__star {
    width: 14px;
    height: 14px;
    fill: $yellow-400;
    stroke: transparent;
    &--gray {
      fill: $gray-300;
    }
  }
}