.object-sidebar {
  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__img {
    cursor: pointer;
    margin-top: 20px;
    width: 262px;
    height: 180px;
    overflow: hidden;
    position: relative;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &:before {
      z-index: 1;
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      inset: 0;
      background-color: transparent;
    }
    @include min-screen(laptop) {
      &:before {
        transition: border-color $transition-default;
      }
      &:hover {
        &:before {
          background-color: rgba($black-600, 0.2);
        }
      }
    }
  }

  &__link {
    margin-top: 10px;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    color: $blue-500;
    border-bottom: 1px dashed transparent;
    &:active {
      border-color: rgba($blue-500, 0.5);
    }
    @include min-screen(laptop) {
      transition: border-color $transition-default;
      &:hover {
        border-color: rgba($blue-500, 0.5);
      }
    }
  }

  &__blocks {
    background-color: $white;
    border-radius: 10px;
    box-shadow: 0px 4px 25px 0px rgba($gray-800, 0.12);
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: relative;
    &--small {
      padding: 30px 24px;
    }
  }

  &__block {
    padding-bottom: 30px;
    border-bottom: 1px solid rgba($blue-700, 0.15);
    &:last-child {
      border: none;
      padding-bottom: 0;
    }
  }

  &__title {
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    color: $black-400;
  }

  &__list {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    li {
      display: flex;
      align-items: center;
      gap: 10px;

      font-size: 16px;
      font-weight: 500;
      line-height: 20px;
      text-align: left;
      color: $black-300;
    }
    svg {
      stroke: transparent;
    }
  }

  &__text {
    margin-top: 20px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: $black-300;
    span {
      font-weight: 700;
      color: $red-800;
    }
  }

  &__svg  {
    position: absolute;
    bottom: 0;
    right: 24px;
    stroke: transparent;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    z-index: 2;
  }

  &__description {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: $black-300;
    a {
      font-weight: 700;
      color: $blue-500;
      @include min-screen(laptop) {
        transition: color $transition-default;
        &:hover {
          color: $orange-300;
        }
      }
    }
    span {
      font-size: 14px;
      font-weight: 800;
      line-height: 24px;
      letter-spacing: 0.1em;
      text-align: center;
      border-radius: 100px;
      background-color: $red-400;
      color: $white;
      padding: 0 7px;
      margin-left: 6px;
    }
  }

  &__status {
    max-width: max-content;
    font-family: 'Panton';
    font-size: 18px;
    font-weight: 800;
    line-height: 24px;
    letter-spacing: 0.1em;
    color: $white;
    text-transform: uppercase;
    padding: 0 5px;
    background-color: $red-400;
  }

  &__links {
    margin-top: 30px;
  }
}