.object-card {
  background-color: $white;
  box-shadow: 0px 4px 25px 0px rgba($color: $gray-800, $alpha: 0.12);
  border-radius: 10px;
  padding: 24px;

  &__block {
    display: flex;
    gap: 24px;
    padding-bottom: 30px;
    border-bottom: rgba($color: $blue-700, $alpha: 0.15);
  }

  &__image {
    height: auto;
    overflow: hidden;
    position: relative;
    @include max-screen(tablet) {
      width: 100%;
      max-height: 210px;
    }
    @include min-screen(tablet-2x) {
      max-height: 210px;
      height: 210px;
      width: 294px;
      min-width: 294px;
    }
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  &__free {
    position: absolute;
    z-index: 10;
    top: 16px;
    left: 16px;

    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    text-align: center;
    color: $white;
    background-color: $green-500;
    padding: 1px 5px 2px 5px;
  }

  &__name {
    display: flex;
    align-items: center;
    gap: 8px;
    svg {
      stroke: transparent;
      min-width: 18px;
    }
    span {
      white-space: nowrap;
      font-size: 16px;
      font-weight: 400;
      line-height: 20px;
      color: rgba($color: $black-300, $alpha: 0.75);
    }
  }

  &__title {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    color: $black-400;
  }

  &__subtitle {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    color: $black-400;
  }

  &__named {
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    margin-bottom: 10px;
    color: $black-400;
  }

  &__items {
    margin-top: 20px;
    display: grid;
    column-gap: 20px;
    row-gap: 14px;
    grid-template-columns: 1fr 382px;
  }

  &__item {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: $black-300;
    svg {
      stroke: transparent;
      fill: transparent;
    }
  }

  &__information {
    &--end {
      align-self: flex-end;
    }
  }

  &__help {
    position: relative;
    svg {
      stroke: $gray-400;
      fill: transparent;
      transition: stroke $transition-default;
    }
    &:hover {
      svg {
        stroke: $blue-500;
      }
    }
    &--stations {
      &:hover {
        .search-sidebar__hint {
          z-index: 2901;
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }

  &__hint {
    z-index: -1;
    opacity: 0;
    visibility: hidden;
    transition: opacity $transition-default, z-index $transition-default, visibility $transition-default;

    position: absolute;
    z-index: 15;
    top: 27px;
    width: 270px;
    height: auto;
    padding: 16px;
    background-color: $black-400;
    box-shadow: 0px 5px 25px 0px rgba($color: $blue-900, $alpha: 0.15), 0px 3px 6px 0px rgba($color: $blue-900, $alpha: 0.07);
    border-radius: 5px;
    @include max-screen(tablet-2x) {
      right: -10px;
    }
    @include min-screen(laptop) {
      left: -40px;
    }
    &:before {
      position: absolute;
      content: '';
      bottom: 100%;
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-bottom: 5px solid $black-400;
      @include max-screen(tablet-2x) {
        right: 12px;
      }
      @include min-screen(laptop) {
        left: 43px;
      }
    }
    &:after {
      position: absolute;
      content: '';
      bottom: 100%;
      left: 40px;
      width: 16px;
      height: 27px;
      background-color: transparent;
    }
    p {
      font-size: 16px;
      font-weight: 400;
      line-height: 18px;
      color: $white;
    }
  }

  &__slider {
    height: 100%;
    @include min-screen(laptop) {
      transition: opacity $transition-default;
      &:hover {
        .swiper-button {
          &-next, 
          &-prev {
            opacity: 0.5;
          }
        }
      }
    }
    .swiper-button {
      &-next, 
      &-prev {
        top: 50%;
        transform: translateY(-50%);
        bottom: 0;
        margin: 0;
        width: 35px;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50px;
        background-color: $white;
        box-shadow: 0px 5px 15px 0px #4B6AA626, 0px 1px 4px 0px #14448B0D;
        opacity: 0;
        &:active {
          opacity: 1;
        }
        @include min-screen(laptop) {
          transition: opacity $transition-default;
          &:hover {
            opacity: 1;
          }
        }
        svg {
          width: 10px;
          height: 16px;
          fill: transparent;
        }
        &:after {
          display: none;
        }
      }
      &-prev {
        left: 10px;
        svg {
          margin-right: 2px;
          transform: rotate(180deg);
        }
      }
      &-next {
        right: 10px;
        svg {
          margin-left: 2px;
        }
      }
    }
    .swiper-pagination {
      display: flex;
      align-items: center;
      justify-content: center;
      bottom: 10px;
      &-bullet {
        width: 6px;
        height: 6px;
        background-color: $gray-700;
        opacity: 1;
        box-shadow: 0px 0px 5px 0px rgba($color: $black-600, $alpha: 0.25);
        &-active {
          background-color: $white;
          width: 8px;
          height: 8px;
          box-shadow: 0px 0px 5px 0px rgba($color: $black-600, $alpha: 0.25);
        }
      }
    }
    .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
      margin: 0 3px;
    }
  }
}