.object-information {
  border-radius: 10px;
  background-color: $white;
  padding: 30px 24px 30px 24px;

  &__items {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    row-gap: 16px;
    &--large {
      grid-template-columns: repeat(1, minmax(0, 1fr));
    }
    &--list {
      display: inline-flex;
      flex-wrap: wrap;
      column-gap: 30px;
      row-gap: 20px;
      flex-direction: row;
    }
  }

  &__container {
    padding-bottom: 24px;
    border-bottom: 1px solid rgba($blue-700, 0.15);
    margin-bottom: 30px;
    &:last-child {
      border: none;
      margin: 0;
      padding: 0;
    }
  }

  &__item {
    display: flex;
    gap: 12px;
    svg {
      stroke: transparent;
      width: 20px;
      height: 20px;
      min-width: 20px;
    }
    &--large {
      grid-column: span 2;
    }
    &--gap {
      gap: 16px;
    }
  }

  &__buttons {
    margin-top: 40px;
    // display: flex;
    // gap: 20px;
  }

  .object__link {
    margin-top: 0;
  }

  &__block {
    display: flex;
    flex-direction: column;
    gap: 10px;
    a {
      font-size: 16px;
      font-weight: 400;
      line-height: 20px;
      color: $blue-500;
      @include min-screen(laptop) {
        transition: color $transition-default;
        &:hover {
          color: $orange-500;
        }
      }
    }
    span {
      margin-top: 3px;
      font-size: 16px;
      font-weight: 500;
      line-height: 20px;
      color: $black-300;
    }
    p {
      font-size: 16px;
      font-weight: 400;
      line-height: 20px;
      color: $black-300;
    }

    &--bold {
      span {
        margin-top: 0;
        font-weight: 700;
        color: $black-400;
      }
    }
  }

  &__description {
    &--large {
      grid-column: span 2;
    }
  }

  &__title {
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    text-align: left;
    color: $black-400;
  }

  &__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: $black-300;
    margin-top: 10px;
  }
}