.object-photo {
  padding: 30px 24px;
  background-color: $white;
  border-radius: 10px;

  &__blocks {
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  &__block {
    cursor: pointer;
    position: relative;
    &:active {
      &:before {
        background-color: rgba($black-600, 0.2);
      }
    }
    &:hover {
      &:before {
        background-color: rgba($black-600, 0.2);
      }
    }
    &:before {
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      inset: 0;
      background-color: transparent;
      transition: background-color $transition-default;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}