.object-sidebar {
  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__blocks {
    background-color: $white;
    border-radius: 10px;
    box-shadow: 0px 4px 25px 0px rgba($gray-800, 0.12);
    padding: 24px;
  }

  &__block {
    padding-bottom: 30px;
  }

  &__title {
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    color: $black-400;
  }

  &__list {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    li {
      display: flex;
      align-items: center;
      gap: 10px;

      font-size: 16px;
      font-weight: 500;
      line-height: 20px;
      text-align: left;
      color: $black-300;
    }
    svg {
      stroke: transparent;
    }
  }

  &__text {
    margin-top: 20px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: $black-300;
    span {
      font-weight: 700;
      color: $red-800;
    }
  }

  &__banner {
    width: 100%;
    height: 150px;
    overflow: hidden;
    position: relative;
    &:before {
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      inset: 0;
      background-color: rgba($black-600, 0.25);
      z-index: 1;
    }
    img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__content {
    padding: 30px 24px;
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
    z-index: 2;
  }

  &__description {
    font-family: 'Panton';
    font-size: 20px;
    font-weight: 800;
    line-height: 24px;
    color: $white;
    margin-top: 16px;
  }

  &__status {
    max-width: max-content;
    font-family: 'Panton';
    font-size: 18px;
    font-weight: 800;
    line-height: 24px;
    letter-spacing: 0.1em;
    color: $white;
    text-transform: uppercase;

    padding: 0 5px;
    background-color: $red-400;
  }
}