.object-services {
  margin-top: 70px;

  &__title {
    font-size: 30px;
    font-weight: 700;
    line-height: 32px;
    color: $black-400;
    span {
      font-weight: 400;
      color: $gray-400;
    }
  }

  &__container {
    margin-top: 30px;
    background-color: $white;
    border-radius: 10px;
    padding: 30px 24px;
  }

  &__blocks {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    column-gap: 34px;
    row-gap: 30px;
  }

  &__block {
    display: flex;
    gap: 16px;
  }

  &__text {
    h3 {
      font-size: 16px;
      font-weight: 700;
      line-height: 20px;
      color: $black-400;
    }
    p {
      margin-top: 10px;
      font-size: 16px;
      font-weight: 400;
      line-height: 20px;
      color: $black-300;
    }
  }
}