.object {
  background-color: $bg-blue;

  &__wrapper {
    @include min-screen(laptop) {
      grid-template-columns: 1fr 306px;
      column-gap: 24px;
      display: grid;
      margin-top: 24px;
    }
  }

  &__link {
    display: inline-block;
    margin-top: 30px;
    span {
      font-size: 16px;
      font-weight: 600;
      line-height: 18px;
      color: $blue-500;
      border-bottom: 1px dashed transparent;
      &:active {
        border-color: rgba($blue-500, 0.5);
      }
      @include min-screen(laptop) {
        transition: border-color $transition-default;
        &:hover {
          border-color: rgba($blue-500, 0.5);
        }
      }
    }
    
    &--small {
      margin-top: 0;
      span {
        font-weight: 500;
      }
    }
    &--blue {
      padding: 11px 16px;
      width: 100%;
      background-color: $bg-blue;
      border-radius: 8px;
      max-width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &--tiny {
      width: auto;
      max-width: max-content;
    }
  }

  &__descriptions {
    display: flex;
    flex-direction: column;
    gap: 70px;
    padding-top: 70px;
    padding-bottom: 80px;
  }

  &__dropdowns {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__blocks {
    display: flex;
    flex-direction: column;
    gap: 60px;
  }

  &__description {
    margin-top: 10px;
    &--gap {
      margin-top: 30px;
    }
    h4 {
      margin-top: 30px;
      font-family: 'Tilda Sans';
      font-size: 16px;
      font-weight: 600;
      line-height: 18px;
      color: $black-400;
    }
  }

  &__block {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
}