.object-location {
  background-color: $bg-blue;

  &__block {
    margin-top: 60px;
  }
  
  .ymap-container {
    width: 100%;
    height: 400px;
    #map-yandex {
      height: 100%;
      width: 100%;
    }
  }
}