.object-about {
  margin-top: 80px;

  &__wrapper {

  }

  &__container {
    display: flex;
    gap: 34px;
  }

  &__text {
    margin-top: 30px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 7;
    &.active {
      overflow: visible;
      display: block;
    }
    p {
      font-size: 18px;
      font-weight: 400;
      line-height: 24px;
      color: $black-300;
      margin-bottom: 20px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__button {
    margin-top: 20px;
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    color: $blue-500;
    border-bottom: 1px dashed transparent;
    &:active {
      border-color: rgba($blue-500, 0.5);
    }
    @include min-screen(laptop) {
      transition: border-color $transition-default;
      &:hover {
        border-color: rgba($blue-500, 0.5);
      }
    }
  }

  &__video {
    width: 406px;
  }

  &__nav {
    margin-top: 80px;
    padding: 20px 0;
    border-top: 1px  solid rgba($blue-700, 0.1);
    display: flex;
    justify-content: space-between;
    span,
    a {
      font-size: 16px;
      font-weight: 400;
      line-height: 20px;
    }
    span {
      color: $gray-400;
    }
    a {
      color: $gray-850;
      @include min-screen(laptop) {
        transition: color $transition-default;
        &:hover {
          color: $orange-500;
        }
      }
    }
  }
}