.how-to-book-inner-faq {
  @include max-screen(tablet) {
    padding-top: 10px;
    padding-bottom: 40px;
  }
  @include min-screen(tablet-2x) {
    padding-top: 40px;
    padding-bottom: 50px;
  }

  &__title {
    font-weight: 700;
  }

  &__text {
    color: rgba($black-300, 0.75);
    margin-top: 20px;
    @include max-screen(tablet) {
      font-size: 16px;
      line-height: 20px;
    }
    @include min-screen(tablet-2x) {
      font-size: 18px;
      line-height: 24px;
    }
  }

  &__buttons {
    display: flex;
    gap: 10px;
    @include max-screen(tablet) {
      margin-top: 30px;
    }
    @include min-screen(tablet-2x) {
      margin-top: 40px;
    }
  }

  &__button {
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    color: $black-400;

    border-radius: 8px;
    border: 1px solid rgba($blue-800, 0.25);
    transition: color $transition-default, border-color $transition-default, background-color $transition-default;
    @include max-screen(tablet) {
      padding: 8px 12px;
    }
    @include min-screen(tablet-2x) {
      padding: 10px 16px;
    }
    &.active {
      border-color: $blue-700;
      background-color: $blue-700;
      color: $white;
      cursor: default;
    }
    &:not(.active) {
      @include min-screen(laptop) {
        &:hover {
          border-color: $orange-500;
        }
      }
    }
  }

  &__items {
    display: none;
    border-top: 1px solid rgba($blue-700, 0.15);
    @include max-screen(tablet) {
      margin-top: 30px;
    }
    @include min-screen(tablet-2x) {
      margin-top: 40px;
    }
    &.active {
      display: block;
    }
  }

  &__item {
    border-bottom: 1px solid rgba($blue-700, 0.15);
  }

  &__question {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &:active {
      h3 {
        color: $orange-500;
      }
    }
    @include max-screen(tablet) {
      padding: 24px 6px 24px 0;
      gap: 15px;
    }
    @include min-screen(tablet-2x) {
      padding: 30px 8px 30px 0;
    }
    @include min-screen(laptop) {
      &:hover {
        h3 {
          color: $orange-500;
        }
      }
    }
    &.active {
      svg {
        transform: rotate(270deg);
      }
    }
    h3 {
      font-family: 'Tilda Sans';
      font-size: 18px;
      line-height: 24px;
      color: $black-400;
      @include max-screen(tablet) {
        max-width: 282px;
        font-weight: 600;
      }
      @include min-screen(tablet-2x) {
        font-weight: 700;
      }
      @include min-screen(laptop) {
        transition: color $transition-default;
      }
    }
    svg {
      stroke: $blue-500;
      fill: transparent;
      transform: rotate(90deg);
      transition: transform $transition-default;
      @include max-screen(tablet) {
        min-width: 10px;
        width: 10px;
      }
    }
  }

  &__answer {
    display: none;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    color: $black-300;
    padding-bottom: 40px;
  }
}