.how-to-book-inner-hero {
  padding-top: 90px;
  padding-bottom: 35px;
  background-color: $bg-blue;

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  &__text {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: rgba($color: $black-300, $alpha: 0.75);
    max-width: 856px;
  }
}