section.footer-confirmation
  .footer-confirmation__wrapper
    .footer-confirmation__info
      .footer-confirmation__img
        img(src="/assets/images/footer/confirmation.svg" alt="confirmation" loading="lazy")
      .footer-confirmation__text 
        p Номер в реестре туроператоров <a href="#">РТО 014980</a>
    .footer-confirmation__requisites
      .footer-confirmation__title ООО «Система бронирования Путевка»
      .footer-confirmation__text
        p 107045, г.Москва, Рождественский б-р, 9, строение 1, Помещение I, комната 30 <br> ИНН 7725851033  КПП 770201001  ОГРН 5147746438175
        p Р/с. №40702810338000017283 ПАО «Сбербанк России» г. Москва <br> БИК 044525225, К/с. №30101810400000000225