section.footer-city
  .footer-city__wrapper
    h2.footer-city__title Вас может заинтересовать
    .footer-city__links
      .footer-city__link
        a(href="#") Москва
      .footer-city__link
        a(href="#") Сочи
      .footer-city__link
        a(href="#") Санкт-Петербург
      .footer-city__link
        a(href="#") Анапа
      .footer-city__link
        a(href="#") Екатеринбург
      .footer-city__link
        a(href="#") Калининград 
      .footer-city__link
        a(href="#") Краснодар
      .footer-city__link
        a(href="#") Казань
      .footer-city__link
        a(href="#") Новосибирск
      .footer-city__link
        a(href="#") Красноярск
      .footer-city__link
        a(href="#") Уфа
      .footer-city__link
        a(href="#") Москва
      .footer-city__link
        a(href="#") Сочи
      .footer-city__link
        a(href="#") Санкт-Петербург
      .footer-city__link
        a(href="#") Анапа
      .footer-city__link
        a(href="#") Екатеринбург
      button.footer-city__button(type="button")
        span Показать все
        svg(width="10" height="16" viewBox="0 0 10 16")
          use(xlink:href="#svg-arrow-right")


