section.footer-partners
  .wrapper
    h2.footer-partners__title Наши партнеры
  .wide-wrapper
    .footer-partners__items 
      .footer-partners__item
        img(src="/assets/images/footer/logo-1.svg" alt="logo" loading="lazy" width="108px")
      .footer-partners__item
        img(src="/assets/images/footer/logo-2.svg" alt="logo" loading="lazy" width="84px")
      .footer-partners__item
        img(src="/assets/images/footer/logo-3.svg" alt="logo" loading="lazy" width="136px")
      .footer-partners__item
        img(src="/assets/images/footer/logo-4.svg" alt="logo" loading="lazy" width="153px")
      .footer-partners__item
        img(src="/assets/images/footer/logo-5.svg" alt="logo" loading="lazy" width="157px")
      .footer-partners__item
        img(src="/assets/images/footer/logo-6.svg" alt="logo" loading="lazy" width="138px")