section.footer-places
  .wrapper
    .footer-places__wrapper
      .footer-places__links
        a.footer-places__link.footer-places__link--bold(href="#") Россия
        a.footer-places__link.footer-places__link--bold(href="#") Беларусь
        a.footer-places__link.footer-places__link--bold(href="#") Украина
        a.footer-places__link.footer-places__link--bold(href="#") Подмосковье
        a.footer-places__link.footer-places__link--bold(href="#") Алтай
        a.footer-places__link.footer-places__link--bold(href="#") Абхазия 
        a.footer-places__link.footer-places__link--bold(href="#") Краснодарский край
        a.footer-places__link(href="#") Сочи
        a.footer-places__link(href="#") Геленджик
        a.footer-places__link(href="#") Туапсе
        a.footer-places__link(href="#") Анапа
        a.footer-places__link.footer-places__link--bold(href="#") КавМинВоды
        a.footer-places__link(href="#") Ессентуки
        a.footer-places__link(href="#") Железноводск
        a.footer-places__link(href="#") Кисловодск
        a.footer-places__link(href="#") Пятигорск
        a.footer-places__link.footer-places__link--bold(href="#") Крым
        a.footer-places__link(href="#") ЮБК
        a.footer-places__link(href="#") Ялта
        a.footer-places__link(href="#") Алушта
        a.footer-places__link(href="#") Гурзуф
        a.footer-places__link(href="#") Ливадия
        a.footer-places__link(href="#") Алупка
        a.footer-places__link.footer-places__link--bold(href="#") Западный Крым
        a.footer-places__link(href="#") Евпатория
        a.footer-places__link(href="#") Саки
        a.footer-places__link.footer-places__link--bold(href="#") Восточный Крым
        a.footer-places__link(href="#") Феодосия
        a.footer-places__link(href="#") Судак


