section.footer-about
  .wrapper
    .footer-about__wrapper
      .footer-about__container
        .footer-about__wrap.footer-about__wrap--small
          h2.footer-about__title Скачайте приложение
          p.footer-about__text В приложении Ваши заявки и документы по ним всегда под рукой!
          .footer-about__links
            a.footer-about__link(href="#")
              img(src="/assets/images/footer/app.svg" alt="app store" loading="lazy")
            a.footer-about__link(href="#")
              img(src="/assets/images/footer/gplay.svg" alt="google play" loading="lazy")
        .footer-about__wrap.footer-about__wrap--midle
          .footer-about__bg
            img(src="/assets/images/footer/bg.svg" alt="bg" loading="lazy")
          .footer-about__phone
            .footer-about__image
              img(src="/assets/images/footer/phone.png" alt="phone" loading="lazy")
          .footer-about__block
            .footer-about__description Отсканируйте QR-код и скачайте приложение
            .footer-about__code
              img(src="/assets/images/footer/qr-code.png" alt="qr-code" loading="lazy")
      .footer-about__container.footer-about__container--small
        .footer-about__wrap
          h2.footer-about__title Подпишитесь на нас
          p.footer-about__text Чтобы первыми быть в курсе распродаж и акций - подписывайтесь на нас в соцсетях
        .footer-about__socials
          .footer-about__social
            a.footer-about__icon(href="#")
              img(src="/assets/images/footer/vk.svg" alt="vk" loading="lazy")
            .footer-about__bubble Подписчиков <span> 15 442 </span>
          .footer-about__social
            a.footer-about__icon(href="#")
              img(src="/assets/images/footer/od.svg" alt="odnoklassniki" loading="lazy")
            .footer-about__bubble Участников <span> 20 379 </span>