section.footer-criterias
  .footer-criterias__wrapper
    h2.footer-criterias__title Апартаменты и квартиры посуточно в Санкт-Петербурге по критериям
      ul.footer-criterias__items
        li.footer-criterias__item.active
          a(href="/").footer-criterias__link Снять квартиры, апартаменты
        li.footer-criterias__item.active
          a(href="/").footer-criterias__link Снять жилье с ванной комнатой
        li.footer-criterias__item.active
          a(href="/").footer-criterias__link Снять жилье с бассеином
        li.footer-criterias__item.active
          a(href="/").footer-criterias__link Снять жилье в 5 минутах от метро
        li.footer-criterias__item.active
          a(href="/").footer-criterias__link Снять отели, гостиницы
        li.footer-criterias__item.active
          a(href="/").footer-criterias__link Снять жилье с кондиционером
        li.footer-criterias__item.active
          a(href="/").footer-criterias__link Снять жилье с видом на море
        li.footer-criterias__item.active
          a(href="/").footer-criterias__link Снять жилье в 10 минутах от метро
        li.footer-criterias__item.active
          a(href="/").footer-criterias__link Снять дома, коттеджи
        li.footer-criterias__item.active
          a(href="/").footer-criterias__link Снять жилье со стиральной машиной
        li.footer-criterias__item.active
          a(href="/").footer-criterias__link Снять жилье с видом на горы

        button.footer-criterias__button.footer-criterias__button--more(type="button") 
          span Показать все
          svg.footer-criterias__arrow(width="14" height="14" viewBox="0 0 14 14")
            use(xlink:href="#svg-arrow-down")
        
        li.footer-criterias__item
          a(href="/").footer-criterias__link Снять жилье в 15 минутах от метро 
        li.footer-criterias__item
          a(href="/").footer-criterias__link Снять комнату
        li.footer-criterias__item
          a(href="/").footer-criterias__link Снять жилье с парковкой
        li.footer-criterias__item
          a(href="/").footer-criterias__link Снять жилье  с видом на город
        li.footer-criterias__item
          a(href="/").footer-criterias__link Снять жилье в 20 минутах от метро
        li.footer-criterias__item
          a(href="/").footer-criterias__link Снять апарт-отель
        li.footer-criterias__item
          a(href="/").footer-criterias__link Снять жилье с детской площадкой
        li.footer-criterias__item
          a(href="/").footer-criterias__link Снять жилье с видом на реку, озеро
        li.footer-criterias__item
          a(href="/").footer-criterias__link Снять жилье без депозита
        li.footer-criterias__item
          a(href="/").footer-criterias__link Снять гостевой дом
        li.footer-criterias__item
          a(href="/").footer-criterias__link Снять жилье с холодильником
        li.footer-criterias__item
          a(href="/").footer-criterias__link Снять жилье с лифтом
        li.footer-criterias__item
          a(href="/").footer-criterias__link Снять жилье без посредников
        li.footer-criterias__item
          a(href="/").footer-criterias__link Снять жилье с интернет Wi-fi
        li.footer-criterias__item
          a(href="/").footer-criterias__link Снять жилье с балконом
        li.footer-criterias__item
          a(href="/").footer-criterias__link Снять жилье с доступом для инвалидов
        li.footer-criterias__item
          a(href="/").footer-criterias__link Снять жилье с трансфером
        li.footer-criterias__item
          a(href="/").footer-criterias__link Снять жилье с десткой площадкой
        li.footer-criterias__item
          a(href="/").footer-criterias__link Снять жилье с кухней
        li.footer-criterias__item
          a(href="/").footer-criterias__link Снять жилье с ранним заездом