nav.footer-nav
  .wrapper
    .footer-nav__wrapper
      .footer-nav__blocks.footer-nav__blocks--center
        .footer-nav__block
          a.footer-nav__tel(href="tel:+7 499 703-01-20") +7 499 703-01-20
          .footer-nav__comment Быстрое бронирование 24/7
        .footer-nav__block
          a.footer-nav__tel(href="tel:8-800-333-41-99") 8-800-333-41-99
          .footer-nav__comment Быстрое бронирование 24/7

        .footer-nav__block
        .footer-nav__block.footer-nav__block--none
          button.footer-nav__button(type="button") Личный кабинет
          .footer-nav__comment Узнать статус заявки


      .footer-nav__blocks.footer-nav__blocks--border
        .footer-nav__block.footer-nav__dropdown
          .footer-nav__header
            h2.footer-nav__title Категории поиска
            svg(width="10" height="16" viewBox="0 0 10 16")
              use(xlink:href="#svg-arrow-right")
          .footer-nav__links.footer-nav__menu
            a.footer-nav__link(href="#") Санатории и пансионаты
            a.footer-nav__link(href="#") Отели и хостелы
            a.footer-nav__link(href="#") Авиабилеты
            a.footer-nav__link(href="#") Экскурсии
            a.footer-nav__link(href="#") Базы отдыха
            a.footer-nav__link(href="#") Детские лагеря

        .footer-nav__block.footer-nav__dropdown
          .footer-nav__header
            h2.footer-nav__title Туристу
            svg(width="10" height="16" viewBox="0 0 10 16")
              use(xlink:href="#svg-arrow-right")
          .footer-nav__links.footer-nav__menu
            a.footer-nav__link(href="#") Как забронировать
            a.footer-nav__link(href="#") МосГорТур
            a.footer-nav__link(href="#") О компании
            a.footer-nav__link(href="#") Отзывы о нас
            a.footer-nav__link(href="#") Акции

        .footer-nav__block.footer-nav__dropdown
          .footer-nav__header
            h2.footer-nav__title Сотрудничество
            svg(width="10" height="16" viewBox="0 0 10 16")
              use(xlink:href="#svg-arrow-right")
          .footer-nav__links.footer-nav__menu
            a.footer-nav__link(href="#") Предприятиям и профсоюзам
            a.footer-nav__link(href="#") Партнерская программа для сайтов
            a.footer-nav__link(href="#") Объектам размещения
            a.footer-nav__link(href="#") Туроператорам

        .footer-nav__block.footer-nav__dropdown
          .footer-nav__header
            h2.footer-nav__title Офис в Москве
            svg(width="10" height="16" viewBox="0 0 10 16")
              use(xlink:href="#svg-arrow-right")
          .footer-nav__content.footer-nav__menu
            a.footer-nav__address(href="https://yandex.ru/maps/-/CDf7f2Kn" target="_blank") 
              address ул. Рождественский бульвар 9, оф. 213
            .footer-nav__undergrounds
              .footer-nav__underground
                svg(width="18" height="12" viewBox="0 0 18 12")
                  use(xlink:href="#svg-metro-green")
                span Метро Трубная (2 мин.)
              .footer-nav__underground
                svg(width="18" height="12" viewBox="0 0 18 12")
                  use(xlink:href="#svg-metro")
                span Метро Цветной бульвар (3 мин.)
            a.footer-nav__map(href="#") Схема проезда

