.footer-bottom
  .wrapper
    .footer-bottom__wrapper
      .footer-bottom__text © 2014–<span class="currentYear">2024</span>, официальный сайт системы бронирования Путевка.ком, Путевка.ру
      .footer-bottom__links
        a.footer-bottom__link(href="#") Политика конфиденциальности
        a.footer-bottom__link(href="#") Карта сайта