section.footer-reviews
  .footer-reviews__wrapper
    .footer-reviews__description
      h2.footer-reviews__title Отзывы о нас
      p.footer-reviews__text Более 700 реальных отзывов от довольных клиентов на известных ресурсах и нашем сайте!
      .footer-reviews__buttons.footer-reviews__buttons--desk
        +button-transparent('Читать все отзывы', '#')
    .footer-reviews__ratings
      .footer-reviews__rating
        a.footer-reviews__logo(href="#")
          img(src="/assets/images/reviews/ya-logo.svg" alt="" loading="lazy")
        .footer-reviews__content
          .footer-reviews__amount 5,0
          .footer-reviews__value
            .footer-reviews__stars
              img(src="/assets/images/reviews/star.svg" alt="star" loading="lazy")
              img(src="/assets/images/reviews/star.svg" alt="star" loading="lazy")
              img(src="/assets/images/reviews/star.svg" alt="star" loading="lazy")
              img(src="/assets/images/reviews/star.svg" alt="star" loading="lazy")
              img(src="/assets/images/reviews/star.svg" alt="star" loading="lazy")
            .footer-reviews__number 333 отзыва
  
      .footer-reviews__rating
        a.footer-reviews__logo(href="#")
          img(src="/assets/images/reviews/google-logo.svg" alt="" loading="lazy")
        .footer-reviews__content
          .footer-reviews__amount 4,9
          .footer-reviews__value
            .footer-reviews__stars
              img(src="/assets/images/reviews/star.svg" alt="star" loading="lazy")
              img(src="/assets/images/reviews/star.svg" alt="star" loading="lazy")
              img(src="/assets/images/reviews/star.svg" alt="star" loading="lazy")
              img(src="/assets/images/reviews/star.svg" alt="star" loading="lazy")
              img(src="/assets/images/reviews/star.svg" alt="star" loading="lazy")
            .footer-reviews__number 49 отзывов
    .footer-reviews__buttons.footer-reviews__buttons--mob
        +button-transparent('Читать все отзывы', '#')