.search-sorting {
  @include max-screen(tablet) {
    padding-top: 20px;
  }
  @include min-screen(tablet-2x) {
    margin-top: 30px;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__amount {
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    color: rgba($color: $black-300, $alpha: 0.75);
  }

  &__button {
    @include max-screen(tablet-2x) {
      display: none;
    }
    @include min-screen(laptop) {
      display: block;
    }
  }

  &-dropdown {
    max-width: max-content;
    position: relative;
    &__button {
      cursor: pointer;
      display: flex;
      align-items: flex-end;
      justify-content: center; 
      gap: 4px;
      &.active {
        svg {
          transform: rotate(180deg);
        }
      }
    }
    &__value {
      font-size: 16px;
      font-weight: 500;
      line-height: 16px;
      color: $blue-500;
      border-bottom: 1px dashed transparent;
      @include min-screen(laptop) {
        transition: border-color $transition-default;
        &:hover {
          border-color: rgba($color: $blue-500, $alpha: 0.5);
        }
      }
    }
    input {
      position: absolute;
      width: 0;
      height: 0;
      opacity: 0;
      visibility: hidden;
    }
    &__arrow {
      transition: transform $transition-default;
      stroke: $gray-400;
      fill: transparent;
    }

    &__items {
      background-color: $white;
      display: flex;
      flex-direction: column;
      opacity: 0;
      min-width: 200px;
      box-shadow: 0px 5px 15px 0px rgba($color: $black, $alpha: 0.1), 0px 1px 2px 0px rgba($color: $black, $alpha: 0.1);
      padding: 10px 0;
      border-radius: 5px;
      z-index: -1;
      right: 0;
      top: calc(100% + 10px);
      visibility: hidden;
      position: absolute;
      transition: visibility $transition-default, opacity $transition-default, z-index $transition-default;
      &.active {
        opacity: 1;
        z-index: 3;
        visibility: visible;
      }
    }

    &__item {
      display: inline-block;
      cursor: pointer;
      font-size: 16px;
      font-weight: 500;
      line-height: 20px;
      color: $black-500;
      padding: 5px 20px;
      transition: background-color $transition-default, color $transition-default;

      @include min-screen(laptop) {
        &:hover {
          background-color: rgba($color: $orange-500, $alpha: 0.1);
        }
      }
      &.active {
        background-color: $orange-500;
        color: $white;
      }
    }
  }
}