.search-hero {
  background-color: $blue-700;
  padding-top: 30px;
  border-top: 1px solid rgba($color: $white, $alpha: 0.15);
  overflow: hidden;
  @include max-screen(tablet-2x) {
    height: 212px;
  }
  @include min-screen(laptop) {
    height: 256px;
  }

  &__wrapper {
    @include max-screen(tablet-2x) {
      padding-top: 10px;
      padding-bottom: 20px;
    }
    @include min-screen(laptop) {
      padding-top: 30px;
      padding-bottom: 40px;
    }
  }

  .search-buttons__slider {
    .swiper {
      @include max-screen(tablet) {
        padding: 0 20px;
      }
      &-slide {
        width: auto;
      }
    }
  }

  &__links {
    display: flex;
    align-items: center;
    gap: 10px;
    @include min-screen(laptop) {
      flex-wrap: wrap;
    }
  }

  &__link {
    background-color: rgba($color: $white, $alpha: 0.1);
    border-radius: 6px;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 12px;
    white-space: nowrap;
    transition: background-color $transition-default;
    svg {
      width: 20px;
      height: 20px;
      stroke: transparent;
      fill: rgba($color: $white, $alpha: 0.75);
      transition: fill $transition-default;
    }
    span {
      color: rgba($color: $white, $alpha: 0.75);
      font-size: 16px;
      font-weight: 700;
      line-height: 20px;
      transition: color $transition-default;
    }
    @include min-screen(laptop) {
      &:hover {
        background-color: rgba($color: $white, $alpha: 0.2);
      }
    }
    &.active {
      background-color: $orange-500;
      svg {
        fill: $white;
      }
      span {
        color: $white;
      }
    }
  }

  &__title {
    color: $white;
    @include max-screen(tablet-2x) {
      font-size: 18px;
      font-weight: 700;
      line-height: 20px;
      margin-top: 30px;
    }
    @include min-screen(laptop) {
      font-size: 30px;
      font-weight: 800;
      line-height: 32px;
      margin-top: 40px;
    }
  }
}