.search-sidebar {
  background-color: $white;
  border-radius: 10px;
  @include max-screen(tablet-2x) {
    
  }

  &__wrapper {
    padding: 0 20px;
  }

  &__top {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;

    padding: 18px 20px;
    background-color: $blue-700;
    display: flex;
    justify-content: space-between;
    span {
      font-family: 'Panton';
      font-size: 18px;
      font-weight: 700;
      line-height: 24px;
      color: $white;
    }
  }

  &__bottom {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 2;

    padding: 18px 20px;
    border-top: 1px solid rgba($color: $blue-700, $alpha: 0.12);
    background-color: $white;
  }

  &__submit {
    font-size: 18px;
    font-weight: 700;
    line-height: 21.6px;
    text-align: center;
    color: $white;
    background-color: $orange-500;
    padding: 9px;
    width: 100%;
    border-radius: 4px;
  }

  &__close {
    stroke: rgba($color: $white, $alpha: 0.5);
  }

  .search-keywords {
    @include max-screen(tablet-2x) {
      display: block;
    }
    @include min-screen(laptop) {
      display: none;
    }
  }

  &__help {
    position: relative;
    svg {
      stroke: $gray-400;
      fill: transparent;
      transition: stroke $transition-default;
    }
    &:hover {
      svg {
        stroke: $blue-500;
      }
    }
    &--stations {
      &:hover {
        .search-sidebar__hint {
          z-index: 2901;
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }

  &__hint {
    z-index: -1;
    opacity: 0;
    visibility: hidden;
    transition: opacity $transition-default, z-index $transition-default, visibility $transition-default;

    position: absolute;
    z-index: 15;
    top: 27px;
    left: -40px;
    width: 270px;
    height: auto;
    padding: 16px;
    background-color: $black-400;
    box-shadow: 0px 5px 25px 0px rgba($color: $blue-900, $alpha: 0.15), 0px 3px 6px 0px rgba($color: $blue-900, $alpha: 0.07);
    border-radius: 5px;
    &:before {
      position: absolute;
      content: '';
      bottom: 100%;
      left: 43px;
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-bottom: 5px solid $black-400;
    }
    &:after {
      position: absolute;
      content: '';
      bottom: 100%;
      left: 40px;
      width: 16px;
      height: 27px;
      background-color: transparent;
    }
    p {
      font-size: 16px;
      font-weight: 400;
      line-height: 18px;
      color: $white;
    }
  }

  &__stations {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 6px;
  }

  &__station {
    background-color: $bg-blue-100;
    border-radius: 4px;
    padding: 6px 4px 6px 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: background-color $transition-default;
    position: relative;
    svg {
      width: 18px;
      height: 18px;
      stroke: $gray-400;
      transition: stroke $transition-default
    }
    span {
      font-size: 14px;
      font-weight: 500;
      line-height: 18px;
      color: $black-400;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
    &:hover {
      background-color: rgba($color: $red-400, $alpha: 0.1);
      svg {
        stroke: $red-400;
      }
    }
  }

  &__circles {
    display: flex;
    align-items: center;
  }

  &__circle {
    width: 12px;
    height: 12px;
    border: 2px solid $white;
    border-radius: 100px;
    margin-left: -4px;
    &--green {
      background-color: $green-700;
    }
    &--red {
      background-color: $red-700;
    }
    &--blue {
      background-color: $blue-850;
    }
    &--blue-light {
      background-color: $blue-200;
    }
    &--brown {
      background-color: $brown-700;
    }
  }

  &__button {
    white-space: nowrap;
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
    text-align: left;
    color: $blue-500;
    border-bottom: 1px dashed transparent;
    transition: border-color $transition-default;
    max-width: max-content;
    cursor: pointer;
    &:hover {
      border-color: rgba($color: $blue-500, $alpha: 0.5);
    }
    &--open {
      margin-top: 20px;
    }
  }

  &__switchers {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &-switcher {
    display: flex;
    justify-content: space-between;
    &__button {
      position: relative;
      display: inline-block;
      width: 40px;
      height: 24px;
      input {
        opacity: 0;
        width: 0;
        height: 0;
        &:checked + .search-sidebar-switcher__toggle {
          background-color: $blue-700;
          &:before {
            -webkit-transform: translateX(18px);
            -ms-transform: translateX(18px);
            transform: translateX(18px);
          }
        } 
      }
    }
    &__toggle {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba($color: $blue-700, $alpha: 0.1);
      -webkit-transition: $transition-default;
      transition: $transition-default;
      border-radius: 100px;
      &:before {
        position: absolute;
        border-radius: 50%;
        content: "";
        height: 16px;
        width: 16px;
        left: 4px;
        bottom: 4px;
        background-color: $white;
        box-shadow: 0px 2px 3px 1px rgba($color: $black-400, $alpha: 0.1);
        -webkit-transition: $transition-default;
        transition: $transition-default;
      }
    }
    &__name {
      font-size: 16px;
      font-weight: 500;
      line-height: 18px;
      color: $black-300;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__left {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__inner {
    margin-top: 20px;
    padding: 7px 0;
  }

  &__costs {
    margin-top: 20px;
    display: flex;
  }

  &__cost {
    padding: 12px 36px;
    background-color: rgba($color: $blue-700, $alpha: 0.05);
    border: 1px solid rgba($color: $blue-700, $alpha: 0.15);
    font-size: 14px;
    font-weight: 500;
    width: 100%;
    line-height: 16px;
    position: relative;
    cursor: pointer;
    &--left {
      border-radius: 4px 0 0 4px;
    }
    &--right {
      border-radius: 0 4px 4px 0;
    }
    input {
      padding-left: 36px;
    }
    &:focus {
      background-color: transparent;
    }
  }

  &__value {
    position: relative;
    span {
      position: absolute;
      left: 12px;
      top: 50%;
      transform: translateY(-50%);
      font-size: 14px;
      font-weight: 400;
      line-height: 16px;
      color: $gray-400;
    }
  }

  &__prices {
    display: flex;
    align-items: center;
  }

  &__price {
    border-radius: 50px;
    background-color: transparent;
    padding: 4px 8px;
    font-size: 14px;
    font-weight: 700;
    line-height: 12px;
    color: $blue-500;
    transition: color $transition-default, background-color $transition-default;
    &.active {
      background-color: rgba($color: $blue-700, $alpha: 0.15);
      color: $black-300;
    }
    &:not(.active) {
      cursor: pointer;
    }
  }

  &__parameter {
    color: $gray-400;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
  }

  &__block {
    padding-top: 20px;
    padding-bottom: 24px;
    position: relative;
    &:before {
      content: '';
      position: absolute;
      border: 1px dashed rgba($color: $blue-700, $alpha: 0.15);
      width: calc(100% + 40px);
      height: 1px;
      left: -20px;
      right: 0;
      top: 0;
    }
  }

  &__title {
    font-family: 'Tilda Sans';
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    color: $black-400;
  }

  &__subtitle {
    margin-top: 20px;
    font-family: 'Tilda Sans';
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: $gray-400;
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    margin-top: 20px;
  }

  &__label {
    position: relative;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    &:hover {
      .search-sidebar__checkbox {
        &:before {
          border-color: $blue-700;
          background-color: rgba($color: $blue-700, $alpha: 0.1);
        }
      }
    }
  }

  &__checkbox {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: $black-300;
    &-uppercase {
      text-transform: uppercase;
    }
  }

  &__input {
    position: absolute;
    z-index: -1;
    opacity: 0;
    & ~ .search-sidebar__checkbox {
      position: relative;
      padding-left: 30px;
      &:before {
        position: absolute;
        content: '';
        display: inline-block;
        top: 50%;
        left: 0%;
        transform: translate(0, -50%);
        border: 1px solid rgba($color: $blue-700, $alpha: 0.15);
        background-color: rgba($color: $blue-700, $alpha: 0.05);
        width: 20px;
        height: 20px;
        border-radius: 3px;
        transition: border-color $transition-default, background-color $transition-default;
      }
    }
    &:checked ~ .search-sidebar__icon {
      opacity: 1;
      transition: opacity $transition-default;
    }
    &:checked ~ .search-sidebar__checkbox {
      &:before {
        background-color: $blue-700;
        border: 1px solid $blue-700;

      }
    }
  }

  &__radio {
    position: absolute;
    z-index: -1;
    opacity: 0;
    & ~ .search-sidebar__checkbox {
      position: relative;
      padding-left: 30px;
      &:before {
        position: absolute;
        content: '';
        display: inline-block;
        top: 50%;
        left: 0%;
        transform: translate(0, -50%);
        border: 1px solid rgba($color: $blue-700, $alpha: 0.15);
        background-color: rgba($color: $blue-700, $alpha: 0.05);
        width: 20px;
        height: 20px;
        border-radius: 50px;
        transition: border-color $transition-default, background-color $transition-default;
      }
      &:hover {
        &:before {
          border-color: $blue-700;
          background-color: rgba($color: $blue-700, $alpha: 0.1);
        }
      }
    }
    &:checked ~ .search-sidebar__checkbox {
      &:before {
        background-color: $white;
        border-width: 6px;
        border-color: $blue-700;
      }
    }
  }

  &__icon {
    stroke: transparent;
    position: absolute;
    left: 4px;
    top: 5px;
    opacity: 0;
    transition: opacity $transition-default;
  }

  .ui-slider {
    height: 4px;
    border-radius: 30px;
    background-color: rgba($color: $blue-700, $alpha: 0.15);
    border: none;
  }

  .ui-slider-handle {
    background-color: $orange-500;
    border: none;
    width: 18px;
    height: 18px;
    border-radius: 50px;
    box-shadow: 0px 2px 3px 1px rgba($color: $black-400, $alpha: 0.05 );
    top: 50%;
    transform: translateY(-50%);
  }
  .ui-slider-range {
    height: 4px;
    background-color: rgba($color: $orange-500, $alpha: 0.5);
  }
}