.search-button {
  @include max-screen(tablet-2x) {
    display: none;
  }
  @include min-screen(laptop) {
    display: block;
  }
  
  &__items {
    display: flex;
    gap: 10px;
    overflow-y: auto;
  }

  &__item {
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    line-height: 16px;
    color: $blue-500;
    padding: 7px 12px;
    background-color: rgba($orange-500, 0.15);
    border-radius: 4px;
    white-space: nowrap;
    cursor: pointer;
    &:active {
      color: $black-400;
    }
    @include min-screen(laptop) {
      transition: color $transition-default;
      &:hover {
        color: $black-400;
      }
    }
  }

  .search-buttons__slider {
    position: relative;
    &:before {
      position: absolute;
      content: '';
      width: 30px;
      height: 30px;
      right: 0;
      top: 0;
      bottom: 0;
      background-image: linear-gradient(270deg, #F4F6FA 0%, rgba(244, 246, 250, 0) 100%);
      z-index: 2;
    }
    .swiper {
      &-slide {
        width: auto;
      }
    }
  }
}