.about-gratitude {
  overflow: hidden;
  background-color: $bg-blue-200;
  @include max-screen(tablet) {
    padding: 50px 0;
  }
  @include min-screen(tablet-2x) {
    padding: 80px 0 64px;
  }

  &__wrapper {
    @include min-screen(tablet-2x) {
      display: flex;
      gap: 64px;
      flex-direction: row;
    }
  }

  &__slider.swiper {
    @include max-screen(tablet) {
      overflow: visible;
      margin-top: 40px;
      padding-bottom: 20px;

    }
    @include min-screen(tablet-2x) {
      overflow: hidden;
      margin-top: 0;
      max-width: 768px;
    }
    .swiper {
      &-wrapper {
        align-items: stretch;
      }
      &-slide {
        height: auto;
      }
    }
  }

  &__content {
    @include max-screen(tablet) {

    }
    @include min-screen(tablet-2x) {
      width: 464px;
    }
  }

  &__title {
    color: $black-400;
    @include max-screen(tablet) {
      font-size: 24px;
      line-height: 28px;
    }
    @include min-screen(tablet-2x) {
      font-size: 40px;
      line-height: 40px;
    }
  }
  &__text {
    color: $black-300;
    @include max-screen(tablet) {
      font-size: 16px;
      line-height: 20px;
      margin-top: 20px;
    }
    @include min-screen(tablet-2x) {
      font-size: 18px;
      line-height: 24px;
      margin-top: 40px;
    }
  }

  &__img {
    position: relative;
    border-radius: 8px;
    background-color: $white;
    box-shadow: 0px 5px 20px 0px #26314105, 0px 1px 3px 1px #2631410D;
    @include max-screen(tablet) {
      padding: 10px;
    }
    @include min-screen(tablet-2x) {
      padding: 20px;
    }
    @include min-screen(laptop) {
      cursor: pointer;
      transition: opacity $transition-default;
      &:hover {
        opacity: 0.7;
        .about-gratitude__icon {
          opacity: 1;
        }
      }
    }
  }

  &__icon {
    top: 10px;
    right: 10px;
    position: absolute;
    background-color: $black-400;
    width: 30px;
    height: 30px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity $transition-default;
  }

  &__name {
    color: $gray-400;
    margin-top: 10px;
    @include max-screen(tablet) {
      font-size: 12px;
      line-height: 14px;
    }
    @include min-screen(tablet-2x) {
      text-align: center;
      font-size: 14px;
      line-height: 16px;
    }
  }

  &__navigation {
    margin-top: 64px;
    position: relative;
    width: 100px;
    height: 40px;
    @include max-screen(tablet) {
      display: none;
    }
    @include min-screen(tablet-2x) {
      display: block;
    }
    .swiper-button {
      &-next, 
      &-prev {
        top: 0;
        bottom: 0;
        margin: 0;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50px;
        background-color: $white;
        box-shadow: 0px 5px 15px 0px #4B6AA626, 0px 1px 4px 0px #14448B0D;
        &:active {
          background-color: $blue-500;
          svg {
            stroke: $white;
          }
        }
        @include min-screen(laptop) {
          transition: background-color $transition-default;
          svg {
            transition: stroke $transition-default;
          }
          &:hover {
            background-color: $blue-500;
            svg {
              stroke: $white;
            }
          }
        }
        svg {
          width: 10px;
          height: 16px;
          fill: transparent;
        }
        &:after {
          display: none;
        }
      }
      &-prev {
        left: 0;
        svg {
          margin-right: 2px;
          transform: rotate(180deg);
        }
      }
      &-next {
        right: 0;
        svg {
          margin-left: 2px;
        }
      }
    }
  }

  .swiper-scrollbar {
    background-color: rgba($color: $blue-700, $alpha: 0.07);
    @include min-screen(tablet-2x) {
      display: none;
    }
    &-drag {
      background-color: rgba($color: $blue-700, $alpha: 0.15)
    }
  }
  .swiper-horizontal > .swiper-scrollbar, .swiper-scrollbar.swiper-scrollbar-horizontal {
    left: 0;
    bottom: 0;
    width: 100%;
  }
}

.lg {
  &-download,
  &-pager-outer {
    display: none;
  }
  &-close {
    margin-right: 30px;
    margin-top: 30px;
    &:after {
      color: $white;
    }
  }
  &-counter {
    padding: 0;
    margin-top: 30px;
    margin-left: 30px;
    background-color: rgba($color: $white, $alpha: 0.05);
    border-radius: 6px;
    padding: 12px 16px;
    span {
      color: $white;
    }
  }
}

.lg-toolbar .lg-icon {
  background-color: rgba($color: $white, $alpha: 0.05);
  padding: 6px;
  border-radius: 2px;
  width: 40px;
  height: 40px;
  color: $gray-400;
}

.lg-next, 
.lg-prev {
  width: 40px;
  height: 40px;
  background-color: rgba($color: $white, $alpha: 0.05);
  border-radius: 100px;
}


.lg-next {
  &:before {
    margin-right: -2px;
    position: absolute;
    right: 0;
    width: 20px;
    height: 20px;
    content: '';
    background-image: url("data:image/svg+xml,%3Csvg width='10' height='16' viewBox='0 0 10 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.75 14.5L8.25 8L1.75 1.5' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center;
    background-position: 50% 50%;
    transform: translate(-50%, -50%);
    top: 50%;
  }
}

.lg-sub-html {
  font-family: "Tilda Sans";
  font-size: 16px;
  font-weight: 600;
  line-height: 18px;
  text-align: center;
  padding: 30px 40px;
}

.lg-prev {
  transform: rotate(180deg);
  &:after {
    margin-right: -2px;
    position: absolute;
    width: 20px;
    height: 20px;
    content: '';
    background-image: url("data:image/svg+xml,%3Csvg width='10' height='16' viewBox='0 0 10 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.75 14.5L8.25 8L1.75 1.5' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center;
    right: 0;
    background-position: 50% 50%;
    transform: translate(-50%, -50%);
    top: 50%;
  }
}
