.about-types {
  background-color: $bg-blue-100;
  position: relative;

  @include max-screen(tablet) {
    padding-top: 100px;
    padding-bottom: 50px;
    margin-top: -80px;
  }
  @include min-screen(tablet-2x) {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  &:before {
    position: absolute;
    content: url("/assets/images/about-types/bg-mob.svg");
    // bottom: -7px;
    // right: 0;
    width: 100px;
    right: 0;
    top: -55px;
    z-index: -1;
  }

  &__title {
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: $gray-400;
    @include max-screen(tablet) {
      padding-top: 50px;
    }
    @include min-screen(tablet-2x) {
      font-size: 40px;
      line-height: 40px;
    }
  }

  &__cards {
    display: grid;
    @include max-screen(tablet) {
      margin-top: 30px;
      grid-template-columns: repeat(1, minmax(0, 1fr));
      gap: 16px;
    }
    @include min-screen(tablet-2x) {
      margin-top: 40px;
      gap: 20px;
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }
}