.about-history {
  overflow: hidden;
  @include max-screen(tablet) {
    padding: 30px 0;
  }
  @include min-screen(tablet-2x) {
    padding: 45px 0;
  }

  &__wrapper {
    position: relative;
  }

  &__title {
    color: $black-400;
    font-weight: 400;
    @include max-screen(tablet) {
      font-size: 24px;
      line-height: 28px;
    }
    @include min-screen(tablet-2x) {
      font-size: 40px;
      line-height: 40px;
    }
  }

  &__tabs {
    margin-top: 60px;
    display: flex;
    @include max-screen(tablet) {
      overflow-x: auto;
      gap: 20px;
    }
    @include min-screen(tablet-2x) {
      gap: 24px;
    }
    &:before {
      position: absolute;
      content: '';
      border: 1px dashed rgba($color: $blue-700, $alpha: 0.2);
      width: 100%;
      top: 6px;
      left: 88%;
      height: 1px;
      @include max-screen(tablet) {
        display: none;
      }
      @include min-screen(tablet-2x) {
        display: block;
      }
      @include min-screen(desktop) {
        left: 86%;
      }
    }
  }

  &__data {
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    color: $white;
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }

  &__tab {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__icon {
    position: relative;
    svg {
      stroke: $blue-700;
      fill: $white;
      stroke-opacity: 0.2;
      transition: stroke $transition-default, stroke-opacity $transition-default;
    }
  }

  &__year {
    margin-top: 10px;
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    color: $blue-500;
    background-color: $bg-blue;
    border-radius: 50px;
    padding: 4px 10px;
    max-width: max-content;
    transition: color $transition-default, background-color $transition-default;
    &:active {
      color: $white;
      background-color: $orange-500;
    }
    @include min-screen(tablet-2x) {
      &:hover {
        color: $white;
        background-color: $orange-500;
      }
    }
  }

  &__text {
    margin-top: 20px;
    max-width: 196px;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    color: $black-300;
    @include max-screen(tablet) {
      display: none;
    }
    @include min-screen(tablet-2x) {
      display: block;
    }
  }

  &__slider {
    @include max-screen(tablet) {
      margin-top: 30px;
    }
    @include min-screen(tablet-2x) {
      margin-top: 50px;
    }
  }

  &__slide {
    display: flex;
    border-radius: 10px;
    overflow: hidden;
    @include max-screen(tablet) {
      flex-direction: column;
    }
    @include min-screen(tablet-2x) {
      flex-direction: row;
      height: 376px;
    }
  }

  &__description {
    background-color: $black-300;
    @include max-screen(tablet) {
      padding: 40px 24px 120px;
    }
    @include min-screen(tablet-2x) {
      padding: 50px 64px;
    }
  }

  &__subtitle {
    font-weight: 700;
    color: $white;
    @include max-screen(tablet) {
      font-size: 18px;
      line-height: 20px;
    }
    @include min-screen(tablet-2x) {
      font-size: 24px;
      line-height: 32px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    @include max-screen(tablet) {
      margin-top: 20px;
      gap: 20px;
    }
    @include min-screen(tablet-2x) {
      margin-top: 24px;
      gap: 24px;
    }
    p {
      color: $white;
      font-weight: 400;
      @include max-screen(tablet) {
        line-height: 20px;
        font-size: 16px;
      }
      @include min-screen(tablet-2x) {
        line-height: 24px;
        font-size: 18px;
      }
    }
  }

  &__photo {
    aspect-ratio: 1 / 1;
    img {
      width: 100%;
    }
  }

  .swiper-pagination {
    position: relative;
    &-bullet {
      width: auto;
      height: auto;
      background-color: transparent;
      opacity: 1;
      display: flex;
      &:before {
        position: absolute;
        content: '';
        top: 6px;
        left: 30px;
        right: 0;
        background-color: rgba($color: $blue-700, $alpha: 0.2) ;
        height: 2px;
        @include max-screen(tablet) {
          width: 128%;
        }
        @include min-screen(tablet-2x) {
          width: 119%;
        }
      }
      &:last-child {
        &:before {
          display: none;
          margin-right: 0;
        }
      }
      &-active {
        .about-history__year {
          color: $white;
          background-color: $orange-500;
        }
        .about-history__icon {
          svg {
            stroke: $orange-500;
            stroke-opacity: 1;
            // opacity: 1;
          }
        }
      }
    }
  }
  .swiper-pagination-bullets.swiper-pagination-horizontal {
    top: 0;
    position: relative;
  }
  .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0;
  }

  &__navigation {
    position: absolute;
    z-index: 2;
    background-color: rgba($color: $white-100, $alpha: 0.15);
    border-radius: 50px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    @include max-screen(tablet) {
      bottom: 40px;
      left: 24px;
      right: 24px;
    }
    @include min-screen(tablet-2x) {
      bottom: 50px;
      right: auto;
      width: 174px;
    }
    @include mm-screen(tablet-2x) {
      left: 43%;
    }
    @include mm-screen(laptop) {
      left: 35%;
    }
    @include min-screen(desktop) {
      left: 34%;
    }
    .swiper-button {
      &-next, 
      &-prev {
        top: 0;
        bottom: 0;
        margin: 0;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50px;
        background-color: $white;
        &:active {
          background-color: $blue-500;
          svg {
            stroke: $white;
          }
        }
        @include min-screen(laptop) {
          transition: background-color $transition-default;
          svg {
            transition: stroke $transition-default;
          }
          &:hover {
            background-color: $blue-500;
            svg {
              stroke: $white;
            }
          }
        }
        svg {
          width: 10px;
          height: 16px;
          fill: transparent;
        }
        &:after {
          display: none;
        }
      }
      &-prev {
        left: 0;
        svg {
          margin-right: 2px;
          transform: rotate(180deg);
        }
      }
      &-next {
        right: 0;
        svg {
          margin-left: 2px;
        }
      }
      &-disabled {
        background-color: rgba($color: $white, $alpha: 0.1);
        svg {
          stroke: rgba($color: $white, $alpha: 0.25);
        }
      }
    }
  }
}