include ../mixins/button-transparent

section.main-promo
  .wrapper
    .main-promo__wrapper
      .swiper
        .swiper-wrapper
          .swiper-slide
            .main-promo__block
              a(href="/")
                span.visually-hidden Открытый ЮГ 2024
              .main-promo__bg
                img(src="/assets/images/main-promo/bg-1.png", alt="promo-bg")
              .main-promo__container
                .main-promo__content
                  h3.main-promo__title.main-promo__title--red Открытый ЮГ 2024
                  p.main-promo__text.main-promo__text--black Скидки в самые популярные санатории Крыма и Краснодарского края!
                .main-promo__discount
                  span Скидки до 30%
          .swiper-slide
            .main-promo__block
              a(href="/")
                span.visually-hidden Отдых по сертификатам МОСГОРТУР
              .main-promo__bg
                img(src="/assets/images/main-promo/bg-2.png", alt="promo-bg")
              .main-promo__container
                .main-promo__content
                  h3.main-promo__title Отдых по сертификатам МОСГОРТУР
                  p.main-promo__text Полная или частичная оплата услуг отдыха сертификатом
                .main-promo__picture
                  img(src="/assets/images/main-promo/logo.png", alt="logo")
          .swiper-slide
            .main-promo__block
              a(href="/")
                span.visually-hidden Что лечат на разных курортах
              .main-promo__bg
                img(src="/assets/images/main-promo/bg-3.png", alt="promo-bg")
              .main-promo__container
                .main-promo__content
                  h3.main-promo__title Что лечат на разных курортах
                  p.main-promo__text Инструкция по выбору лучшего места для оздоровления.
                .main-promo__button
                  span Читать
          .swiper-slide
            .main-promo__block
              a(href="/")
                span.visually-hidden Отдых по сертификатам МОСГОРТУР
              .main-promo__bg
                img(src="/assets/images/main-promo/bg-2.png", alt="promo-bg")
              .main-promo__container
                .main-promo__content
                  h3.main-promo__title Отдых по сертификатам МОСГОРТУР
                  p.main-promo__text Полная или частичная оплата услуг отдыха сертификатом
                .main-promo__picture
                  img(src="/assets/images/main-promo/logo.png", alt="logo")
      button(type="button", aria-label="Previous").swiper-button-prev
        svg(width="10" height="16" viewBox="0 0 10 16")
          use(xlink:href="#svg-arrow-right")
      button(type="button", aria-label="Next").swiper-button-next
        svg(width="10" height="16" viewBox="0 0 10 16")
          use(xlink:href="#svg-arrow-right")
      .main-promo__buttons
        a(href="/") 
          +button-transparent('Смотреть все акции')

