section.main-resorts
  .wrapper
    h2 Популярные курорты для отдыха и лечения
  .wide-wrapper
    .main-resorts__wrapper
      .main-resorts__cards
        +resort-card(
          {
            className: '',
            image: {
              src: '/assets/images/main-resorts/mob-1.png',
              alt: 'resort-1'
            },
            price: 'От 19 990 ₽',
            discount: '',
            booking: '',
            title: 'Краснодарский край',
            locations: [
              {
                title: 'Сочи'
              },
              {
                title: 'Адлер'
              },
              {
                title: 'Анапа'
              },
              {
                title: 'Туапсе'
              },
              {
                title: 'Геленджик'
              },
              {
                title: 'Мацеста'
              },
            ]
          }
        )
        +resort-card(
          {
            className: '',
            image: {
              src: '/assets/images/main-resorts/mob-2.png',
              alt: 'resort-2'
            },
            price: '',
            discount: 'Скидки до 30%',
            booking: '',
            title: 'Крым',
            locations: [
              {
                title: 'Ялта'
              },
              {
                title: 'Алушта'
              },
              {
                title: 'Евпатория'
              },
              {
                title: 'Саки'
              },
              {
                title: 'ЮБК'
              },
              {
                title: 'Гурзуф'
              },
              {
                title: 'Мисхор'
              },
            ]
          }
        )
        +resort-card(
          {
            className: '',
            image: {
              src: '/assets/images/main-resorts/mob-3.png',
              alt: 'resort-3'
            },
            price: '',
            discount: '',
            booking: '',
            title: 'КавМинВоды',
            locations: [
              {
                title: 'Кисловодск'
              },
              {
                title: 'Ессентуки'
              },
              {
                title: 'Пятигорск'
              },
              {
                title: 'Железноводск'
              },
            ]
          }
        )
      .main-resorts__items
        +resort-card(
          {
            className: 'resort-card--mini',
            image: {
              src: '/assets/images/main-resorts/mob-4.png',
              alt: 'resort-4'
            },
            price: '',
            discount: '',
            booking: '',
            title: 'Абхазия',
            locations: [
            ]
          }
        )
        +resort-card(
          {
            className: 'resort-card--mini',
            image: {
              src: '/assets/images/main-resorts/mob-5.png',
              alt: 'resort-5'
            },
            price: '',
            discount: '',
            booking: '',
            title: 'Белоруссия',
            locations: [
            ]
          }
        )
        +resort-card(
          {
            className: 'resort-card--mini',
            image: {
              src: '/assets/images/main-resorts/mob-6.png',
              alt: 'resort-6'
            },
            price: '',
            discount: '',
            booking: '',
            title: 'Москва и обл.',
            locations: [
            ]
          }
        )
        +resort-card(
          {
            className: 'resort-card--mini',
            image: {
              src: '/assets/images/main-resorts/mob-7.png',
              alt: 'resort-7'
            },
            price: '',
            discount: '',
            booking: 'Раннее бронирование',
            title: 'Алтай',
            locations: [
            ]
          }
        )
  .wrapper
    ul.main-resorts__list.list
      li 
        a(href="#") Ставропольский край
      li 
        a(href="#") Новгородская область
      li 
        a(href="#") Ярославская область
      li 
        a(href="#") Калининградская область
      li 
        a(href="#") Башкортостан
      li 
        a(href="#") Татарстан
      li 
        a(href="#") Свердловская область
      li 
        a(href="#") Кемеровская область
      li 
        a(href="#") Челябинская область
      li 
        a(href="#") Самарская область
      li 
        a(href="#") Нижегородская область
      li 
        a(href="#") Пермский край
      li 
        a(href="#") Новосибирская область
      li 
        a(href="#") Тюменская область
      li 
        a(href="#") Дагестан
      li 
        a(href="#") Оренбургская область
      li 
        a(href="#") Удмуртия
      li 
        a(href="#") Иркутская область
      li 
        a(href="#") Тюменская область
      li 
        a(href="#") Волгоградская область
      li 
        a(href="#") Красноярский край
      li 
        a(href="#") Тульская область
      li 
        a(href="#") Ростовская область
      li 
        a(href="#") Кабардино-Балкария
      li 
        a(href="#") Карелия
      li 
        a(href="#") Коми
      li 
        a(href="#") Марий Эл
    
    .main-resorts__buttons
      +button-transparent('Смотреть все регионы', '#')